=begin
#SimpleBilly API

#Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.

The version of the OpenAPI document: 0.1.0
Contact: support@simplebilly.com
Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module SimplebillyApi
  class AiApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param ai_suggestion_request [AiSuggestionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [AiSuggestion]
    def ai_suggest_api(ai_suggestion_request, opts = {})
      data, _status_code, _headers = ai_suggest_api_with_http_info(ai_suggestion_request, opts)
      data
    end

    # @param ai_suggestion_request [AiSuggestionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AiSuggestion, Integer, Hash)>] AiSuggestion data, response status code and response headers
    def ai_suggest_api_with_http_info(ai_suggestion_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AiApi.ai_suggest_api ...'
      end
      # verify the required parameter 'ai_suggestion_request' is set
      if @api_client.config.client_side_validation && ai_suggestion_request.nil?
        fail ArgumentError, "Missing the required parameter 'ai_suggestion_request' when calling AiApi.ai_suggest_api"
      end
      # resource path
      local_var_path = '/api/v1/support/ai/suggest'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(ai_suggestion_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AiSuggestion'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"AiApi.ai_suggest_api",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AiApi#ai_suggest_api\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param ai_config_dto [AiConfigDto] 
    # @param [Hash] opts the optional parameters
    # @return [AiWorkerConfig]
    def create_worker_api(ai_config_dto, opts = {})
      data, _status_code, _headers = create_worker_api_with_http_info(ai_config_dto, opts)
      data
    end

    # @param ai_config_dto [AiConfigDto] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AiWorkerConfig, Integer, Hash)>] AiWorkerConfig data, response status code and response headers
    def create_worker_api_with_http_info(ai_config_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AiApi.create_worker_api ...'
      end
      # verify the required parameter 'ai_config_dto' is set
      if @api_client.config.client_side_validation && ai_config_dto.nil?
        fail ArgumentError, "Missing the required parameter 'ai_config_dto' when calling AiApi.create_worker_api"
      end
      # resource path
      local_var_path = '/api/v1/support/ai/workers'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(ai_config_dto)

      # return_type
      return_type = opts[:debug_return_type] || 'AiWorkerConfig'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"AiApi.create_worker_api",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AiApi#create_worker_api\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @return [Array<AiWorkerConfig>]
    def list_workers_api(opts = {})
      data, _status_code, _headers = list_workers_api_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<AiWorkerConfig>, Integer, Hash)>] Array<AiWorkerConfig> data, response status code and response headers
    def list_workers_api_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AiApi.list_workers_api ...'
      end
      # resource path
      local_var_path = '/api/v1/support/ai/workers'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<AiWorkerConfig>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"AiApi.list_workers_api",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AiApi#list_workers_api\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param worker_id [String] 
    # @param ai_suggestion_request [AiSuggestionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [AiSuggestion]
    def run_worker_api(worker_id, ai_suggestion_request, opts = {})
      data, _status_code, _headers = run_worker_api_with_http_info(worker_id, ai_suggestion_request, opts)
      data
    end

    # @param worker_id [String] 
    # @param ai_suggestion_request [AiSuggestionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AiSuggestion, Integer, Hash)>] AiSuggestion data, response status code and response headers
    def run_worker_api_with_http_info(worker_id, ai_suggestion_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AiApi.run_worker_api ...'
      end
      # verify the required parameter 'worker_id' is set
      if @api_client.config.client_side_validation && worker_id.nil?
        fail ArgumentError, "Missing the required parameter 'worker_id' when calling AiApi.run_worker_api"
      end
      # verify the required parameter 'ai_suggestion_request' is set
      if @api_client.config.client_side_validation && ai_suggestion_request.nil?
        fail ArgumentError, "Missing the required parameter 'ai_suggestion_request' when calling AiApi.run_worker_api"
      end
      # resource path
      local_var_path = '/api/v1/support/ai/workers/{worker_id}/run'.sub('{worker_id}', CGI.escape(worker_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(ai_suggestion_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AiSuggestion'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"AiApi.run_worker_api",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AiApi#run_worker_api\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
