=begin
#SimpleBilly API

#Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.

The version of the OpenAPI document: 0.1.0
Contact: support@simplebilly.com
Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module SimplebillyApi
  class AttachmentVersionApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param attachment_id [String] 
    # @param new_version_request [NewVersionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [AttachmentVersion]
    def create_attachment_version(attachment_id, new_version_request, opts = {})
      data, _status_code, _headers = create_attachment_version_with_http_info(attachment_id, new_version_request, opts)
      data
    end

    # @param attachment_id [String] 
    # @param new_version_request [NewVersionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AttachmentVersion, Integer, Hash)>] AttachmentVersion data, response status code and response headers
    def create_attachment_version_with_http_info(attachment_id, new_version_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AttachmentVersionApi.create_attachment_version ...'
      end
      # verify the required parameter 'attachment_id' is set
      if @api_client.config.client_side_validation && attachment_id.nil?
        fail ArgumentError, "Missing the required parameter 'attachment_id' when calling AttachmentVersionApi.create_attachment_version"
      end
      # verify the required parameter 'new_version_request' is set
      if @api_client.config.client_side_validation && new_version_request.nil?
        fail ArgumentError, "Missing the required parameter 'new_version_request' when calling AttachmentVersionApi.create_attachment_version"
      end
      # resource path
      local_var_path = '/api/v1/attachments/{attachment_id}/versions'.sub('{attachment_id}', CGI.escape(attachment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(new_version_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AttachmentVersion'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"AttachmentVersionApi.create_attachment_version",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AttachmentVersionApi#create_attachment_version\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param attachment_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<AttachmentVersion>]
    def list_attachment_versions(attachment_id, opts = {})
      data, _status_code, _headers = list_attachment_versions_with_http_info(attachment_id, opts)
      data
    end

    # @param attachment_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<AttachmentVersion>, Integer, Hash)>] Array<AttachmentVersion> data, response status code and response headers
    def list_attachment_versions_with_http_info(attachment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AttachmentVersionApi.list_attachment_versions ...'
      end
      # verify the required parameter 'attachment_id' is set
      if @api_client.config.client_side_validation && attachment_id.nil?
        fail ArgumentError, "Missing the required parameter 'attachment_id' when calling AttachmentVersionApi.list_attachment_versions"
      end
      # resource path
      local_var_path = '/api/v1/attachments/{attachment_id}/versions'.sub('{attachment_id}', CGI.escape(attachment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<AttachmentVersion>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"AttachmentVersionApi.list_attachment_versions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AttachmentVersionApi#list_attachment_versions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param attachment_id [String] 
    # @param version_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Attachment]
    def restore_attachment_version(attachment_id, version_id, opts = {})
      data, _status_code, _headers = restore_attachment_version_with_http_info(attachment_id, version_id, opts)
      data
    end

    # @param attachment_id [String] 
    # @param version_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Attachment, Integer, Hash)>] Attachment data, response status code and response headers
    def restore_attachment_version_with_http_info(attachment_id, version_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AttachmentVersionApi.restore_attachment_version ...'
      end
      # verify the required parameter 'attachment_id' is set
      if @api_client.config.client_side_validation && attachment_id.nil?
        fail ArgumentError, "Missing the required parameter 'attachment_id' when calling AttachmentVersionApi.restore_attachment_version"
      end
      # verify the required parameter 'version_id' is set
      if @api_client.config.client_side_validation && version_id.nil?
        fail ArgumentError, "Missing the required parameter 'version_id' when calling AttachmentVersionApi.restore_attachment_version"
      end
      # resource path
      local_var_path = '/api/v1/attachments/{attachment_id}/versions/{version_id}/restore'.sub('{attachment_id}', CGI.escape(attachment_id.to_s)).sub('{version_id}', CGI.escape(version_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Attachment'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"AttachmentVersionApi.restore_attachment_version",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AttachmentVersionApi#restore_attachment_version\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
