=begin
#SimpleBilly API

#Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.

The version of the OpenAPI document: 0.1.0
Contact: support@simplebilly.com
Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module SimplebillyApi
  class BankingApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param iban [String] 
    # @param [Hash] opts the optional parameters
    # @return [BankLookup]
    def bank_lookup_api(iban, opts = {})
      data, _status_code, _headers = bank_lookup_api_with_http_info(iban, opts)
      data
    end

    # @param iban [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BankLookup, Integer, Hash)>] BankLookup data, response status code and response headers
    def bank_lookup_api_with_http_info(iban, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BankingApi.bank_lookup_api ...'
      end
      # verify the required parameter 'iban' is set
      if @api_client.config.client_side_validation && iban.nil?
        fail ArgumentError, "Missing the required parameter 'iban' when calling BankingApi.bank_lookup_api"
      end
      # resource path
      local_var_path = '/api/v1/bookkeeping/banking/lookup'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'iban'] = iban

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BankLookup'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"BankingApi.bank_lookup_api",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BankingApi#bank_lookup_api\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @return [nil]
    def bank_transactions_api(opts = {})
      bank_transactions_api_with_http_info(opts)
      nil
    end

    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def bank_transactions_api_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BankingApi.bank_transactions_api ...'
      end
      # resource path
      local_var_path = '/api/v1/bookkeeping/banking/transactions'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"BankingApi.bank_transactions_api",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BankingApi#bank_transactions_api\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :gemeindeschluessel 
    # @option opts [String] :plz 
    # @option opts [String] :name 
    # @option opts [String] :stichtag Stichtag for validity (YYYY-MM-DD); defaults to today. Picks row where valid_from &lt;&#x3D; date &lt;&#x3D; valid_to.
    # @option opts [String] :country_code 
    # @return [Array<HebesatzLookup>]
    def hebesatz_lookup_api(opts = {})
      data, _status_code, _headers = hebesatz_lookup_api_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :gemeindeschluessel 
    # @option opts [String] :plz 
    # @option opts [String] :name 
    # @option opts [String] :stichtag Stichtag for validity (YYYY-MM-DD); defaults to today. Picks row where valid_from &lt;&#x3D; date &lt;&#x3D; valid_to.
    # @option opts [String] :country_code 
    # @return [Array<(Array<HebesatzLookup>, Integer, Hash)>] Array<HebesatzLookup> data, response status code and response headers
    def hebesatz_lookup_api_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BankingApi.hebesatz_lookup_api ...'
      end
      # resource path
      local_var_path = '/api/v1/bookkeeping/hebesatz'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'gemeindeschluessel'] = opts[:'gemeindeschluessel'] if !opts[:'gemeindeschluessel'].nil?
      query_params[:'plz'] = opts[:'plz'] if !opts[:'plz'].nil?
      query_params[:'name'] = opts[:'name'] if !opts[:'name'].nil?
      query_params[:'stichtag'] = opts[:'stichtag'] if !opts[:'stichtag'].nil?
      query_params[:'country_code'] = opts[:'country_code'] if !opts[:'country_code'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<HebesatzLookup>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"BankingApi.hebesatz_lookup_api",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BankingApi#hebesatz_lookup_api\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
