=begin
#SimpleBilly API

#Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.

The version of the OpenAPI document: 0.1.0
Contact: support@simplebilly.com
Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module SimplebillyApi
  class BomApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param bom_create [BomCreate] 
    # @param [Hash] opts the optional parameters
    # @return [Bom]
    def create_bom(bom_create, opts = {})
      data, _status_code, _headers = create_bom_with_http_info(bom_create, opts)
      data
    end

    # @param bom_create [BomCreate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Bom, Integer, Hash)>] Bom data, response status code and response headers
    def create_bom_with_http_info(bom_create, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BomApi.create_bom ...'
      end
      # verify the required parameter 'bom_create' is set
      if @api_client.config.client_side_validation && bom_create.nil?
        fail ArgumentError, "Missing the required parameter 'bom_create' when calling BomApi.create_bom"
      end
      # resource path
      local_var_path = '/api/v1/boms'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(bom_create)

      # return_type
      return_type = opts[:debug_return_type] || 'Bom'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"BomApi.create_bom",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BomApi#create_bom\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param bom_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_bom(bom_id, opts = {})
      delete_bom_with_http_info(bom_id, opts)
      nil
    end

    # @param bom_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_bom_with_http_info(bom_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BomApi.delete_bom ...'
      end
      # verify the required parameter 'bom_id' is set
      if @api_client.config.client_side_validation && bom_id.nil?
        fail ArgumentError, "Missing the required parameter 'bom_id' when calling BomApi.delete_bom"
      end
      # resource path
      local_var_path = '/api/v1/boms/{bom_id}'.sub('{bom_id}', CGI.escape(bom_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"BomApi.delete_bom",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BomApi#delete_bom\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param bom_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Bom]
    def get_bom(bom_id, opts = {})
      data, _status_code, _headers = get_bom_with_http_info(bom_id, opts)
      data
    end

    # @param bom_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Bom, Integer, Hash)>] Bom data, response status code and response headers
    def get_bom_with_http_info(bom_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BomApi.get_bom ...'
      end
      # verify the required parameter 'bom_id' is set
      if @api_client.config.client_side_validation && bom_id.nil?
        fail ArgumentError, "Missing the required parameter 'bom_id' when calling BomApi.get_bom"
      end
      # resource path
      local_var_path = '/api/v1/boms/{bom_id}'.sub('{bom_id}', CGI.escape(bom_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Bom'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"BomApi.get_bom",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BomApi#get_bom\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page 
    # @option opts [Integer] :page_size 
    # @option opts [String] :search 
    # @option opts [String] :product_id Filter by finished product id.
    # @return [Array<Bom>]
    def list_boms(opts = {})
      data, _status_code, _headers = list_boms_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page 
    # @option opts [Integer] :page_size 
    # @option opts [String] :search 
    # @option opts [String] :product_id Filter by finished product id.
    # @return [Array<(Array<Bom>, Integer, Hash)>] Array<Bom> data, response status code and response headers
    def list_boms_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BomApi.list_boms ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling BomApi.list_boms, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling BomApi.list_boms, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/api/v1/boms/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?
      query_params[:'productId'] = opts[:'product_id'] if !opts[:'product_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<Bom>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"BomApi.list_boms",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BomApi#list_boms\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param bom_id [String] 
    # @param bom_update [BomUpdate] 
    # @param [Hash] opts the optional parameters
    # @return [Bom]
    def update_bom(bom_id, bom_update, opts = {})
      data, _status_code, _headers = update_bom_with_http_info(bom_id, bom_update, opts)
      data
    end

    # @param bom_id [String] 
    # @param bom_update [BomUpdate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Bom, Integer, Hash)>] Bom data, response status code and response headers
    def update_bom_with_http_info(bom_id, bom_update, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BomApi.update_bom ...'
      end
      # verify the required parameter 'bom_id' is set
      if @api_client.config.client_side_validation && bom_id.nil?
        fail ArgumentError, "Missing the required parameter 'bom_id' when calling BomApi.update_bom"
      end
      # verify the required parameter 'bom_update' is set
      if @api_client.config.client_side_validation && bom_update.nil?
        fail ArgumentError, "Missing the required parameter 'bom_update' when calling BomApi.update_bom"
      end
      # resource path
      local_var_path = '/api/v1/boms/{bom_id}'.sub('{bom_id}', CGI.escape(bom_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(bom_update)

      # return_type
      return_type = opts[:debug_return_type] || 'Bom'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"BomApi.update_bom",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BomApi#update_bom\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
