=begin
#SimpleBilly API

#Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.

The version of the OpenAPI document: 0.1.0
Contact: support@simplebilly.com
Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module SimplebillyApi
  class BookkeepingApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Allocate a payment to an invoice
    # @param allocate_payment_request [AllocatePaymentRequest] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def allocate_payment_api(allocate_payment_request, opts = {})
      allocate_payment_api_with_http_info(allocate_payment_request, opts)
      nil
    end

    # Allocate a payment to an invoice
    # @param allocate_payment_request [AllocatePaymentRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def allocate_payment_api_with_http_info(allocate_payment_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BookkeepingApi.allocate_payment_api ...'
      end
      # verify the required parameter 'allocate_payment_request' is set
      if @api_client.config.client_side_validation && allocate_payment_request.nil?
        fail ArgumentError, "Missing the required parameter 'allocate_payment_request' when calling BookkeepingApi.allocate_payment_api"
      end
      # resource path
      local_var_path = '/api/v1/payments/allocate'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(allocate_payment_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"BookkeepingApi.allocate_payment_api",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BookkeepingApi#allocate_payment_api\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get BWA (Betriebswirtschaftliche Auswertung) report
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :year 
    # @option opts [Integer] :month 
    # @return [BWAReport]
    def bwa_report_api(opts = {})
      data, _status_code, _headers = bwa_report_api_with_http_info(opts)
      data
    end

    # Get BWA (Betriebswirtschaftliche Auswertung) report
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :year 
    # @option opts [Integer] :month 
    # @return [Array<(BWAReport, Integer, Hash)>] BWAReport data, response status code and response headers
    def bwa_report_api_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BookkeepingApi.bwa_report_api ...'
      end
      # resource path
      local_var_path = '/api/v1/bookkeeping/bwa'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'year'] = opts[:'year'] if !opts[:'year'].nil?
      query_params[:'month'] = opts[:'month'] if !opts[:'month'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BWAReport'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"BookkeepingApi.bwa_report_api",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BookkeepingApi#bwa_report_api\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @return [ElsterStatus]
    def elster_status_api(opts = {})
      data, _status_code, _headers = elster_status_api_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @return [Array<(ElsterStatus, Integer, Hash)>] ElsterStatus data, response status code and response headers
    def elster_status_api_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BookkeepingApi.elster_status_api ...'
      end
      # resource path
      local_var_path = '/api/v1/bookkeeping/elster/status'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ElsterStatus'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"BookkeepingApi.elster_status_api",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BookkeepingApi#elster_status_api\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param zeitraum [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def elster_validate_api(zeitraum, opts = {})
      elster_validate_api_with_http_info(zeitraum, opts)
      nil
    end

    # @param zeitraum [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def elster_validate_api_with_http_info(zeitraum, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BookkeepingApi.elster_validate_api ...'
      end
      # verify the required parameter 'zeitraum' is set
      if @api_client.config.client_side_validation && zeitraum.nil?
        fail ArgumentError, "Missing the required parameter 'zeitraum' when calling BookkeepingApi.elster_validate_api"
      end
      # resource path
      local_var_path = '/api/v1/bookkeeping/ustva/elster-validate'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'zeitraum'] = zeitraum

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"BookkeepingApi.elster_validate_api",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BookkeepingApi#elster_validate_api\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param zeitraum [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def elster_xml_api(zeitraum, opts = {})
      elster_xml_api_with_http_info(zeitraum, opts)
      nil
    end

    # @param zeitraum [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def elster_xml_api_with_http_info(zeitraum, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BookkeepingApi.elster_xml_api ...'
      end
      # verify the required parameter 'zeitraum' is set
      if @api_client.config.client_side_validation && zeitraum.nil?
        fail ArgumentError, "Missing the required parameter 'zeitraum' when calling BookkeepingApi.elster_xml_api"
      end
      # resource path
      local_var_path = '/api/v1/bookkeeping/ustva/elster-xml'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'zeitraum'] = zeitraum

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"BookkeepingApi.elster_xml_api",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BookkeepingApi#elster_xml_api\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # GET /api/v1/bookkeeping/cashflow Returns operating, investing, and financing cashflow for the given period.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :year 
    # @option opts [Integer] :month 
    # @return [CashflowReport]
    def get_cashflow(opts = {})
      data, _status_code, _headers = get_cashflow_with_http_info(opts)
      data
    end

    # GET /api/v1/bookkeeping/cashflow Returns operating, investing, and financing cashflow for the given period.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :year 
    # @option opts [Integer] :month 
    # @return [Array<(CashflowReport, Integer, Hash)>] CashflowReport data, response status code and response headers
    def get_cashflow_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BookkeepingApi.get_cashflow ...'
      end
      if @api_client.config.client_side_validation && !opts[:'month'].nil? && opts[:'month'] < 0
        fail ArgumentError, 'invalid value for "opts[:"month"]" when calling BookkeepingApi.get_cashflow, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/api/v1/bookkeeping/cashflow'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'year'] = opts[:'year'] if !opts[:'year'].nil?
      query_params[:'month'] = opts[:'month'] if !opts[:'month'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CashflowReport'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"BookkeepingApi.get_cashflow",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BookkeepingApi#get_cashflow\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # GET /api/v1/bookkeeping/liquidity Returns current liquidity position with ratios.
    # @param [Hash] opts the optional parameters
    # @return [LiquidityPosition]
    def get_liquidity(opts = {})
      data, _status_code, _headers = get_liquidity_with_http_info(opts)
      data
    end

    # GET /api/v1/bookkeeping/liquidity Returns current liquidity position with ratios.
    # @param [Hash] opts the optional parameters
    # @return [Array<(LiquidityPosition, Integer, Hash)>] LiquidityPosition data, response status code and response headers
    def get_liquidity_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BookkeepingApi.get_liquidity ...'
      end
      # resource path
      local_var_path = '/api/v1/bookkeeping/liquidity'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'LiquidityPosition'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"BookkeepingApi.get_liquidity",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BookkeepingApi#get_liquidity\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get open invoices for a customer
    # @param customer_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<Invoice>]
    def get_open_invoices_api(customer_id, opts = {})
      data, _status_code, _headers = get_open_invoices_api_with_http_info(customer_id, opts)
      data
    end

    # Get open invoices for a customer
    # @param customer_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<Invoice>, Integer, Hash)>] Array<Invoice> data, response status code and response headers
    def get_open_invoices_api_with_http_info(customer_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BookkeepingApi.get_open_invoices_api ...'
      end
      # verify the required parameter 'customer_id' is set
      if @api_client.config.client_side_validation && customer_id.nil?
        fail ArgumentError, "Missing the required parameter 'customer_id' when calling BookkeepingApi.get_open_invoices_api"
      end
      # resource path
      local_var_path = '/api/v1/payments/open-invoices/{customer_id}'.sub('{customer_id}', CGI.escape(customer_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<Invoice>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"BookkeepingApi.get_open_invoices_api",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BookkeepingApi#get_open_invoices_api\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # GET /api/v1/bookkeeping/verfahrensdokumentation Returns the complete compliance catalog of all documented modules.
    # @param [Hash] opts the optional parameters
    # @return [Verfahrensdokumentation]
    def get_verfahrensdokumentation(opts = {})
      data, _status_code, _headers = get_verfahrensdokumentation_with_http_info(opts)
      data
    end

    # GET /api/v1/bookkeeping/verfahrensdokumentation Returns the complete compliance catalog of all documented modules.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Verfahrensdokumentation, Integer, Hash)>] Verfahrensdokumentation data, response status code and response headers
    def get_verfahrensdokumentation_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BookkeepingApi.get_verfahrensdokumentation ...'
      end
      # resource path
      local_var_path = '/api/v1/bookkeeping/verfahrensdokumentation'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Verfahrensdokumentation'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"BookkeepingApi.get_verfahrensdokumentation",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BookkeepingApi#get_verfahrensdokumentation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @return [DunningResult]
    def run_dunning_api(opts = {})
      data, _status_code, _headers = run_dunning_api_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @return [Array<(DunningResult, Integer, Hash)>] DunningResult data, response status code and response headers
    def run_dunning_api_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BookkeepingApi.run_dunning_api ...'
      end
      # resource path
      local_var_path = '/api/v1/bookkeeping/dunning'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DunningResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"BookkeepingApi.run_dunning_api",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BookkeepingApi#run_dunning_api\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
