=begin
#SimpleBilly API

#Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.

The version of the OpenAPI document: 0.1.0
Contact: support@simplebilly.com
Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module SimplebillyApi
  class BudgetsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param year [Integer] 
    # @param month [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [BudgetErgebnis]
    def budgets_api(year, month, opts = {})
      data, _status_code, _headers = budgets_api_with_http_info(year, month, opts)
      data
    end

    # @param year [Integer] 
    # @param month [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BudgetErgebnis, Integer, Hash)>] BudgetErgebnis data, response status code and response headers
    def budgets_api_with_http_info(year, month, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BudgetsApi.budgets_api ...'
      end
      # verify the required parameter 'year' is set
      if @api_client.config.client_side_validation && year.nil?
        fail ArgumentError, "Missing the required parameter 'year' when calling BudgetsApi.budgets_api"
      end
      # verify the required parameter 'month' is set
      if @api_client.config.client_side_validation && month.nil?
        fail ArgumentError, "Missing the required parameter 'month' when calling BudgetsApi.budgets_api"
      end
      if @api_client.config.client_side_validation && month < 0
        fail ArgumentError, 'invalid value for "month" when calling BudgetsApi.budgets_api, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/api/v1/bookkeeping/budgets'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'year'] = year
      query_params[:'month'] = month

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BudgetErgebnis'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"BudgetsApi.budgets_api",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BudgetsApi#budgets_api\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param category [String] 
    # @param budget_goal_request [BudgetGoalRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Budget]
    def upsert_budget_goal_api(category, budget_goal_request, opts = {})
      data, _status_code, _headers = upsert_budget_goal_api_with_http_info(category, budget_goal_request, opts)
      data
    end

    # @param category [String] 
    # @param budget_goal_request [BudgetGoalRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Budget, Integer, Hash)>] Budget data, response status code and response headers
    def upsert_budget_goal_api_with_http_info(category, budget_goal_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BudgetsApi.upsert_budget_goal_api ...'
      end
      # verify the required parameter 'category' is set
      if @api_client.config.client_side_validation && category.nil?
        fail ArgumentError, "Missing the required parameter 'category' when calling BudgetsApi.upsert_budget_goal_api"
      end
      # verify the required parameter 'budget_goal_request' is set
      if @api_client.config.client_side_validation && budget_goal_request.nil?
        fail ArgumentError, "Missing the required parameter 'budget_goal_request' when calling BudgetsApi.upsert_budget_goal_api"
      end
      # resource path
      local_var_path = '/api/v1/bookkeeping/budgets/goals/{category}'.sub('{category}', CGI.escape(category.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(budget_goal_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Budget'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"BudgetsApi.upsert_budget_goal_api",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BudgetsApi#upsert_budget_goal_api\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
