=begin
#SimpleBilly API

#Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.

The version of the OpenAPI document: 0.1.0
Contact: support@simplebilly.com
Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module SimplebillyApi
  class ComplianceTrainingApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param compliance_training_create [ComplianceTrainingCreate] 
    # @param [Hash] opts the optional parameters
    # @return [ComplianceTraining]
    def create_compliance_training(compliance_training_create, opts = {})
      data, _status_code, _headers = create_compliance_training_with_http_info(compliance_training_create, opts)
      data
    end

    # @param compliance_training_create [ComplianceTrainingCreate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ComplianceTraining, Integer, Hash)>] ComplianceTraining data, response status code and response headers
    def create_compliance_training_with_http_info(compliance_training_create, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ComplianceTrainingApi.create_compliance_training ...'
      end
      # verify the required parameter 'compliance_training_create' is set
      if @api_client.config.client_side_validation && compliance_training_create.nil?
        fail ArgumentError, "Missing the required parameter 'compliance_training_create' when calling ComplianceTrainingApi.create_compliance_training"
      end
      # resource path
      local_var_path = '/api/v1/compliance-trainings'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(compliance_training_create)

      # return_type
      return_type = opts[:debug_return_type] || 'ComplianceTraining'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"ComplianceTrainingApi.create_compliance_training",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ComplianceTrainingApi#create_compliance_training\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_compliance_training(id, opts = {})
      delete_compliance_training_with_http_info(id, opts)
      nil
    end

    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_compliance_training_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ComplianceTrainingApi.delete_compliance_training ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ComplianceTrainingApi.delete_compliance_training"
      end
      # resource path
      local_var_path = '/api/v1/compliance-trainings/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"ComplianceTrainingApi.delete_compliance_training",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ComplianceTrainingApi#delete_compliance_training\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [ComplianceTraining]
    def get_compliance_training(id, opts = {})
      data, _status_code, _headers = get_compliance_training_with_http_info(id, opts)
      data
    end

    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ComplianceTraining, Integer, Hash)>] ComplianceTraining data, response status code and response headers
    def get_compliance_training_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ComplianceTrainingApi.get_compliance_training ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ComplianceTrainingApi.get_compliance_training"
      end
      # resource path
      local_var_path = '/api/v1/compliance-trainings/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ComplianceTraining'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"ComplianceTrainingApi.get_compliance_training",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ComplianceTrainingApi#get_compliance_training\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page 
    # @option opts [Integer] :page_size 
    # @option opts [String] :search 
    # @option opts [Boolean] :include_deleted Soft-delete entities: set true to include rows with &#x60;deleted_at&#x60; set.
    # @return [Array<ComplianceTraining>]
    def get_compliance_trainings(opts = {})
      data, _status_code, _headers = get_compliance_trainings_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page 
    # @option opts [Integer] :page_size 
    # @option opts [String] :search 
    # @option opts [Boolean] :include_deleted Soft-delete entities: set true to include rows with &#x60;deleted_at&#x60; set.
    # @return [Array<(Array<ComplianceTraining>, Integer, Hash)>] Array<ComplianceTraining> data, response status code and response headers
    def get_compliance_trainings_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ComplianceTrainingApi.get_compliance_trainings ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling ComplianceTrainingApi.get_compliance_trainings, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling ComplianceTrainingApi.get_compliance_trainings, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/api/v1/compliance-trainings/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?
      query_params[:'include_deleted'] = opts[:'include_deleted'] if !opts[:'include_deleted'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<ComplianceTraining>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"ComplianceTrainingApi.get_compliance_trainings",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ComplianceTrainingApi#get_compliance_trainings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param id [String] 
    # @param compliance_training_update [ComplianceTrainingUpdate] 
    # @param [Hash] opts the optional parameters
    # @return [ComplianceTraining]
    def update_compliance_training(id, compliance_training_update, opts = {})
      data, _status_code, _headers = update_compliance_training_with_http_info(id, compliance_training_update, opts)
      data
    end

    # @param id [String] 
    # @param compliance_training_update [ComplianceTrainingUpdate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ComplianceTraining, Integer, Hash)>] ComplianceTraining data, response status code and response headers
    def update_compliance_training_with_http_info(id, compliance_training_update, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ComplianceTrainingApi.update_compliance_training ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ComplianceTrainingApi.update_compliance_training"
      end
      # verify the required parameter 'compliance_training_update' is set
      if @api_client.config.client_side_validation && compliance_training_update.nil?
        fail ArgumentError, "Missing the required parameter 'compliance_training_update' when calling ComplianceTrainingApi.update_compliance_training"
      end
      # resource path
      local_var_path = '/api/v1/compliance-trainings/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(compliance_training_update)

      # return_type
      return_type = opts[:debug_return_type] || 'ComplianceTraining'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"ComplianceTrainingApi.update_compliance_training",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ComplianceTrainingApi#update_compliance_training\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
