=begin
#SimpleBilly API

#Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.

The version of the OpenAPI document: 0.1.0
Contact: support@simplebilly.com
Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module SimplebillyApi
  class CreateSepaDirectDebitApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param creditor_name [String] 
    # @param creditor_iban [String] 
    # @param creditor_id [String] 
    # @param mandate_id [String] 
    # @param mandate_date [String] 
    # @param debtor_name [String] 
    # @param debtor_iban [String] 
    # @param amount [String] 
    # @param collection_date [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :creditor_bic 
    # @option opts [String] :debtor_bic 
    # @option opts [String] :description 
    # @return [SepaDirectDebitResponse]
    def create_sepa_direct_debit_api(creditor_name, creditor_iban, creditor_id, mandate_id, mandate_date, debtor_name, debtor_iban, amount, collection_date, opts = {})
      data, _status_code, _headers = create_sepa_direct_debit_api_with_http_info(creditor_name, creditor_iban, creditor_id, mandate_id, mandate_date, debtor_name, debtor_iban, amount, collection_date, opts)
      data
    end

    # @param creditor_name [String] 
    # @param creditor_iban [String] 
    # @param creditor_id [String] 
    # @param mandate_id [String] 
    # @param mandate_date [String] 
    # @param debtor_name [String] 
    # @param debtor_iban [String] 
    # @param amount [String] 
    # @param collection_date [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :creditor_bic 
    # @option opts [String] :debtor_bic 
    # @option opts [String] :description 
    # @return [Array<(SepaDirectDebitResponse, Integer, Hash)>] SepaDirectDebitResponse data, response status code and response headers
    def create_sepa_direct_debit_api_with_http_info(creditor_name, creditor_iban, creditor_id, mandate_id, mandate_date, debtor_name, debtor_iban, amount, collection_date, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CreateSepaDirectDebitApi.create_sepa_direct_debit_api ...'
      end
      # verify the required parameter 'creditor_name' is set
      if @api_client.config.client_side_validation && creditor_name.nil?
        fail ArgumentError, "Missing the required parameter 'creditor_name' when calling CreateSepaDirectDebitApi.create_sepa_direct_debit_api"
      end
      # verify the required parameter 'creditor_iban' is set
      if @api_client.config.client_side_validation && creditor_iban.nil?
        fail ArgumentError, "Missing the required parameter 'creditor_iban' when calling CreateSepaDirectDebitApi.create_sepa_direct_debit_api"
      end
      # verify the required parameter 'creditor_id' is set
      if @api_client.config.client_side_validation && creditor_id.nil?
        fail ArgumentError, "Missing the required parameter 'creditor_id' when calling CreateSepaDirectDebitApi.create_sepa_direct_debit_api"
      end
      # verify the required parameter 'mandate_id' is set
      if @api_client.config.client_side_validation && mandate_id.nil?
        fail ArgumentError, "Missing the required parameter 'mandate_id' when calling CreateSepaDirectDebitApi.create_sepa_direct_debit_api"
      end
      # verify the required parameter 'mandate_date' is set
      if @api_client.config.client_side_validation && mandate_date.nil?
        fail ArgumentError, "Missing the required parameter 'mandate_date' when calling CreateSepaDirectDebitApi.create_sepa_direct_debit_api"
      end
      # verify the required parameter 'debtor_name' is set
      if @api_client.config.client_side_validation && debtor_name.nil?
        fail ArgumentError, "Missing the required parameter 'debtor_name' when calling CreateSepaDirectDebitApi.create_sepa_direct_debit_api"
      end
      # verify the required parameter 'debtor_iban' is set
      if @api_client.config.client_side_validation && debtor_iban.nil?
        fail ArgumentError, "Missing the required parameter 'debtor_iban' when calling CreateSepaDirectDebitApi.create_sepa_direct_debit_api"
      end
      # verify the required parameter 'amount' is set
      if @api_client.config.client_side_validation && amount.nil?
        fail ArgumentError, "Missing the required parameter 'amount' when calling CreateSepaDirectDebitApi.create_sepa_direct_debit_api"
      end
      # verify the required parameter 'collection_date' is set
      if @api_client.config.client_side_validation && collection_date.nil?
        fail ArgumentError, "Missing the required parameter 'collection_date' when calling CreateSepaDirectDebitApi.create_sepa_direct_debit_api"
      end
      # resource path
      local_var_path = '/api/v1/bookkeeping/sepa-direct-debit'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'creditor_name'] = creditor_name
      query_params[:'creditor_iban'] = creditor_iban
      query_params[:'creditor_id'] = creditor_id
      query_params[:'mandate_id'] = mandate_id
      query_params[:'mandate_date'] = mandate_date
      query_params[:'debtor_name'] = debtor_name
      query_params[:'debtor_iban'] = debtor_iban
      query_params[:'amount'] = amount
      query_params[:'collection_date'] = collection_date
      query_params[:'creditor_bic'] = opts[:'creditor_bic'] if !opts[:'creditor_bic'].nil?
      query_params[:'debtor_bic'] = opts[:'debtor_bic'] if !opts[:'debtor_bic'].nil?
      query_params[:'description'] = opts[:'description'] if !opts[:'description'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SepaDirectDebitResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"CreateSepaDirectDebitApi.create_sepa_direct_debit_api",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CreateSepaDirectDebitApi#create_sepa_direct_debit_api\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
