=begin
#SimpleBilly API

#Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.

The version of the OpenAPI document: 0.1.0
Contact: support@simplebilly.com
Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module SimplebillyApi
  class CustomerCommunicationApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param customer_communication_create [CustomerCommunicationCreate] 
    # @param [Hash] opts the optional parameters
    # @return [CustomerCommunication]
    def create_communication(customer_communication_create, opts = {})
      data, _status_code, _headers = create_communication_with_http_info(customer_communication_create, opts)
      data
    end

    # @param customer_communication_create [CustomerCommunicationCreate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CustomerCommunication, Integer, Hash)>] CustomerCommunication data, response status code and response headers
    def create_communication_with_http_info(customer_communication_create, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomerCommunicationApi.create_communication ...'
      end
      # verify the required parameter 'customer_communication_create' is set
      if @api_client.config.client_side_validation && customer_communication_create.nil?
        fail ArgumentError, "Missing the required parameter 'customer_communication_create' when calling CustomerCommunicationApi.create_communication"
      end
      # resource path
      local_var_path = '/api/v1/communications'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(customer_communication_create)

      # return_type
      return_type = opts[:debug_return_type] || 'CustomerCommunication'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"CustomerCommunicationApi.create_communication",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomerCommunicationApi#create_communication\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param communication_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [CustomerCommunication]
    def customercommunication_restore(communication_id, opts = {})
      data, _status_code, _headers = customercommunication_restore_with_http_info(communication_id, opts)
      data
    end

    # @param communication_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CustomerCommunication, Integer, Hash)>] CustomerCommunication data, response status code and response headers
    def customercommunication_restore_with_http_info(communication_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomerCommunicationApi.customercommunication_restore ...'
      end
      # verify the required parameter 'communication_id' is set
      if @api_client.config.client_side_validation && communication_id.nil?
        fail ArgumentError, "Missing the required parameter 'communication_id' when calling CustomerCommunicationApi.customercommunication_restore"
      end
      # resource path
      local_var_path = '/api/v1/communications/{communication_id}/restore'.sub('{communication_id}', CGI.escape(communication_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CustomerCommunication'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"CustomerCommunicationApi.customercommunication_restore",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomerCommunicationApi#customercommunication_restore\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param communication_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_communication(communication_id, opts = {})
      delete_communication_with_http_info(communication_id, opts)
      nil
    end

    # @param communication_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_communication_with_http_info(communication_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomerCommunicationApi.delete_communication ...'
      end
      # verify the required parameter 'communication_id' is set
      if @api_client.config.client_side_validation && communication_id.nil?
        fail ArgumentError, "Missing the required parameter 'communication_id' when calling CustomerCommunicationApi.delete_communication"
      end
      # resource path
      local_var_path = '/api/v1/communications/{communication_id}'.sub('{communication_id}', CGI.escape(communication_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"CustomerCommunicationApi.delete_communication",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomerCommunicationApi#delete_communication\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param communication_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [CustomerCommunication]
    def get_communication(communication_id, opts = {})
      data, _status_code, _headers = get_communication_with_http_info(communication_id, opts)
      data
    end

    # @param communication_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CustomerCommunication, Integer, Hash)>] CustomerCommunication data, response status code and response headers
    def get_communication_with_http_info(communication_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomerCommunicationApi.get_communication ...'
      end
      # verify the required parameter 'communication_id' is set
      if @api_client.config.client_side_validation && communication_id.nil?
        fail ArgumentError, "Missing the required parameter 'communication_id' when calling CustomerCommunicationApi.get_communication"
      end
      # resource path
      local_var_path = '/api/v1/communications/{communication_id}'.sub('{communication_id}', CGI.escape(communication_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CustomerCommunication'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"CustomerCommunicationApi.get_communication",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomerCommunicationApi#get_communication\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param contact_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [ContactHistoryResponse]
    def get_contact_history(contact_id, opts = {})
      data, _status_code, _headers = get_contact_history_with_http_info(contact_id, opts)
      data
    end

    # @param contact_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ContactHistoryResponse, Integer, Hash)>] ContactHistoryResponse data, response status code and response headers
    def get_contact_history_with_http_info(contact_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomerCommunicationApi.get_contact_history ...'
      end
      # verify the required parameter 'contact_id' is set
      if @api_client.config.client_side_validation && contact_id.nil?
        fail ArgumentError, "Missing the required parameter 'contact_id' when calling CustomerCommunicationApi.get_contact_history"
      end
      # resource path
      local_var_path = '/api/v1/contacts/{contact_id}/communications'.sub('{contact_id}', CGI.escape(contact_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ContactHistoryResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"CustomerCommunicationApi.get_contact_history",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomerCommunicationApi#get_contact_history\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page 
    # @option opts [Integer] :page_size 
    # @option opts [String] :contact_id Filter history to a single contact.
    # @option opts [CommunicationChannel] :channel 
    # @option opts [CommunicationDirection] :direction 
    # @option opts [Date] :from Only include communications after this ISO date (inclusive).
    # @option opts [Date] :to Only include communications before this ISO date (inclusive).
    # @return [Array<CustomerCommunication>]
    def list_communications(opts = {})
      data, _status_code, _headers = list_communications_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page 
    # @option opts [Integer] :page_size 
    # @option opts [String] :contact_id Filter history to a single contact.
    # @option opts [CommunicationChannel] :channel 
    # @option opts [CommunicationDirection] :direction 
    # @option opts [Date] :from Only include communications after this ISO date (inclusive).
    # @option opts [Date] :to Only include communications before this ISO date (inclusive).
    # @return [Array<(Array<CustomerCommunication>, Integer, Hash)>] Array<CustomerCommunication> data, response status code and response headers
    def list_communications_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomerCommunicationApi.list_communications ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling CustomerCommunicationApi.list_communications, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling CustomerCommunicationApi.list_communications, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/api/v1/communications/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'contact_id'] = opts[:'contact_id'] if !opts[:'contact_id'].nil?
      query_params[:'channel'] = opts[:'channel'] if !opts[:'channel'].nil?
      query_params[:'direction'] = opts[:'direction'] if !opts[:'direction'].nil?
      query_params[:'from'] = opts[:'from'] if !opts[:'from'].nil?
      query_params[:'to'] = opts[:'to'] if !opts[:'to'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<CustomerCommunication>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"CustomerCommunicationApi.list_communications",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomerCommunicationApi#list_communications\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param communication_id [String] 
    # @param customer_communication_update [CustomerCommunicationUpdate] 
    # @param [Hash] opts the optional parameters
    # @return [CustomerCommunication]
    def update_communication(communication_id, customer_communication_update, opts = {})
      data, _status_code, _headers = update_communication_with_http_info(communication_id, customer_communication_update, opts)
      data
    end

    # @param communication_id [String] 
    # @param customer_communication_update [CustomerCommunicationUpdate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CustomerCommunication, Integer, Hash)>] CustomerCommunication data, response status code and response headers
    def update_communication_with_http_info(communication_id, customer_communication_update, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomerCommunicationApi.update_communication ...'
      end
      # verify the required parameter 'communication_id' is set
      if @api_client.config.client_side_validation && communication_id.nil?
        fail ArgumentError, "Missing the required parameter 'communication_id' when calling CustomerCommunicationApi.update_communication"
      end
      # verify the required parameter 'customer_communication_update' is set
      if @api_client.config.client_side_validation && customer_communication_update.nil?
        fail ArgumentError, "Missing the required parameter 'customer_communication_update' when calling CustomerCommunicationApi.update_communication"
      end
      # resource path
      local_var_path = '/api/v1/communications/{communication_id}'.sub('{communication_id}', CGI.escape(communication_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(customer_communication_update)

      # return_type
      return_type = opts[:debug_return_type] || 'CustomerCommunication'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"CustomerCommunicationApi.update_communication",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomerCommunicationApi#update_communication\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
