=begin
#SimpleBilly API

#Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.

The version of the OpenAPI document: 0.1.0
Contact: support@simplebilly.com
Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module SimplebillyApi
  class CustomerGroupApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param customer_group_id [String] 
    # @param body [Object] 
    # @param [Hash] opts the optional parameters
    # @return [CustomerGroup]
    def add_group_members(customer_group_id, body, opts = {})
      data, _status_code, _headers = add_group_members_with_http_info(customer_group_id, body, opts)
      data
    end

    # @param customer_group_id [String] 
    # @param body [Object] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CustomerGroup, Integer, Hash)>] CustomerGroup data, response status code and response headers
    def add_group_members_with_http_info(customer_group_id, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomerGroupApi.add_group_members ...'
      end
      # verify the required parameter 'customer_group_id' is set
      if @api_client.config.client_side_validation && customer_group_id.nil?
        fail ArgumentError, "Missing the required parameter 'customer_group_id' when calling CustomerGroupApi.add_group_members"
      end
      # resource path
      local_var_path = '/api/v1/customer-groups/{customer_group_id}/members'.sub('{customer_group_id}', CGI.escape(customer_group_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'CustomerGroup'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"CustomerGroupApi.add_group_members",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomerGroupApi#add_group_members\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param customer_group_create [CustomerGroupCreate] 
    # @param [Hash] opts the optional parameters
    # @return [CustomerGroup]
    def create_customer_group(customer_group_create, opts = {})
      data, _status_code, _headers = create_customer_group_with_http_info(customer_group_create, opts)
      data
    end

    # @param customer_group_create [CustomerGroupCreate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CustomerGroup, Integer, Hash)>] CustomerGroup data, response status code and response headers
    def create_customer_group_with_http_info(customer_group_create, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomerGroupApi.create_customer_group ...'
      end
      # verify the required parameter 'customer_group_create' is set
      if @api_client.config.client_side_validation && customer_group_create.nil?
        fail ArgumentError, "Missing the required parameter 'customer_group_create' when calling CustomerGroupApi.create_customer_group"
      end
      # resource path
      local_var_path = '/api/v1/customer-groups'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(customer_group_create)

      # return_type
      return_type = opts[:debug_return_type] || 'CustomerGroup'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"CustomerGroupApi.create_customer_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomerGroupApi#create_customer_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param customer_group_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_customer_group(customer_group_id, opts = {})
      delete_customer_group_with_http_info(customer_group_id, opts)
      nil
    end

    # @param customer_group_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_customer_group_with_http_info(customer_group_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomerGroupApi.delete_customer_group ...'
      end
      # verify the required parameter 'customer_group_id' is set
      if @api_client.config.client_side_validation && customer_group_id.nil?
        fail ArgumentError, "Missing the required parameter 'customer_group_id' when calling CustomerGroupApi.delete_customer_group"
      end
      # resource path
      local_var_path = '/api/v1/customer-groups/{customer_group_id}'.sub('{customer_group_id}', CGI.escape(customer_group_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"CustomerGroupApi.delete_customer_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomerGroupApi#delete_customer_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param customer_group_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [CustomerGroup]
    def get_customer_group(customer_group_id, opts = {})
      data, _status_code, _headers = get_customer_group_with_http_info(customer_group_id, opts)
      data
    end

    # @param customer_group_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CustomerGroup, Integer, Hash)>] CustomerGroup data, response status code and response headers
    def get_customer_group_with_http_info(customer_group_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomerGroupApi.get_customer_group ...'
      end
      # verify the required parameter 'customer_group_id' is set
      if @api_client.config.client_side_validation && customer_group_id.nil?
        fail ArgumentError, "Missing the required parameter 'customer_group_id' when calling CustomerGroupApi.get_customer_group"
      end
      # resource path
      local_var_path = '/api/v1/customer-groups/{customer_group_id}'.sub('{customer_group_id}', CGI.escape(customer_group_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CustomerGroup'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"CustomerGroupApi.get_customer_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomerGroupApi#get_customer_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page 
    # @option opts [Integer] :page_size 
    # @option opts [String] :search 
    # @option opts [Boolean] :include_deleted Soft-delete entities: set true to include rows with &#x60;deleted_at&#x60; set.
    # @return [Array<CustomerGroup>]
    def list_customer_groups(opts = {})
      data, _status_code, _headers = list_customer_groups_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page 
    # @option opts [Integer] :page_size 
    # @option opts [String] :search 
    # @option opts [Boolean] :include_deleted Soft-delete entities: set true to include rows with &#x60;deleted_at&#x60; set.
    # @return [Array<(Array<CustomerGroup>, Integer, Hash)>] Array<CustomerGroup> data, response status code and response headers
    def list_customer_groups_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomerGroupApi.list_customer_groups ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling CustomerGroupApi.list_customer_groups, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling CustomerGroupApi.list_customer_groups, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/api/v1/customer-groups/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?
      query_params[:'include_deleted'] = opts[:'include_deleted'] if !opts[:'include_deleted'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<CustomerGroup>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"CustomerGroupApi.list_customer_groups",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomerGroupApi#list_customer_groups\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param customer_group_id [String] 
    # @param customer_group_update [CustomerGroupUpdate] 
    # @param [Hash] opts the optional parameters
    # @return [CustomerGroup]
    def update_customer_group(customer_group_id, customer_group_update, opts = {})
      data, _status_code, _headers = update_customer_group_with_http_info(customer_group_id, customer_group_update, opts)
      data
    end

    # @param customer_group_id [String] 
    # @param customer_group_update [CustomerGroupUpdate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CustomerGroup, Integer, Hash)>] CustomerGroup data, response status code and response headers
    def update_customer_group_with_http_info(customer_group_id, customer_group_update, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomerGroupApi.update_customer_group ...'
      end
      # verify the required parameter 'customer_group_id' is set
      if @api_client.config.client_side_validation && customer_group_id.nil?
        fail ArgumentError, "Missing the required parameter 'customer_group_id' when calling CustomerGroupApi.update_customer_group"
      end
      # verify the required parameter 'customer_group_update' is set
      if @api_client.config.client_side_validation && customer_group_update.nil?
        fail ArgumentError, "Missing the required parameter 'customer_group_update' when calling CustomerGroupApi.update_customer_group"
      end
      # resource path
      local_var_path = '/api/v1/customer-groups/{customer_group_id}'.sub('{customer_group_id}', CGI.escape(customer_group_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(customer_group_update)

      # return_type
      return_type = opts[:debug_return_type] || 'CustomerGroup'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"CustomerGroupApi.update_customer_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomerGroupApi#update_customer_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
