=begin
#SimpleBilly API

#Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.

The version of the OpenAPI document: 0.1.0
Contact: support@simplebilly.com
Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module SimplebillyApi
  class DeliveryAppointmentApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param delivery_appointment_create [DeliveryAppointmentCreate] 
    # @param [Hash] opts the optional parameters
    # @return [DeliveryAppointment]
    def create_delivery_appointment(delivery_appointment_create, opts = {})
      data, _status_code, _headers = create_delivery_appointment_with_http_info(delivery_appointment_create, opts)
      data
    end

    # @param delivery_appointment_create [DeliveryAppointmentCreate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeliveryAppointment, Integer, Hash)>] DeliveryAppointment data, response status code and response headers
    def create_delivery_appointment_with_http_info(delivery_appointment_create, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeliveryAppointmentApi.create_delivery_appointment ...'
      end
      # verify the required parameter 'delivery_appointment_create' is set
      if @api_client.config.client_side_validation && delivery_appointment_create.nil?
        fail ArgumentError, "Missing the required parameter 'delivery_appointment_create' when calling DeliveryAppointmentApi.create_delivery_appointment"
      end
      # resource path
      local_var_path = '/api/v1/delivery-appointments'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(delivery_appointment_create)

      # return_type
      return_type = opts[:debug_return_type] || 'DeliveryAppointment'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"DeliveryAppointmentApi.create_delivery_appointment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeliveryAppointmentApi#create_delivery_appointment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param appointment_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_delivery_appointment(appointment_id, opts = {})
      delete_delivery_appointment_with_http_info(appointment_id, opts)
      nil
    end

    # @param appointment_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_delivery_appointment_with_http_info(appointment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeliveryAppointmentApi.delete_delivery_appointment ...'
      end
      # verify the required parameter 'appointment_id' is set
      if @api_client.config.client_side_validation && appointment_id.nil?
        fail ArgumentError, "Missing the required parameter 'appointment_id' when calling DeliveryAppointmentApi.delete_delivery_appointment"
      end
      # resource path
      local_var_path = '/api/v1/delivery-appointments/{appointment_id}'.sub('{appointment_id}', CGI.escape(appointment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"DeliveryAppointmentApi.delete_delivery_appointment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeliveryAppointmentApi#delete_delivery_appointment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param appointment_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [DeliveryAppointment]
    def get_delivery_appointment(appointment_id, opts = {})
      data, _status_code, _headers = get_delivery_appointment_with_http_info(appointment_id, opts)
      data
    end

    # @param appointment_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeliveryAppointment, Integer, Hash)>] DeliveryAppointment data, response status code and response headers
    def get_delivery_appointment_with_http_info(appointment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeliveryAppointmentApi.get_delivery_appointment ...'
      end
      # verify the required parameter 'appointment_id' is set
      if @api_client.config.client_side_validation && appointment_id.nil?
        fail ArgumentError, "Missing the required parameter 'appointment_id' when calling DeliveryAppointmentApi.get_delivery_appointment"
      end
      # resource path
      local_var_path = '/api/v1/delivery-appointments/{appointment_id}'.sub('{appointment_id}', CGI.escape(appointment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeliveryAppointment'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"DeliveryAppointmentApi.get_delivery_appointment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeliveryAppointmentApi#get_delivery_appointment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Supplier/carrier checks appointment status (public, no auth). The appointment is only revealed when email AND token match.
    # @param appointment_id [String] 
    # @param email [String] 
    # @param token [String] 
    # @param [Hash] opts the optional parameters
    # @return [PublicDeliveryAppointmentStatusResponse]
    def get_public_delivery_appointment_status(appointment_id, email, token, opts = {})
      data, _status_code, _headers = get_public_delivery_appointment_status_with_http_info(appointment_id, email, token, opts)
      data
    end

    # Supplier/carrier checks appointment status (public, no auth). The appointment is only revealed when email AND token match.
    # @param appointment_id [String] 
    # @param email [String] 
    # @param token [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PublicDeliveryAppointmentStatusResponse, Integer, Hash)>] PublicDeliveryAppointmentStatusResponse data, response status code and response headers
    def get_public_delivery_appointment_status_with_http_info(appointment_id, email, token, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeliveryAppointmentApi.get_public_delivery_appointment_status ...'
      end
      # verify the required parameter 'appointment_id' is set
      if @api_client.config.client_side_validation && appointment_id.nil?
        fail ArgumentError, "Missing the required parameter 'appointment_id' when calling DeliveryAppointmentApi.get_public_delivery_appointment_status"
      end
      # verify the required parameter 'email' is set
      if @api_client.config.client_side_validation && email.nil?
        fail ArgumentError, "Missing the required parameter 'email' when calling DeliveryAppointmentApi.get_public_delivery_appointment_status"
      end
      # verify the required parameter 'token' is set
      if @api_client.config.client_side_validation && token.nil?
        fail ArgumentError, "Missing the required parameter 'token' when calling DeliveryAppointmentApi.get_public_delivery_appointment_status"
      end
      # resource path
      local_var_path = '/api/v1/public/delivery-appointments/status'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'appointmentId'] = appointment_id
      query_params[:'email'] = email
      query_params[:'token'] = token

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PublicDeliveryAppointmentStatusResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"DeliveryAppointmentApi.get_public_delivery_appointment_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeliveryAppointmentApi#get_public_delivery_appointment_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page 
    # @option opts [Integer] :page_size 
    # @option opts [String] :status 
    # @option opts [String] :warehouse_id 
    # @option opts [Date] :from 
    # @option opts [Date] :to 
    # @return [Array<DeliveryAppointment>]
    def list_delivery_appointments(opts = {})
      data, _status_code, _headers = list_delivery_appointments_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page 
    # @option opts [Integer] :page_size 
    # @option opts [String] :status 
    # @option opts [String] :warehouse_id 
    # @option opts [Date] :from 
    # @option opts [Date] :to 
    # @return [Array<(Array<DeliveryAppointment>, Integer, Hash)>] Array<DeliveryAppointment> data, response status code and response headers
    def list_delivery_appointments_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeliveryAppointmentApi.list_delivery_appointments ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling DeliveryAppointmentApi.list_delivery_appointments, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling DeliveryAppointmentApi.list_delivery_appointments, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/api/v1/delivery-appointments'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'warehouse_id'] = opts[:'warehouse_id'] if !opts[:'warehouse_id'].nil?
      query_params[:'from'] = opts[:'from'] if !opts[:'from'].nil?
      query_params[:'to'] = opts[:'to'] if !opts[:'to'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<DeliveryAppointment>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"DeliveryAppointmentApi.list_delivery_appointments",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeliveryAppointmentApi#list_delivery_appointments\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Supplier/carrier requests an inbound delivery slot (public, no auth). The tenant is derived from the warehouse found by `code` — never from the request.
    # @param public_delivery_appointment_request [PublicDeliveryAppointmentRequest] 
    # @param [Hash] opts the optional parameters
    # @return [PublicDeliveryAppointmentResponse]
    def request_public_delivery_appointment(public_delivery_appointment_request, opts = {})
      data, _status_code, _headers = request_public_delivery_appointment_with_http_info(public_delivery_appointment_request, opts)
      data
    end

    # Supplier/carrier requests an inbound delivery slot (public, no auth). The tenant is derived from the warehouse found by &#x60;code&#x60; — never from the request.
    # @param public_delivery_appointment_request [PublicDeliveryAppointmentRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PublicDeliveryAppointmentResponse, Integer, Hash)>] PublicDeliveryAppointmentResponse data, response status code and response headers
    def request_public_delivery_appointment_with_http_info(public_delivery_appointment_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeliveryAppointmentApi.request_public_delivery_appointment ...'
      end
      # verify the required parameter 'public_delivery_appointment_request' is set
      if @api_client.config.client_side_validation && public_delivery_appointment_request.nil?
        fail ArgumentError, "Missing the required parameter 'public_delivery_appointment_request' when calling DeliveryAppointmentApi.request_public_delivery_appointment"
      end
      # resource path
      local_var_path = '/api/v1/public/delivery-appointments/request'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(public_delivery_appointment_request)

      # return_type
      return_type = opts[:debug_return_type] || 'PublicDeliveryAppointmentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"DeliveryAppointmentApi.request_public_delivery_appointment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeliveryAppointmentApi#request_public_delivery_appointment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param appointment_id [String] 
    # @param body [Object] 
    # @param [Hash] opts the optional parameters
    # @return [DeliveryAppointment]
    def update_delivery_appointment(appointment_id, body, opts = {})
      data, _status_code, _headers = update_delivery_appointment_with_http_info(appointment_id, body, opts)
      data
    end

    # @param appointment_id [String] 
    # @param body [Object] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeliveryAppointment, Integer, Hash)>] DeliveryAppointment data, response status code and response headers
    def update_delivery_appointment_with_http_info(appointment_id, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeliveryAppointmentApi.update_delivery_appointment ...'
      end
      # verify the required parameter 'appointment_id' is set
      if @api_client.config.client_side_validation && appointment_id.nil?
        fail ArgumentError, "Missing the required parameter 'appointment_id' when calling DeliveryAppointmentApi.update_delivery_appointment"
      end
      # resource path
      local_var_path = '/api/v1/delivery-appointments/{appointment_id}'.sub('{appointment_id}', CGI.escape(appointment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'DeliveryAppointment'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"DeliveryAppointmentApi.update_delivery_appointment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeliveryAppointmentApi#update_delivery_appointment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param appointment_id [String] 
    # @param appointment_status_update [AppointmentStatusUpdate] 
    # @param [Hash] opts the optional parameters
    # @return [DeliveryAppointment]
    def update_delivery_appointment_status(appointment_id, appointment_status_update, opts = {})
      data, _status_code, _headers = update_delivery_appointment_status_with_http_info(appointment_id, appointment_status_update, opts)
      data
    end

    # @param appointment_id [String] 
    # @param appointment_status_update [AppointmentStatusUpdate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeliveryAppointment, Integer, Hash)>] DeliveryAppointment data, response status code and response headers
    def update_delivery_appointment_status_with_http_info(appointment_id, appointment_status_update, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeliveryAppointmentApi.update_delivery_appointment_status ...'
      end
      # verify the required parameter 'appointment_id' is set
      if @api_client.config.client_side_validation && appointment_id.nil?
        fail ArgumentError, "Missing the required parameter 'appointment_id' when calling DeliveryAppointmentApi.update_delivery_appointment_status"
      end
      # verify the required parameter 'appointment_status_update' is set
      if @api_client.config.client_side_validation && appointment_status_update.nil?
        fail ArgumentError, "Missing the required parameter 'appointment_status_update' when calling DeliveryAppointmentApi.update_delivery_appointment_status"
      end
      # resource path
      local_var_path = '/api/v1/delivery-appointments/{appointment_id}/status'.sub('{appointment_id}', CGI.escape(appointment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(appointment_status_update)

      # return_type
      return_type = opts[:debug_return_type] || 'DeliveryAppointment'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"DeliveryAppointmentApi.update_delivery_appointment_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeliveryAppointmentApi#update_delivery_appointment_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
