=begin
#SimpleBilly API

#Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.

The version of the OpenAPI document: 0.1.0
Contact: support@simplebilly.com
Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module SimplebillyApi
  class DeliveryNoteApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param delivery_note_create [DeliveryNoteCreate] 
    # @param [Hash] opts the optional parameters
    # @return [DeliveryNote]
    def create_delivery_note(delivery_note_create, opts = {})
      data, _status_code, _headers = create_delivery_note_with_http_info(delivery_note_create, opts)
      data
    end

    # @param delivery_note_create [DeliveryNoteCreate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeliveryNote, Integer, Hash)>] DeliveryNote data, response status code and response headers
    def create_delivery_note_with_http_info(delivery_note_create, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeliveryNoteApi.create_delivery_note ...'
      end
      # verify the required parameter 'delivery_note_create' is set
      if @api_client.config.client_side_validation && delivery_note_create.nil?
        fail ArgumentError, "Missing the required parameter 'delivery_note_create' when calling DeliveryNoteApi.create_delivery_note"
      end
      # resource path
      local_var_path = '/api/v1/delivery-notes'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(delivery_note_create)

      # return_type
      return_type = opts[:debug_return_type] || 'DeliveryNote'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"DeliveryNoteApi.create_delivery_note",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeliveryNoteApi#create_delivery_note\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param delivery_note_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_delivery_note(delivery_note_id, opts = {})
      delete_delivery_note_with_http_info(delivery_note_id, opts)
      nil
    end

    # @param delivery_note_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_delivery_note_with_http_info(delivery_note_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeliveryNoteApi.delete_delivery_note ...'
      end
      # verify the required parameter 'delivery_note_id' is set
      if @api_client.config.client_side_validation && delivery_note_id.nil?
        fail ArgumentError, "Missing the required parameter 'delivery_note_id' when calling DeliveryNoteApi.delete_delivery_note"
      end
      # resource path
      local_var_path = '/api/v1/delivery-notes/{delivery_note_id}'.sub('{delivery_note_id}', CGI.escape(delivery_note_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"DeliveryNoteApi.delete_delivery_note",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeliveryNoteApi#delete_delivery_note\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param delivery_note_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [DeliveryNote]
    def deliverynote_restore(delivery_note_id, opts = {})
      data, _status_code, _headers = deliverynote_restore_with_http_info(delivery_note_id, opts)
      data
    end

    # @param delivery_note_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeliveryNote, Integer, Hash)>] DeliveryNote data, response status code and response headers
    def deliverynote_restore_with_http_info(delivery_note_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeliveryNoteApi.deliverynote_restore ...'
      end
      # verify the required parameter 'delivery_note_id' is set
      if @api_client.config.client_side_validation && delivery_note_id.nil?
        fail ArgumentError, "Missing the required parameter 'delivery_note_id' when calling DeliveryNoteApi.deliverynote_restore"
      end
      # resource path
      local_var_path = '/api/v1/delivery-notes/{delivery_note_id}/restore'.sub('{delivery_note_id}', CGI.escape(delivery_note_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeliveryNote'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"DeliveryNoteApi.deliverynote_restore",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeliveryNoteApi#deliverynote_restore\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param delivery_note_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def download_delivery_note_pdf(delivery_note_id, opts = {})
      download_delivery_note_pdf_with_http_info(delivery_note_id, opts)
      nil
    end

    # @param delivery_note_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def download_delivery_note_pdf_with_http_info(delivery_note_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeliveryNoteApi.download_delivery_note_pdf ...'
      end
      # verify the required parameter 'delivery_note_id' is set
      if @api_client.config.client_side_validation && delivery_note_id.nil?
        fail ArgumentError, "Missing the required parameter 'delivery_note_id' when calling DeliveryNoteApi.download_delivery_note_pdf"
      end
      # resource path
      local_var_path = '/api/v1/delivery-notes/{delivery_note_id}/pdf'.sub('{delivery_note_id}', CGI.escape(delivery_note_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/pdf', 'application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"DeliveryNoteApi.download_delivery_note_pdf",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeliveryNoteApi#download_delivery_note_pdf\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param delivery_note_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [DeliveryNote]
    def get_delivery_note(delivery_note_id, opts = {})
      data, _status_code, _headers = get_delivery_note_with_http_info(delivery_note_id, opts)
      data
    end

    # @param delivery_note_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeliveryNote, Integer, Hash)>] DeliveryNote data, response status code and response headers
    def get_delivery_note_with_http_info(delivery_note_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeliveryNoteApi.get_delivery_note ...'
      end
      # verify the required parameter 'delivery_note_id' is set
      if @api_client.config.client_side_validation && delivery_note_id.nil?
        fail ArgumentError, "Missing the required parameter 'delivery_note_id' when calling DeliveryNoteApi.get_delivery_note"
      end
      # resource path
      local_var_path = '/api/v1/delivery-notes/{delivery_note_id}'.sub('{delivery_note_id}', CGI.escape(delivery_note_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeliveryNote'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"DeliveryNoteApi.get_delivery_note",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeliveryNoteApi#get_delivery_note\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page 
    # @option opts [Integer] :page_size 
    # @option opts [String] :search 
    # @option opts [Boolean] :include_deleted Soft-delete entities: set true to include rows with &#x60;deleted_at&#x60; set.
    # @return [Array<DeliveryNote>]
    def list_delivery_notes(opts = {})
      data, _status_code, _headers = list_delivery_notes_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page 
    # @option opts [Integer] :page_size 
    # @option opts [String] :search 
    # @option opts [Boolean] :include_deleted Soft-delete entities: set true to include rows with &#x60;deleted_at&#x60; set.
    # @return [Array<(Array<DeliveryNote>, Integer, Hash)>] Array<DeliveryNote> data, response status code and response headers
    def list_delivery_notes_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeliveryNoteApi.list_delivery_notes ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling DeliveryNoteApi.list_delivery_notes, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling DeliveryNoteApi.list_delivery_notes, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/api/v1/delivery-notes/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?
      query_params[:'include_deleted'] = opts[:'include_deleted'] if !opts[:'include_deleted'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<DeliveryNote>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"DeliveryNoteApi.list_delivery_notes",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeliveryNoteApi#list_delivery_notes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param delivery_note_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Invoice]
    def pursue_delivery_note(delivery_note_id, opts = {})
      data, _status_code, _headers = pursue_delivery_note_with_http_info(delivery_note_id, opts)
      data
    end

    # @param delivery_note_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Invoice, Integer, Hash)>] Invoice data, response status code and response headers
    def pursue_delivery_note_with_http_info(delivery_note_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeliveryNoteApi.pursue_delivery_note ...'
      end
      # verify the required parameter 'delivery_note_id' is set
      if @api_client.config.client_side_validation && delivery_note_id.nil?
        fail ArgumentError, "Missing the required parameter 'delivery_note_id' when calling DeliveryNoteApi.pursue_delivery_note"
      end
      # resource path
      local_var_path = '/api/v1/delivery-notes/{delivery_note_id}/pursue'.sub('{delivery_note_id}', CGI.escape(delivery_note_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Invoice'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"DeliveryNoteApi.pursue_delivery_note",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeliveryNoteApi#pursue_delivery_note\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
