=begin
#SimpleBilly API

#Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.

The version of the OpenAPI document: 0.1.0
Contact: support@simplebilly.com
Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module SimplebillyApi
  class DeliveryDateApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param delivery_date_create [DeliveryDateCreate] 
    # @param [Hash] opts the optional parameters
    # @return [DeliveryDate]
    def create_delivery_date(delivery_date_create, opts = {})
      data, _status_code, _headers = create_delivery_date_with_http_info(delivery_date_create, opts)
      data
    end

    # @param delivery_date_create [DeliveryDateCreate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeliveryDate, Integer, Hash)>] DeliveryDate data, response status code and response headers
    def create_delivery_date_with_http_info(delivery_date_create, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeliveryDateApi.create_delivery_date ...'
      end
      # verify the required parameter 'delivery_date_create' is set
      if @api_client.config.client_side_validation && delivery_date_create.nil?
        fail ArgumentError, "Missing the required parameter 'delivery_date_create' when calling DeliveryDateApi.create_delivery_date"
      end
      # resource path
      local_var_path = '/api/v1/delivery-dates'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(delivery_date_create)

      # return_type
      return_type = opts[:debug_return_type] || 'DeliveryDate'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"DeliveryDateApi.create_delivery_date",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeliveryDateApi#create_delivery_date\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param delivery_date_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_delivery_date(delivery_date_id, opts = {})
      delete_delivery_date_with_http_info(delivery_date_id, opts)
      nil
    end

    # @param delivery_date_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_delivery_date_with_http_info(delivery_date_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeliveryDateApi.delete_delivery_date ...'
      end
      # verify the required parameter 'delivery_date_id' is set
      if @api_client.config.client_side_validation && delivery_date_id.nil?
        fail ArgumentError, "Missing the required parameter 'delivery_date_id' when calling DeliveryDateApi.delete_delivery_date"
      end
      # resource path
      local_var_path = '/api/v1/delivery-dates/{delivery_date_id}'.sub('{delivery_date_id}', CGI.escape(delivery_date_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"DeliveryDateApi.delete_delivery_date",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeliveryDateApi#delete_delivery_date\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param delivery_date_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [DeliveryDate]
    def get_delivery_date(delivery_date_id, opts = {})
      data, _status_code, _headers = get_delivery_date_with_http_info(delivery_date_id, opts)
      data
    end

    # @param delivery_date_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeliveryDate, Integer, Hash)>] DeliveryDate data, response status code and response headers
    def get_delivery_date_with_http_info(delivery_date_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeliveryDateApi.get_delivery_date ...'
      end
      # verify the required parameter 'delivery_date_id' is set
      if @api_client.config.client_side_validation && delivery_date_id.nil?
        fail ArgumentError, "Missing the required parameter 'delivery_date_id' when calling DeliveryDateApi.get_delivery_date"
      end
      # resource path
      local_var_path = '/api/v1/delivery-dates/{delivery_date_id}'.sub('{delivery_date_id}', CGI.escape(delivery_date_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeliveryDate'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"DeliveryDateApi.get_delivery_date",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeliveryDateApi#get_delivery_date\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # On-time performance summary: how many promised delivery dates were met within a period.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page 
    # @option opts [Integer] :page_size 
    # @option opts [String] :order_number 
    # @option opts [String] :status 
    # @option opts [Date] :from Only dates on or after this date.
    # @option opts [Date] :to Only dates on or before this date.
    # @return [Object]
    def get_delivery_performance(opts = {})
      data, _status_code, _headers = get_delivery_performance_with_http_info(opts)
      data
    end

    # On-time performance summary: how many promised delivery dates were met within a period.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page 
    # @option opts [Integer] :page_size 
    # @option opts [String] :order_number 
    # @option opts [String] :status 
    # @option opts [Date] :from Only dates on or after this date.
    # @option opts [Date] :to Only dates on or before this date.
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def get_delivery_performance_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeliveryDateApi.get_delivery_performance ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling DeliveryDateApi.get_delivery_performance, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling DeliveryDateApi.get_delivery_performance, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/api/v1/delivery-dates/performance'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'orderNumber'] = opts[:'order_number'] if !opts[:'order_number'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'from'] = opts[:'from'] if !opts[:'from'].nil?
      query_params[:'to'] = opts[:'to'] if !opts[:'to'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"DeliveryDateApi.get_delivery_performance",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeliveryDateApi#get_delivery_performance\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page 
    # @option opts [Integer] :page_size 
    # @option opts [String] :order_number 
    # @option opts [String] :status 
    # @option opts [Date] :from Only dates on or after this date.
    # @option opts [Date] :to Only dates on or before this date.
    # @return [Array<DeliveryDate>]
    def list_delivery_dates(opts = {})
      data, _status_code, _headers = list_delivery_dates_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page 
    # @option opts [Integer] :page_size 
    # @option opts [String] :order_number 
    # @option opts [String] :status 
    # @option opts [Date] :from Only dates on or after this date.
    # @option opts [Date] :to Only dates on or before this date.
    # @return [Array<(Array<DeliveryDate>, Integer, Hash)>] Array<DeliveryDate> data, response status code and response headers
    def list_delivery_dates_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeliveryDateApi.list_delivery_dates ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling DeliveryDateApi.list_delivery_dates, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling DeliveryDateApi.list_delivery_dates, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/api/v1/delivery-dates/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'orderNumber'] = opts[:'order_number'] if !opts[:'order_number'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'from'] = opts[:'from'] if !opts[:'from'].nil?
      query_params[:'to'] = opts[:'to'] if !opts[:'to'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<DeliveryDate>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"DeliveryDateApi.list_delivery_dates",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeliveryDateApi#list_delivery_dates\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param delivery_date_id [String] 
    # @param body [Object] 
    # @param [Hash] opts the optional parameters
    # @return [DeliveryDate]
    def update_delivery_date(delivery_date_id, body, opts = {})
      data, _status_code, _headers = update_delivery_date_with_http_info(delivery_date_id, body, opts)
      data
    end

    # @param delivery_date_id [String] 
    # @param body [Object] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeliveryDate, Integer, Hash)>] DeliveryDate data, response status code and response headers
    def update_delivery_date_with_http_info(delivery_date_id, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeliveryDateApi.update_delivery_date ...'
      end
      # verify the required parameter 'delivery_date_id' is set
      if @api_client.config.client_side_validation && delivery_date_id.nil?
        fail ArgumentError, "Missing the required parameter 'delivery_date_id' when calling DeliveryDateApi.update_delivery_date"
      end
      # resource path
      local_var_path = '/api/v1/delivery-dates/{delivery_date_id}'.sub('{delivery_date_id}', CGI.escape(delivery_date_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'DeliveryDate'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"DeliveryDateApi.update_delivery_date",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeliveryDateApi#update_delivery_date\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param delivery_date_id [String] 
    # @param delivery_date_status_update [DeliveryDateStatusUpdate] 
    # @param [Hash] opts the optional parameters
    # @return [DeliveryDate]
    def update_delivery_date_status(delivery_date_id, delivery_date_status_update, opts = {})
      data, _status_code, _headers = update_delivery_date_status_with_http_info(delivery_date_id, delivery_date_status_update, opts)
      data
    end

    # @param delivery_date_id [String] 
    # @param delivery_date_status_update [DeliveryDateStatusUpdate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeliveryDate, Integer, Hash)>] DeliveryDate data, response status code and response headers
    def update_delivery_date_status_with_http_info(delivery_date_id, delivery_date_status_update, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeliveryDateApi.update_delivery_date_status ...'
      end
      # verify the required parameter 'delivery_date_id' is set
      if @api_client.config.client_side_validation && delivery_date_id.nil?
        fail ArgumentError, "Missing the required parameter 'delivery_date_id' when calling DeliveryDateApi.update_delivery_date_status"
      end
      # verify the required parameter 'delivery_date_status_update' is set
      if @api_client.config.client_side_validation && delivery_date_status_update.nil?
        fail ArgumentError, "Missing the required parameter 'delivery_date_status_update' when calling DeliveryDateApi.update_delivery_date_status"
      end
      # resource path
      local_var_path = '/api/v1/delivery-dates/{delivery_date_id}/status'.sub('{delivery_date_id}', CGI.escape(delivery_date_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(delivery_date_status_update)

      # return_type
      return_type = opts[:debug_return_type] || 'DeliveryDate'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"DeliveryDateApi.update_delivery_date_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeliveryDateApi#update_delivery_date_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
