=begin
#SimpleBilly API

#Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.

The version of the OpenAPI document: 0.1.0
Contact: support@simplebilly.com
Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module SimplebillyApi
  class EmailTemplateApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param email_template_create [EmailTemplateCreate] 
    # @param [Hash] opts the optional parameters
    # @return [EmailTemplate]
    def create_email_template(email_template_create, opts = {})
      data, _status_code, _headers = create_email_template_with_http_info(email_template_create, opts)
      data
    end

    # @param email_template_create [EmailTemplateCreate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmailTemplate, Integer, Hash)>] EmailTemplate data, response status code and response headers
    def create_email_template_with_http_info(email_template_create, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailTemplateApi.create_email_template ...'
      end
      # verify the required parameter 'email_template_create' is set
      if @api_client.config.client_side_validation && email_template_create.nil?
        fail ArgumentError, "Missing the required parameter 'email_template_create' when calling EmailTemplateApi.create_email_template"
      end
      # resource path
      local_var_path = '/api/v1/email-templates'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(email_template_create)

      # return_type
      return_type = opts[:debug_return_type] || 'EmailTemplate'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"EmailTemplateApi.create_email_template",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailTemplateApi#create_email_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param email_template_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_email_template(email_template_id, opts = {})
      delete_email_template_with_http_info(email_template_id, opts)
      nil
    end

    # @param email_template_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_email_template_with_http_info(email_template_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailTemplateApi.delete_email_template ...'
      end
      # verify the required parameter 'email_template_id' is set
      if @api_client.config.client_side_validation && email_template_id.nil?
        fail ArgumentError, "Missing the required parameter 'email_template_id' when calling EmailTemplateApi.delete_email_template"
      end
      # resource path
      local_var_path = '/api/v1/email-templates/{email_template_id}'.sub('{email_template_id}', CGI.escape(email_template_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"EmailTemplateApi.delete_email_template",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailTemplateApi#delete_email_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param email_template_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [EmailTemplate]
    def get_email_template(email_template_id, opts = {})
      data, _status_code, _headers = get_email_template_with_http_info(email_template_id, opts)
      data
    end

    # @param email_template_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmailTemplate, Integer, Hash)>] EmailTemplate data, response status code and response headers
    def get_email_template_with_http_info(email_template_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailTemplateApi.get_email_template ...'
      end
      # verify the required parameter 'email_template_id' is set
      if @api_client.config.client_side_validation && email_template_id.nil?
        fail ArgumentError, "Missing the required parameter 'email_template_id' when calling EmailTemplateApi.get_email_template"
      end
      # resource path
      local_var_path = '/api/v1/email-templates/{email_template_id}'.sub('{email_template_id}', CGI.escape(email_template_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmailTemplate'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"EmailTemplateApi.get_email_template",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailTemplateApi#get_email_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page 
    # @option opts [Integer] :page_size 
    # @option opts [String] :status 
    # @option opts [String] :search 
    # @return [Array<EmailTemplate>]
    def list_email_templates(opts = {})
      data, _status_code, _headers = list_email_templates_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page 
    # @option opts [Integer] :page_size 
    # @option opts [String] :status 
    # @option opts [String] :search 
    # @return [Array<(Array<EmailTemplate>, Integer, Hash)>] Array<EmailTemplate> data, response status code and response headers
    def list_email_templates_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailTemplateApi.list_email_templates ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling EmailTemplateApi.list_email_templates, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling EmailTemplateApi.list_email_templates, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/api/v1/email-templates/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<EmailTemplate>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"EmailTemplateApi.list_email_templates",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailTemplateApi#list_email_templates\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param email_template_id [String] 
    # @param body [Object] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def render_email_template(email_template_id, body, opts = {})
      data, _status_code, _headers = render_email_template_with_http_info(email_template_id, body, opts)
      data
    end

    # @param email_template_id [String] 
    # @param body [Object] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def render_email_template_with_http_info(email_template_id, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailTemplateApi.render_email_template ...'
      end
      # verify the required parameter 'email_template_id' is set
      if @api_client.config.client_side_validation && email_template_id.nil?
        fail ArgumentError, "Missing the required parameter 'email_template_id' when calling EmailTemplateApi.render_email_template"
      end
      # resource path
      local_var_path = '/api/v1/email-templates/{email_template_id}/render'.sub('{email_template_id}', CGI.escape(email_template_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"EmailTemplateApi.render_email_template",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailTemplateApi#render_email_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param email_template_id [String] 
    # @param email_template_update [EmailTemplateUpdate] 
    # @param [Hash] opts the optional parameters
    # @return [EmailTemplate]
    def update_email_template(email_template_id, email_template_update, opts = {})
      data, _status_code, _headers = update_email_template_with_http_info(email_template_id, email_template_update, opts)
      data
    end

    # @param email_template_id [String] 
    # @param email_template_update [EmailTemplateUpdate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmailTemplate, Integer, Hash)>] EmailTemplate data, response status code and response headers
    def update_email_template_with_http_info(email_template_id, email_template_update, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailTemplateApi.update_email_template ...'
      end
      # verify the required parameter 'email_template_id' is set
      if @api_client.config.client_side_validation && email_template_id.nil?
        fail ArgumentError, "Missing the required parameter 'email_template_id' when calling EmailTemplateApi.update_email_template"
      end
      # verify the required parameter 'email_template_update' is set
      if @api_client.config.client_side_validation && email_template_update.nil?
        fail ArgumentError, "Missing the required parameter 'email_template_update' when calling EmailTemplateApi.update_email_template"
      end
      # resource path
      local_var_path = '/api/v1/email-templates/{email_template_id}'.sub('{email_template_id}', CGI.escape(email_template_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(email_template_update)

      # return_type
      return_type = opts[:debug_return_type] || 'EmailTemplate'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"EmailTemplateApi.update_email_template",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailTemplateApi#update_email_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
