=begin
#SimpleBilly API

#Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.

The version of the OpenAPI document: 0.1.0
Contact: support@simplebilly.com
Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module SimplebillyApi
  class FristenApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param [Hash] opts the optional parameters
    # @option opts [String] :bundesland 
    # @option opts [String] :voranmeldungsrhythmus 
    # @option opts [Boolean] :dauerfristverlaengerung 
    # @option opts [Boolean] :est_aktiv 
    # @option opts [Boolean] :gewst_aktiv 
    # @option opts [Integer] :monate 
    # @return [FristenErgebnis]
    def fristen_api(opts = {})
      data, _status_code, _headers = fristen_api_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :bundesland 
    # @option opts [String] :voranmeldungsrhythmus 
    # @option opts [Boolean] :dauerfristverlaengerung 
    # @option opts [Boolean] :est_aktiv 
    # @option opts [Boolean] :gewst_aktiv 
    # @option opts [Integer] :monate 
    # @return [Array<(FristenErgebnis, Integer, Hash)>] FristenErgebnis data, response status code and response headers
    def fristen_api_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FristenApi.fristen_api ...'
      end
      # resource path
      local_var_path = '/api/v1/bookkeeping/fristen'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'bundesland'] = opts[:'bundesland'] if !opts[:'bundesland'].nil?
      query_params[:'voranmeldungsrhythmus'] = opts[:'voranmeldungsrhythmus'] if !opts[:'voranmeldungsrhythmus'].nil?
      query_params[:'dauerfristverlaengerung'] = opts[:'dauerfristverlaengerung'] if !opts[:'dauerfristverlaengerung'].nil?
      query_params[:'est_aktiv'] = opts[:'est_aktiv'] if !opts[:'est_aktiv'].nil?
      query_params[:'gewst_aktiv'] = opts[:'gewst_aktiv'] if !opts[:'gewst_aktiv'].nil?
      query_params[:'monate'] = opts[:'monate'] if !opts[:'monate'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FristenErgebnis'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"FristenApi.fristen_api",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FristenApi#fristen_api\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
