=begin
#SimpleBilly API

#Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.

The version of the OpenAPI document: 0.1.0
Contact: support@simplebilly.com
Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module SimplebillyApi
  class GenerateQrcodeApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param iban [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :holder_name 
    # @option opts [String] :bic 
    # @option opts [String] :amount 
    # @option opts [String] :reference 
    # @option opts [String] :purpose 
    # @return [QRCodeResponse]
    def generate_qrcode_api(iban, id, opts = {})
      data, _status_code, _headers = generate_qrcode_api_with_http_info(iban, id, opts)
      data
    end

    # @param iban [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :holder_name 
    # @option opts [String] :bic 
    # @option opts [String] :amount 
    # @option opts [String] :reference 
    # @option opts [String] :purpose 
    # @return [Array<(QRCodeResponse, Integer, Hash)>] QRCodeResponse data, response status code and response headers
    def generate_qrcode_api_with_http_info(iban, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GenerateQrcodeApi.generate_qrcode_api ...'
      end
      # verify the required parameter 'iban' is set
      if @api_client.config.client_side_validation && iban.nil?
        fail ArgumentError, "Missing the required parameter 'iban' when calling GenerateQrcodeApi.generate_qrcode_api"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling GenerateQrcodeApi.generate_qrcode_api"
      end
      # resource path
      local_var_path = '/api/v1/invoices/{id}/qrcode'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'iban'] = iban
      query_params[:'holder_name'] = opts[:'holder_name'] if !opts[:'holder_name'].nil?
      query_params[:'bic'] = opts[:'bic'] if !opts[:'bic'].nil?
      query_params[:'amount'] = opts[:'amount'] if !opts[:'amount'].nil?
      query_params[:'reference'] = opts[:'reference'] if !opts[:'reference'].nil?
      query_params[:'purpose'] = opts[:'purpose'] if !opts[:'purpose'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'QRCodeResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"GenerateQrcodeApi.generate_qrcode_api",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GenerateQrcodeApi#generate_qrcode_api\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
