=begin
#SimpleBilly API

#Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.

The version of the OpenAPI document: 0.1.0
Contact: support@simplebilly.com
Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module SimplebillyApi
  class GenerateXrechnungApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :supplier_name 
    # @option opts [String] :supplier_street 
    # @option opts [String] :supplier_city 
    # @option opts [String] :supplier_zip 
    # @option opts [String] :supplier_country 
    # @option opts [String] :supplier_vat_id 
    # @return [XRechnungResponse]
    def generate_xrechnung_api(id, opts = {})
      data, _status_code, _headers = generate_xrechnung_api_with_http_info(id, opts)
      data
    end

    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :supplier_name 
    # @option opts [String] :supplier_street 
    # @option opts [String] :supplier_city 
    # @option opts [String] :supplier_zip 
    # @option opts [String] :supplier_country 
    # @option opts [String] :supplier_vat_id 
    # @return [Array<(XRechnungResponse, Integer, Hash)>] XRechnungResponse data, response status code and response headers
    def generate_xrechnung_api_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GenerateXrechnungApi.generate_xrechnung_api ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling GenerateXrechnungApi.generate_xrechnung_api"
      end
      # resource path
      local_var_path = '/api/v1/invoices/{id}/xrechnung'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'supplier_name'] = opts[:'supplier_name'] if !opts[:'supplier_name'].nil?
      query_params[:'supplier_street'] = opts[:'supplier_street'] if !opts[:'supplier_street'].nil?
      query_params[:'supplier_city'] = opts[:'supplier_city'] if !opts[:'supplier_city'].nil?
      query_params[:'supplier_zip'] = opts[:'supplier_zip'] if !opts[:'supplier_zip'].nil?
      query_params[:'supplier_country'] = opts[:'supplier_country'] if !opts[:'supplier_country'].nil?
      query_params[:'supplier_vat_id'] = opts[:'supplier_vat_id'] if !opts[:'supplier_vat_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'XRechnungResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"GenerateXrechnungApi.generate_xrechnung_api",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GenerateXrechnungApi#generate_xrechnung_api\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
