=begin
#SimpleBilly API

#Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.

The version of the OpenAPI document: 0.1.0
Contact: support@simplebilly.com
Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module SimplebillyApi
  class GezApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :jahr 
    # @option opts [String] :betriebsstaetten Liste der Betriebsstätten als JSON, z.B. &#x60;[{\&quot;name\&quot;:\&quot;Filiale 1\&quot;,\&quot;beschaefigte\&quot;:12}]&#x60;.
    # @option opts [Integer] :kfz Gesamtzahl der betrieblich genutzten Kfz (falls keine Betriebsstätten angegeben sind).
    # @option opts [Integer] :hotelzimmer Gesamtzahl der Hotel-/Gästezimmer und Ferienwohnungen.
    # @option opts [Integer] :beschaefigte Gesamtzahl der Beschäftigten (verwendet nur, wenn &#x60;betriebsstaetten&#x60; fehlt; dann wird eine einzelne Betriebsstätte angenommen).
    # @return [GezReport]
    def gez_api(opts = {})
      data, _status_code, _headers = gez_api_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :jahr 
    # @option opts [String] :betriebsstaetten Liste der Betriebsstätten als JSON, z.B. &#x60;[{\&quot;name\&quot;:\&quot;Filiale 1\&quot;,\&quot;beschaefigte\&quot;:12}]&#x60;.
    # @option opts [Integer] :kfz Gesamtzahl der betrieblich genutzten Kfz (falls keine Betriebsstätten angegeben sind).
    # @option opts [Integer] :hotelzimmer Gesamtzahl der Hotel-/Gästezimmer und Ferienwohnungen.
    # @option opts [Integer] :beschaefigte Gesamtzahl der Beschäftigten (verwendet nur, wenn &#x60;betriebsstaetten&#x60; fehlt; dann wird eine einzelne Betriebsstätte angenommen).
    # @return [Array<(GezReport, Integer, Hash)>] GezReport data, response status code and response headers
    def gez_api_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GezApi.gez_api ...'
      end
      if @api_client.config.client_side_validation && !opts[:'kfz'].nil? && opts[:'kfz'] < 0
        fail ArgumentError, 'invalid value for "opts[:"kfz"]" when calling GezApi.gez_api, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'hotelzimmer'].nil? && opts[:'hotelzimmer'] < 0
        fail ArgumentError, 'invalid value for "opts[:"hotelzimmer"]" when calling GezApi.gez_api, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'beschaefigte'].nil? && opts[:'beschaefigte'] < 0
        fail ArgumentError, 'invalid value for "opts[:"beschaefigte"]" when calling GezApi.gez_api, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/api/v1/bookkeeping/gez'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'jahr'] = opts[:'jahr'] if !opts[:'jahr'].nil?
      query_params[:'betriebsstaetten'] = opts[:'betriebsstaetten'] if !opts[:'betriebsstaetten'].nil?
      query_params[:'kfz'] = opts[:'kfz'] if !opts[:'kfz'].nil?
      query_params[:'hotelzimmer'] = opts[:'hotelzimmer'] if !opts[:'hotelzimmer'].nil?
      query_params[:'beschaefigte'] = opts[:'beschaefigte'] if !opts[:'beschaefigte'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GezReport'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"GezApi.gez_api",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GezApi#gez_api\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
