=begin
#SimpleBilly API

#Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.

The version of the OpenAPI document: 0.1.0
Contact: support@simplebilly.com
Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module SimplebillyApi
  class GoodsReceiptApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param goods_receipt [GoodsReceipt] 
    # @param [Hash] opts the optional parameters
    # @return [GoodsReceipt]
    def create_goods_receipt(goods_receipt, opts = {})
      data, _status_code, _headers = create_goods_receipt_with_http_info(goods_receipt, opts)
      data
    end

    # @param goods_receipt [GoodsReceipt] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GoodsReceipt, Integer, Hash)>] GoodsReceipt data, response status code and response headers
    def create_goods_receipt_with_http_info(goods_receipt, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GoodsReceiptApi.create_goods_receipt ...'
      end
      # verify the required parameter 'goods_receipt' is set
      if @api_client.config.client_side_validation && goods_receipt.nil?
        fail ArgumentError, "Missing the required parameter 'goods_receipt' when calling GoodsReceiptApi.create_goods_receipt"
      end
      # resource path
      local_var_path = '/api/v1/goods-receipts'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(goods_receipt)

      # return_type
      return_type = opts[:debug_return_type] || 'GoodsReceipt'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"GoodsReceiptApi.create_goods_receipt",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GoodsReceiptApi#create_goods_receipt\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param goods_receipt_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_goods_receipt(goods_receipt_id, opts = {})
      delete_goods_receipt_with_http_info(goods_receipt_id, opts)
      nil
    end

    # @param goods_receipt_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_goods_receipt_with_http_info(goods_receipt_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GoodsReceiptApi.delete_goods_receipt ...'
      end
      # verify the required parameter 'goods_receipt_id' is set
      if @api_client.config.client_side_validation && goods_receipt_id.nil?
        fail ArgumentError, "Missing the required parameter 'goods_receipt_id' when calling GoodsReceiptApi.delete_goods_receipt"
      end
      # resource path
      local_var_path = '/api/v1/goods-receipts/{goods_receipt_id}'.sub('{goods_receipt_id}', CGI.escape(goods_receipt_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"GoodsReceiptApi.delete_goods_receipt",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GoodsReceiptApi#delete_goods_receipt\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param goods_receipt_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [GoodsReceipt]
    def get_goods_receipt(goods_receipt_id, opts = {})
      data, _status_code, _headers = get_goods_receipt_with_http_info(goods_receipt_id, opts)
      data
    end

    # @param goods_receipt_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GoodsReceipt, Integer, Hash)>] GoodsReceipt data, response status code and response headers
    def get_goods_receipt_with_http_info(goods_receipt_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GoodsReceiptApi.get_goods_receipt ...'
      end
      # verify the required parameter 'goods_receipt_id' is set
      if @api_client.config.client_side_validation && goods_receipt_id.nil?
        fail ArgumentError, "Missing the required parameter 'goods_receipt_id' when calling GoodsReceiptApi.get_goods_receipt"
      end
      # resource path
      local_var_path = '/api/v1/goods-receipts/{goods_receipt_id}'.sub('{goods_receipt_id}', CGI.escape(goods_receipt_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GoodsReceipt'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"GoodsReceiptApi.get_goods_receipt",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GoodsReceiptApi#get_goods_receipt\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page 
    # @option opts [Integer] :page_size 
    # @option opts [String] :purchase_order_id 
    # @option opts [String] :supplier_name 
    # @option opts [String] :warehouse_id 
    # @return [Array<GoodsReceipt>]
    def list_goods_receipts(opts = {})
      data, _status_code, _headers = list_goods_receipts_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page 
    # @option opts [Integer] :page_size 
    # @option opts [String] :purchase_order_id 
    # @option opts [String] :supplier_name 
    # @option opts [String] :warehouse_id 
    # @return [Array<(Array<GoodsReceipt>, Integer, Hash)>] Array<GoodsReceipt> data, response status code and response headers
    def list_goods_receipts_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GoodsReceiptApi.list_goods_receipts ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling GoodsReceiptApi.list_goods_receipts, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling GoodsReceiptApi.list_goods_receipts, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/api/v1/goods-receipts/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'purchase_order_id'] = opts[:'purchase_order_id'] if !opts[:'purchase_order_id'].nil?
      query_params[:'supplier_name'] = opts[:'supplier_name'] if !opts[:'supplier_name'].nil?
      query_params[:'warehouse_id'] = opts[:'warehouse_id'] if !opts[:'warehouse_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<GoodsReceipt>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"GoodsReceiptApi.list_goods_receipts",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GoodsReceiptApi#list_goods_receipts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
