=begin
#SimpleBilly API

#Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.

The version of the OpenAPI document: 0.1.0
Contact: support@simplebilly.com
Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module SimplebillyApi
  class GroupFigureApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param group_figure_create [GroupFigureCreate] 
    # @param [Hash] opts the optional parameters
    # @return [GroupFigure]
    def create_group_figure(group_figure_create, opts = {})
      data, _status_code, _headers = create_group_figure_with_http_info(group_figure_create, opts)
      data
    end

    # @param group_figure_create [GroupFigureCreate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GroupFigure, Integer, Hash)>] GroupFigure data, response status code and response headers
    def create_group_figure_with_http_info(group_figure_create, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupFigureApi.create_group_figure ...'
      end
      # verify the required parameter 'group_figure_create' is set
      if @api_client.config.client_side_validation && group_figure_create.nil?
        fail ArgumentError, "Missing the required parameter 'group_figure_create' when calling GroupFigureApi.create_group_figure"
      end
      # resource path
      local_var_path = '/api/v1/group-figures'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(group_figure_create)

      # return_type
      return_type = opts[:debug_return_type] || 'GroupFigure'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"GroupFigureApi.create_group_figure",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupFigureApi#create_group_figure\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param year [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_group_figure(year, opts = {})
      delete_group_figure_with_http_info(year, opts)
      nil
    end

    # @param year [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_group_figure_with_http_info(year, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupFigureApi.delete_group_figure ...'
      end
      # verify the required parameter 'year' is set
      if @api_client.config.client_side_validation && year.nil?
        fail ArgumentError, "Missing the required parameter 'year' when calling GroupFigureApi.delete_group_figure"
      end
      # resource path
      local_var_path = '/api/v1/group-figures/{year}'.sub('{year}', CGI.escape(year.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"GroupFigureApi.delete_group_figure",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupFigureApi#delete_group_figure\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param year [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [GroupFigure]
    def get_group_figure(year, opts = {})
      data, _status_code, _headers = get_group_figure_with_http_info(year, opts)
      data
    end

    # @param year [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GroupFigure, Integer, Hash)>] GroupFigure data, response status code and response headers
    def get_group_figure_with_http_info(year, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupFigureApi.get_group_figure ...'
      end
      # verify the required parameter 'year' is set
      if @api_client.config.client_side_validation && year.nil?
        fail ArgumentError, "Missing the required parameter 'year' when calling GroupFigureApi.get_group_figure"
      end
      # resource path
      local_var_path = '/api/v1/group-figures/{year}'.sub('{year}', CGI.escape(year.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GroupFigure'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"GroupFigureApi.get_group_figure",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupFigureApi#get_group_figure\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page 
    # @option opts [Integer] :page_size 
    # @option opts [String] :search 
    # @option opts [Boolean] :include_deleted Soft-delete entities: set true to include rows with &#x60;deleted_at&#x60; set.
    # @return [Array<GroupFigure>]
    def get_group_figures(opts = {})
      data, _status_code, _headers = get_group_figures_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page 
    # @option opts [Integer] :page_size 
    # @option opts [String] :search 
    # @option opts [Boolean] :include_deleted Soft-delete entities: set true to include rows with &#x60;deleted_at&#x60; set.
    # @return [Array<(Array<GroupFigure>, Integer, Hash)>] Array<GroupFigure> data, response status code and response headers
    def get_group_figures_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupFigureApi.get_group_figures ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling GroupFigureApi.get_group_figures, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling GroupFigureApi.get_group_figures, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/api/v1/group-figures/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?
      query_params[:'include_deleted'] = opts[:'include_deleted'] if !opts[:'include_deleted'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<GroupFigure>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"GroupFigureApi.get_group_figures",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupFigureApi#get_group_figures\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param year [Integer] 
    # @param group_figure_update [GroupFigureUpdate] 
    # @param [Hash] opts the optional parameters
    # @return [GroupFigure]
    def update_group_figure(year, group_figure_update, opts = {})
      data, _status_code, _headers = update_group_figure_with_http_info(year, group_figure_update, opts)
      data
    end

    # @param year [Integer] 
    # @param group_figure_update [GroupFigureUpdate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GroupFigure, Integer, Hash)>] GroupFigure data, response status code and response headers
    def update_group_figure_with_http_info(year, group_figure_update, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupFigureApi.update_group_figure ...'
      end
      # verify the required parameter 'year' is set
      if @api_client.config.client_side_validation && year.nil?
        fail ArgumentError, "Missing the required parameter 'year' when calling GroupFigureApi.update_group_figure"
      end
      # verify the required parameter 'group_figure_update' is set
      if @api_client.config.client_side_validation && group_figure_update.nil?
        fail ArgumentError, "Missing the required parameter 'group_figure_update' when calling GroupFigureApi.update_group_figure"
      end
      # resource path
      local_var_path = '/api/v1/group-figures/{year}'.sub('{year}', CGI.escape(year.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(group_figure_update)

      # return_type
      return_type = opts[:debug_return_type] || 'GroupFigure'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"GroupFigureApi.update_group_figure",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupFigureApi#update_group_figure\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
