=begin
#SimpleBilly API

#Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.

The version of the OpenAPI document: 0.1.0
Contact: support@simplebilly.com
Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module SimplebillyApi
  class ImportRunnerApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param job_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [ImportJobStatus]
    def get_import_status(job_id, opts = {})
      data, _status_code, _headers = get_import_status_with_http_info(job_id, opts)
      data
    end

    # @param job_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ImportJobStatus, Integer, Hash)>] ImportJobStatus data, response status code and response headers
    def get_import_status_with_http_info(job_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ImportRunnerApi.get_import_status ...'
      end
      # verify the required parameter 'job_id' is set
      if @api_client.config.client_side_validation && job_id.nil?
        fail ArgumentError, "Missing the required parameter 'job_id' when calling ImportRunnerApi.get_import_status"
      end
      # resource path
      local_var_path = '/api/v1/import/{job_id}'.sub('{job_id}', CGI.escape(job_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ImportJobStatus'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"ImportRunnerApi.get_import_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ImportRunnerApi#get_import_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param import_start_request [ImportStartRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ImportStartResponse]
    def start_import(import_start_request, opts = {})
      data, _status_code, _headers = start_import_with_http_info(import_start_request, opts)
      data
    end

    # @param import_start_request [ImportStartRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ImportStartResponse, Integer, Hash)>] ImportStartResponse data, response status code and response headers
    def start_import_with_http_info(import_start_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ImportRunnerApi.start_import ...'
      end
      # verify the required parameter 'import_start_request' is set
      if @api_client.config.client_side_validation && import_start_request.nil?
        fail ArgumentError, "Missing the required parameter 'import_start_request' when calling ImportRunnerApi.start_import"
      end
      # resource path
      local_var_path = '/api/v1/import/start'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(import_start_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ImportStartResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"ImportRunnerApi.start_import",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ImportRunnerApi#start_import\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param import_test_request [ImportTestRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ImportTestResponse]
    def test_import_connection(import_test_request, opts = {})
      data, _status_code, _headers = test_import_connection_with_http_info(import_test_request, opts)
      data
    end

    # @param import_test_request [ImportTestRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ImportTestResponse, Integer, Hash)>] ImportTestResponse data, response status code and response headers
    def test_import_connection_with_http_info(import_test_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ImportRunnerApi.test_import_connection ...'
      end
      # verify the required parameter 'import_test_request' is set
      if @api_client.config.client_side_validation && import_test_request.nil?
        fail ArgumentError, "Missing the required parameter 'import_test_request' when calling ImportRunnerApi.test_import_connection"
      end
      # resource path
      local_var_path = '/api/v1/import/test'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(import_test_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ImportTestResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"ImportRunnerApi.test_import_connection",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ImportRunnerApi#test_import_connection\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
