=begin
#SimpleBilly API

#Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.

The version of the OpenAPI document: 0.1.0
Contact: support@simplebilly.com
Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module SimplebillyApi
  class InstituteProfileApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Current institute profile (created with defaults when missing).
    # @param [Hash] opts the optional parameters
    # @return [InstituteProfile]
    def get_institute_profile(opts = {})
      data, _status_code, _headers = get_institute_profile_with_http_info(opts)
      data
    end

    # Current institute profile (created with defaults when missing).
    # @param [Hash] opts the optional parameters
    # @return [Array<(InstituteProfile, Integer, Hash)>] InstituteProfile data, response status code and response headers
    def get_institute_profile_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InstituteProfileApi.get_institute_profile ...'
      end
      # resource path
      local_var_path = '/api/v1/institute-profile'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InstituteProfile'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"InstituteProfileApi.get_institute_profile",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InstituteProfileApi#get_institute_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update the institute profile (institute_type and/or kapitalmarktorientiert).
    # @param institute_profile_update [InstituteProfileUpdate] 
    # @param [Hash] opts the optional parameters
    # @return [InstituteProfile]
    def update_institute_profile(institute_profile_update, opts = {})
      data, _status_code, _headers = update_institute_profile_with_http_info(institute_profile_update, opts)
      data
    end

    # Update the institute profile (institute_type and/or kapitalmarktorientiert).
    # @param institute_profile_update [InstituteProfileUpdate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InstituteProfile, Integer, Hash)>] InstituteProfile data, response status code and response headers
    def update_institute_profile_with_http_info(institute_profile_update, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InstituteProfileApi.update_institute_profile ...'
      end
      # verify the required parameter 'institute_profile_update' is set
      if @api_client.config.client_side_validation && institute_profile_update.nil?
        fail ArgumentError, "Missing the required parameter 'institute_profile_update' when calling InstituteProfileApi.update_institute_profile"
      end
      # resource path
      local_var_path = '/api/v1/institute-profile'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(institute_profile_update)

      # return_type
      return_type = opts[:debug_return_type] || 'InstituteProfile'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"InstituteProfileApi.update_institute_profile",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InstituteProfileApi#update_institute_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
