=begin
#SimpleBilly API

#Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.

The version of the OpenAPI document: 0.1.0
Contact: support@simplebilly.com
Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module SimplebillyApi
  class InventoryCountApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param inventory_count [InventoryCount] 
    # @param [Hash] opts the optional parameters
    # @return [InventoryCount]
    def create_inventory_count(inventory_count, opts = {})
      data, _status_code, _headers = create_inventory_count_with_http_info(inventory_count, opts)
      data
    end

    # @param inventory_count [InventoryCount] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InventoryCount, Integer, Hash)>] InventoryCount data, response status code and response headers
    def create_inventory_count_with_http_info(inventory_count, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InventoryCountApi.create_inventory_count ...'
      end
      # verify the required parameter 'inventory_count' is set
      if @api_client.config.client_side_validation && inventory_count.nil?
        fail ArgumentError, "Missing the required parameter 'inventory_count' when calling InventoryCountApi.create_inventory_count"
      end
      # resource path
      local_var_path = '/api/v1/inventory-counts'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(inventory_count)

      # return_type
      return_type = opts[:debug_return_type] || 'InventoryCount'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"InventoryCountApi.create_inventory_count",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InventoryCountApi#create_inventory_count\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param inventory_count_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_inventory_count(inventory_count_id, opts = {})
      delete_inventory_count_with_http_info(inventory_count_id, opts)
      nil
    end

    # @param inventory_count_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_inventory_count_with_http_info(inventory_count_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InventoryCountApi.delete_inventory_count ...'
      end
      # verify the required parameter 'inventory_count_id' is set
      if @api_client.config.client_side_validation && inventory_count_id.nil?
        fail ArgumentError, "Missing the required parameter 'inventory_count_id' when calling InventoryCountApi.delete_inventory_count"
      end
      # resource path
      local_var_path = '/api/v1/inventory-counts/{inventory_count_id}'.sub('{inventory_count_id}', CGI.escape(inventory_count_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"InventoryCountApi.delete_inventory_count",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InventoryCountApi#delete_inventory_count\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param generate_count_request [GenerateCountRequest] 
    # @param [Hash] opts the optional parameters
    # @return [InventoryCount]
    def generate_inventory_count(generate_count_request, opts = {})
      data, _status_code, _headers = generate_inventory_count_with_http_info(generate_count_request, opts)
      data
    end

    # @param generate_count_request [GenerateCountRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InventoryCount, Integer, Hash)>] InventoryCount data, response status code and response headers
    def generate_inventory_count_with_http_info(generate_count_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InventoryCountApi.generate_inventory_count ...'
      end
      # verify the required parameter 'generate_count_request' is set
      if @api_client.config.client_side_validation && generate_count_request.nil?
        fail ArgumentError, "Missing the required parameter 'generate_count_request' when calling InventoryCountApi.generate_inventory_count"
      end
      # resource path
      local_var_path = '/api/v1/inventory-counts/generate'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(generate_count_request)

      # return_type
      return_type = opts[:debug_return_type] || 'InventoryCount'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"InventoryCountApi.generate_inventory_count",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InventoryCountApi#generate_inventory_count\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param inventory_count_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [InventoryCount]
    def get_inventory_count(inventory_count_id, opts = {})
      data, _status_code, _headers = get_inventory_count_with_http_info(inventory_count_id, opts)
      data
    end

    # @param inventory_count_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InventoryCount, Integer, Hash)>] InventoryCount data, response status code and response headers
    def get_inventory_count_with_http_info(inventory_count_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InventoryCountApi.get_inventory_count ...'
      end
      # verify the required parameter 'inventory_count_id' is set
      if @api_client.config.client_side_validation && inventory_count_id.nil?
        fail ArgumentError, "Missing the required parameter 'inventory_count_id' when calling InventoryCountApi.get_inventory_count"
      end
      # resource path
      local_var_path = '/api/v1/inventory-counts/{inventory_count_id}'.sub('{inventory_count_id}', CGI.escape(inventory_count_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InventoryCount'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"InventoryCountApi.get_inventory_count",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InventoryCountApi#get_inventory_count\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page 
    # @option opts [Integer] :page_size 
    # @option opts [String] :status 
    # @option opts [String] :warehouse_id 
    # @return [Array<InventoryCount>]
    def list_inventory_counts(opts = {})
      data, _status_code, _headers = list_inventory_counts_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page 
    # @option opts [Integer] :page_size 
    # @option opts [String] :status 
    # @option opts [String] :warehouse_id 
    # @return [Array<(Array<InventoryCount>, Integer, Hash)>] Array<InventoryCount> data, response status code and response headers
    def list_inventory_counts_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InventoryCountApi.list_inventory_counts ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling InventoryCountApi.list_inventory_counts, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling InventoryCountApi.list_inventory_counts, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/api/v1/inventory-counts/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'warehouse_id'] = opts[:'warehouse_id'] if !opts[:'warehouse_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<InventoryCount>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"InventoryCountApi.list_inventory_counts",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InventoryCountApi#list_inventory_counts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param inventory_count_id [String] 
    # @param body [Object] 
    # @param [Hash] opts the optional parameters
    # @return [InventoryCount]
    def update_inventory_count(inventory_count_id, body, opts = {})
      data, _status_code, _headers = update_inventory_count_with_http_info(inventory_count_id, body, opts)
      data
    end

    # @param inventory_count_id [String] 
    # @param body [Object] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InventoryCount, Integer, Hash)>] InventoryCount data, response status code and response headers
    def update_inventory_count_with_http_info(inventory_count_id, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InventoryCountApi.update_inventory_count ...'
      end
      # verify the required parameter 'inventory_count_id' is set
      if @api_client.config.client_side_validation && inventory_count_id.nil?
        fail ArgumentError, "Missing the required parameter 'inventory_count_id' when calling InventoryCountApi.update_inventory_count"
      end
      # resource path
      local_var_path = '/api/v1/inventory-counts/{inventory_count_id}'.sub('{inventory_count_id}', CGI.escape(inventory_count_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'InventoryCount'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"InventoryCountApi.update_inventory_count",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InventoryCountApi#update_inventory_count\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param inventory_count_id [String] 
    # @param inventory_count_status_update [InventoryCountStatusUpdate] 
    # @param [Hash] opts the optional parameters
    # @return [InventoryCount]
    def update_inventory_count_status(inventory_count_id, inventory_count_status_update, opts = {})
      data, _status_code, _headers = update_inventory_count_status_with_http_info(inventory_count_id, inventory_count_status_update, opts)
      data
    end

    # @param inventory_count_id [String] 
    # @param inventory_count_status_update [InventoryCountStatusUpdate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InventoryCount, Integer, Hash)>] InventoryCount data, response status code and response headers
    def update_inventory_count_status_with_http_info(inventory_count_id, inventory_count_status_update, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InventoryCountApi.update_inventory_count_status ...'
      end
      # verify the required parameter 'inventory_count_id' is set
      if @api_client.config.client_side_validation && inventory_count_id.nil?
        fail ArgumentError, "Missing the required parameter 'inventory_count_id' when calling InventoryCountApi.update_inventory_count_status"
      end
      # verify the required parameter 'inventory_count_status_update' is set
      if @api_client.config.client_side_validation && inventory_count_status_update.nil?
        fail ArgumentError, "Missing the required parameter 'inventory_count_status_update' when calling InventoryCountApi.update_inventory_count_status"
      end
      # resource path
      local_var_path = '/api/v1/inventory-counts/{inventory_count_id}/status'.sub('{inventory_count_id}', CGI.escape(inventory_count_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(inventory_count_status_update)

      # return_type
      return_type = opts[:debug_return_type] || 'InventoryCount'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"InventoryCountApi.update_inventory_count_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InventoryCountApi#update_inventory_count_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
