=begin
#SimpleBilly API

#Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.

The version of the OpenAPI document: 0.1.0
Contact: support@simplebilly.com
Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module SimplebillyApi
  class KostenVorschauApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param year [Integer] 
    # @param month [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [KostenVorschau]
    def kosten_vorschau_api(year, month, opts = {})
      data, _status_code, _headers = kosten_vorschau_api_with_http_info(year, month, opts)
      data
    end

    # @param year [Integer] 
    # @param month [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(KostenVorschau, Integer, Hash)>] KostenVorschau data, response status code and response headers
    def kosten_vorschau_api_with_http_info(year, month, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KostenVorschauApi.kosten_vorschau_api ...'
      end
      # verify the required parameter 'year' is set
      if @api_client.config.client_side_validation && year.nil?
        fail ArgumentError, "Missing the required parameter 'year' when calling KostenVorschauApi.kosten_vorschau_api"
      end
      # verify the required parameter 'month' is set
      if @api_client.config.client_side_validation && month.nil?
        fail ArgumentError, "Missing the required parameter 'month' when calling KostenVorschauApi.kosten_vorschau_api"
      end
      if @api_client.config.client_side_validation && month < 0
        fail ArgumentError, 'invalid value for "month" when calling KostenVorschauApi.kosten_vorschau_api, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/api/v1/bookkeeping/kosten-vorschau'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'year'] = year
      query_params[:'month'] = month

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'KostenVorschau'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"KostenVorschauApi.kosten_vorschau_api",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KostenVorschauApi#kosten_vorschau_api\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
