=begin
#SimpleBilly API

#Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.

The version of the OpenAPI document: 0.1.0
Contact: support@simplebilly.com
Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module SimplebillyApi
  class LeadApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param [Hash] opts the optional parameters
    # @option opts [String] :status 
    # @option opts [String] :source 
    # @option opts [String] :search 
    # @option opts [Integer] :page 
    # @option opts [Integer] :page_size 
    # @return [Array<Lead>]
    def list_leads_api(opts = {})
      data, _status_code, _headers = list_leads_api_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :status 
    # @option opts [String] :source 
    # @option opts [String] :search 
    # @option opts [Integer] :page 
    # @option opts [Integer] :page_size 
    # @return [Array<(Array<Lead>, Integer, Hash)>] Array<Lead> data, response status code and response headers
    def list_leads_api_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LeadApi.list_leads_api ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling LeadApi.list_leads_api, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling LeadApi.list_leads_api, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/api/v1/support/leads'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'source'] = opts[:'source'] if !opts[:'source'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<Lead>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"LeadApi.list_leads_api",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LeadApi#list_leads_api\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param lead_id [String] 
    # @param lead_update [LeadUpdate] 
    # @param [Hash] opts the optional parameters
    # @return [Lead]
    def update_lead_api(lead_id, lead_update, opts = {})
      data, _status_code, _headers = update_lead_api_with_http_info(lead_id, lead_update, opts)
      data
    end

    # @param lead_id [String] 
    # @param lead_update [LeadUpdate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Lead, Integer, Hash)>] Lead data, response status code and response headers
    def update_lead_api_with_http_info(lead_id, lead_update, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LeadApi.update_lead_api ...'
      end
      # verify the required parameter 'lead_id' is set
      if @api_client.config.client_side_validation && lead_id.nil?
        fail ArgumentError, "Missing the required parameter 'lead_id' when calling LeadApi.update_lead_api"
      end
      # verify the required parameter 'lead_update' is set
      if @api_client.config.client_side_validation && lead_update.nil?
        fail ArgumentError, "Missing the required parameter 'lead_update' when calling LeadApi.update_lead_api"
      end
      # resource path
      local_var_path = '/api/v1/support/leads/{lead_id}'.sub('{lead_id}', CGI.escape(lead_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(lead_update)

      # return_type
      return_type = opts[:debug_return_type] || 'Lead'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"LeadApi.update_lead_api",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LeadApi#update_lead_api\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
