=begin
#SimpleBilly API

#Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.

The version of the OpenAPI document: 0.1.0
Contact: support@simplebilly.com
Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module SimplebillyApi
  class MarketplaceApiApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a new connection (for API-key based platforms)
    # @param create_connection_request [CreateConnectionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [MarketplaceConnection]
    def create_connection_api(create_connection_request, opts = {})
      data, _status_code, _headers = create_connection_api_with_http_info(create_connection_request, opts)
      data
    end

    # Create a new connection (for API-key based platforms)
    # @param create_connection_request [CreateConnectionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MarketplaceConnection, Integer, Hash)>] MarketplaceConnection data, response status code and response headers
    def create_connection_api_with_http_info(create_connection_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MarketplaceApiApi.create_connection_api ...'
      end
      # verify the required parameter 'create_connection_request' is set
      if @api_client.config.client_side_validation && create_connection_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_connection_request' when calling MarketplaceApiApi.create_connection_api"
      end
      # resource path
      local_var_path = '/api/v1/marketplace/connections'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_connection_request)

      # return_type
      return_type = opts[:debug_return_type] || 'MarketplaceConnection'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"MarketplaceApiApi.create_connection_api",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MarketplaceApiApi#create_connection_api\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Soft-delete a connection
    # @param connection_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_connection_api(connection_id, opts = {})
      delete_connection_api_with_http_info(connection_id, opts)
      nil
    end

    # Soft-delete a connection
    # @param connection_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_connection_api_with_http_info(connection_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MarketplaceApiApi.delete_connection_api ...'
      end
      # verify the required parameter 'connection_id' is set
      if @api_client.config.client_side_validation && connection_id.nil?
        fail ArgumentError, "Missing the required parameter 'connection_id' when calling MarketplaceApiApi.delete_connection_api"
      end
      # resource path
      local_var_path = '/api/v1/marketplace/connections/{connection_id}'.sub('{connection_id}', CGI.escape(connection_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"MarketplaceApiApi.delete_connection_api",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MarketplaceApiApi#delete_connection_api\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a single connection
    # @param connection_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [MarketplaceConnection]
    def get_connection_api(connection_id, opts = {})
      data, _status_code, _headers = get_connection_api_with_http_info(connection_id, opts)
      data
    end

    # Get a single connection
    # @param connection_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MarketplaceConnection, Integer, Hash)>] MarketplaceConnection data, response status code and response headers
    def get_connection_api_with_http_info(connection_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MarketplaceApiApi.get_connection_api ...'
      end
      # verify the required parameter 'connection_id' is set
      if @api_client.config.client_side_validation && connection_id.nil?
        fail ArgumentError, "Missing the required parameter 'connection_id' when calling MarketplaceApiApi.get_connection_api"
      end
      # resource path
      local_var_path = '/api/v1/marketplace/connections/{connection_id}'.sub('{connection_id}', CGI.escape(connection_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MarketplaceConnection'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"MarketplaceApiApi.get_connection_api",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MarketplaceApiApi#get_connection_api\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get current sync direction configuration for a connection
    # @param connection_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def get_sync_direction_api(connection_id, opts = {})
      get_sync_direction_api_with_http_info(connection_id, opts)
      nil
    end

    # Get current sync direction configuration for a connection
    # @param connection_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def get_sync_direction_api_with_http_info(connection_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MarketplaceApiApi.get_sync_direction_api ...'
      end
      # verify the required parameter 'connection_id' is set
      if @api_client.config.client_side_validation && connection_id.nil?
        fail ArgumentError, "Missing the required parameter 'connection_id' when calling MarketplaceApiApi.get_sync_direction_api"
      end
      # resource path
      local_var_path = '/api/v1/marketplace/connections/{connection_id}/directions'.sub('{connection_id}', CGI.escape(connection_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"MarketplaceApiApi.get_sync_direction_api",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MarketplaceApiApi#get_sync_direction_api\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get sync logs for a connection
    # @param connection_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<SyncLog>]
    def get_sync_logs_api(connection_id, opts = {})
      data, _status_code, _headers = get_sync_logs_api_with_http_info(connection_id, opts)
      data
    end

    # Get sync logs for a connection
    # @param connection_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<SyncLog>, Integer, Hash)>] Array<SyncLog> data, response status code and response headers
    def get_sync_logs_api_with_http_info(connection_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MarketplaceApiApi.get_sync_logs_api ...'
      end
      # verify the required parameter 'connection_id' is set
      if @api_client.config.client_side_validation && connection_id.nil?
        fail ArgumentError, "Missing the required parameter 'connection_id' when calling MarketplaceApiApi.get_sync_logs_api"
      end
      # resource path
      local_var_path = '/api/v1/marketplace/connections/{connection_id}/logs'.sub('{connection_id}', CGI.escape(connection_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<SyncLog>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"MarketplaceApiApi.get_sync_logs_api",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MarketplaceApiApi#get_sync_logs_api\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List connections for the current tenant
    # @param [Hash] opts the optional parameters
    # @return [Array<MarketplaceConnection>]
    def list_connections_api(opts = {})
      data, _status_code, _headers = list_connections_api_with_http_info(opts)
      data
    end

    # List connections for the current tenant
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<MarketplaceConnection>, Integer, Hash)>] Array<MarketplaceConnection> data, response status code and response headers
    def list_connections_api_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MarketplaceApiApi.list_connections_api ...'
      end
      # resource path
      local_var_path = '/api/v1/marketplace/connections'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<MarketplaceConnection>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"MarketplaceApiApi.list_connections_api",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MarketplaceApiApi#list_connections_api\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List all supported platforms
    # @param [Hash] opts the optional parameters
    # @return [Array<PlatformInfo>]
    def list_platforms_api(opts = {})
      data, _status_code, _headers = list_platforms_api_with_http_info(opts)
      data
    end

    # List all supported platforms
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<PlatformInfo>, Integer, Hash)>] Array<PlatformInfo> data, response status code and response headers
    def list_platforms_api_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MarketplaceApiApi.list_platforms_api ...'
      end
      # resource path
      local_var_path = '/api/v1/marketplace/platforms'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<PlatformInfo>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"MarketplaceApiApi.list_platforms_api",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MarketplaceApiApi#list_platforms_api\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # OAuth: initiate authorization flow
    # @param o_auth_authorize_request [OAuthAuthorizeRequest] 
    # @param [Hash] opts the optional parameters
    # @return [OAuthAuthorizeResponse]
    def oauth_authorize_api(o_auth_authorize_request, opts = {})
      data, _status_code, _headers = oauth_authorize_api_with_http_info(o_auth_authorize_request, opts)
      data
    end

    # OAuth: initiate authorization flow
    # @param o_auth_authorize_request [OAuthAuthorizeRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(OAuthAuthorizeResponse, Integer, Hash)>] OAuthAuthorizeResponse data, response status code and response headers
    def oauth_authorize_api_with_http_info(o_auth_authorize_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MarketplaceApiApi.oauth_authorize_api ...'
      end
      # verify the required parameter 'o_auth_authorize_request' is set
      if @api_client.config.client_side_validation && o_auth_authorize_request.nil?
        fail ArgumentError, "Missing the required parameter 'o_auth_authorize_request' when calling MarketplaceApiApi.oauth_authorize_api"
      end
      # resource path
      local_var_path = '/api/v1/marketplace/oauth/authorize'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(o_auth_authorize_request)

      # return_type
      return_type = opts[:debug_return_type] || 'OAuthAuthorizeResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"MarketplaceApiApi.oauth_authorize_api",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MarketplaceApiApi#oauth_authorize_api\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # OAuth: handle callback after authorization
    # @param o_auth_callback_request [OAuthCallbackRequest] 
    # @param [Hash] opts the optional parameters
    # @return [MarketplaceConnection]
    def oauth_callback_api(o_auth_callback_request, opts = {})
      data, _status_code, _headers = oauth_callback_api_with_http_info(o_auth_callback_request, opts)
      data
    end

    # OAuth: handle callback after authorization
    # @param o_auth_callback_request [OAuthCallbackRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MarketplaceConnection, Integer, Hash)>] MarketplaceConnection data, response status code and response headers
    def oauth_callback_api_with_http_info(o_auth_callback_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MarketplaceApiApi.oauth_callback_api ...'
      end
      # verify the required parameter 'o_auth_callback_request' is set
      if @api_client.config.client_side_validation && o_auth_callback_request.nil?
        fail ArgumentError, "Missing the required parameter 'o_auth_callback_request' when calling MarketplaceApiApi.oauth_callback_api"
      end
      # resource path
      local_var_path = '/api/v1/marketplace/oauth/callback'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(o_auth_callback_request)

      # return_type
      return_type = opts[:debug_return_type] || 'MarketplaceConnection'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"MarketplaceApiApi.oauth_callback_api",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MarketplaceApiApi#oauth_callback_api\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Trigger sync for a connection
    # @param connection_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sync_type 
    # @option opts [String] :direction 
    # @return [SyncSummary]
    def trigger_sync_api(connection_id, opts = {})
      data, _status_code, _headers = trigger_sync_api_with_http_info(connection_id, opts)
      data
    end

    # Trigger sync for a connection
    # @param connection_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sync_type 
    # @option opts [String] :direction 
    # @return [Array<(SyncSummary, Integer, Hash)>] SyncSummary data, response status code and response headers
    def trigger_sync_api_with_http_info(connection_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MarketplaceApiApi.trigger_sync_api ...'
      end
      # verify the required parameter 'connection_id' is set
      if @api_client.config.client_side_validation && connection_id.nil?
        fail ArgumentError, "Missing the required parameter 'connection_id' when calling MarketplaceApiApi.trigger_sync_api"
      end
      # resource path
      local_var_path = '/api/v1/marketplace/connections/{connection_id}/sync'.sub('{connection_id}', CGI.escape(connection_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'sync_type'] = opts[:'sync_type'] if !opts[:'sync_type'].nil?
      query_params[:'direction'] = opts[:'direction'] if !opts[:'direction'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SyncSummary'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"MarketplaceApiApi.trigger_sync_api",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MarketplaceApiApi#trigger_sync_api\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a connection
    # @param connection_id [String] 
    # @param update_connection_request [UpdateConnectionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [MarketplaceConnection]
    def update_connection_api(connection_id, update_connection_request, opts = {})
      data, _status_code, _headers = update_connection_api_with_http_info(connection_id, update_connection_request, opts)
      data
    end

    # Update a connection
    # @param connection_id [String] 
    # @param update_connection_request [UpdateConnectionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MarketplaceConnection, Integer, Hash)>] MarketplaceConnection data, response status code and response headers
    def update_connection_api_with_http_info(connection_id, update_connection_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MarketplaceApiApi.update_connection_api ...'
      end
      # verify the required parameter 'connection_id' is set
      if @api_client.config.client_side_validation && connection_id.nil?
        fail ArgumentError, "Missing the required parameter 'connection_id' when calling MarketplaceApiApi.update_connection_api"
      end
      # verify the required parameter 'update_connection_request' is set
      if @api_client.config.client_side_validation && update_connection_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_connection_request' when calling MarketplaceApiApi.update_connection_api"
      end
      # resource path
      local_var_path = '/api/v1/marketplace/connections/{connection_id}'.sub('{connection_id}', CGI.escape(connection_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_connection_request)

      # return_type
      return_type = opts[:debug_return_type] || 'MarketplaceConnection'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"MarketplaceApiApi.update_connection_api",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MarketplaceApiApi#update_connection_api\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update per-entity sync direction configuration for a connection
    # @param connection_id [String] 
    # @param update_sync_direction_request [UpdateSyncDirectionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def update_sync_direction_api(connection_id, update_sync_direction_request, opts = {})
      update_sync_direction_api_with_http_info(connection_id, update_sync_direction_request, opts)
      nil
    end

    # Update per-entity sync direction configuration for a connection
    # @param connection_id [String] 
    # @param update_sync_direction_request [UpdateSyncDirectionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def update_sync_direction_api_with_http_info(connection_id, update_sync_direction_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MarketplaceApiApi.update_sync_direction_api ...'
      end
      # verify the required parameter 'connection_id' is set
      if @api_client.config.client_side_validation && connection_id.nil?
        fail ArgumentError, "Missing the required parameter 'connection_id' when calling MarketplaceApiApi.update_sync_direction_api"
      end
      # verify the required parameter 'update_sync_direction_request' is set
      if @api_client.config.client_side_validation && update_sync_direction_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_sync_direction_request' when calling MarketplaceApiApi.update_sync_direction_api"
      end
      # resource path
      local_var_path = '/api/v1/marketplace/connections/{connection_id}/directions'.sub('{connection_id}', CGI.escape(connection_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_sync_direction_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"MarketplaceApiApi.update_sync_direction_api",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MarketplaceApiApi#update_sync_direction_api\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Webhook receiver
    # @param platform [String] 
    # @param connection_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def webhook_receiver_api(platform, connection_id, opts = {})
      webhook_receiver_api_with_http_info(platform, connection_id, opts)
      nil
    end

    # Webhook receiver
    # @param platform [String] 
    # @param connection_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def webhook_receiver_api_with_http_info(platform, connection_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MarketplaceApiApi.webhook_receiver_api ...'
      end
      # verify the required parameter 'platform' is set
      if @api_client.config.client_side_validation && platform.nil?
        fail ArgumentError, "Missing the required parameter 'platform' when calling MarketplaceApiApi.webhook_receiver_api"
      end
      # verify the required parameter 'connection_id' is set
      if @api_client.config.client_side_validation && connection_id.nil?
        fail ArgumentError, "Missing the required parameter 'connection_id' when calling MarketplaceApiApi.webhook_receiver_api"
      end
      # resource path
      local_var_path = '/api/v1/marketplace/webhook/{platform}/{connection_id}'.sub('{platform}', CGI.escape(platform.to_s)).sub('{connection_id}', CGI.escape(connection_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"MarketplaceApiApi.webhook_receiver_api",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MarketplaceApiApi#webhook_receiver_api\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
