=begin
#SimpleBilly API

#Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.

The version of the OpenAPI document: 0.1.0
Contact: support@simplebilly.com
Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module SimplebillyApi
  class OrderConfirmationApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param order_confirmation_create [OrderConfirmationCreate] 
    # @param [Hash] opts the optional parameters
    # @return [OrderConfirmation]
    def create_confirmation(order_confirmation_create, opts = {})
      data, _status_code, _headers = create_confirmation_with_http_info(order_confirmation_create, opts)
      data
    end

    # @param order_confirmation_create [OrderConfirmationCreate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(OrderConfirmation, Integer, Hash)>] OrderConfirmation data, response status code and response headers
    def create_confirmation_with_http_info(order_confirmation_create, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrderConfirmationApi.create_confirmation ...'
      end
      # verify the required parameter 'order_confirmation_create' is set
      if @api_client.config.client_side_validation && order_confirmation_create.nil?
        fail ArgumentError, "Missing the required parameter 'order_confirmation_create' when calling OrderConfirmationApi.create_confirmation"
      end
      # resource path
      local_var_path = '/api/v1/order-confirmations'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(order_confirmation_create)

      # return_type
      return_type = opts[:debug_return_type] || 'OrderConfirmation'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"OrderConfirmationApi.create_confirmation",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrderConfirmationApi#create_confirmation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param confirmation_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_confirmation(confirmation_id, opts = {})
      delete_confirmation_with_http_info(confirmation_id, opts)
      nil
    end

    # @param confirmation_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_confirmation_with_http_info(confirmation_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrderConfirmationApi.delete_confirmation ...'
      end
      # verify the required parameter 'confirmation_id' is set
      if @api_client.config.client_side_validation && confirmation_id.nil?
        fail ArgumentError, "Missing the required parameter 'confirmation_id' when calling OrderConfirmationApi.delete_confirmation"
      end
      # resource path
      local_var_path = '/api/v1/order-confirmations/{confirmation_id}'.sub('{confirmation_id}', CGI.escape(confirmation_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"OrderConfirmationApi.delete_confirmation",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrderConfirmationApi#delete_confirmation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param confirmation_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def download_confirmation_pdf(confirmation_id, opts = {})
      download_confirmation_pdf_with_http_info(confirmation_id, opts)
      nil
    end

    # @param confirmation_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def download_confirmation_pdf_with_http_info(confirmation_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrderConfirmationApi.download_confirmation_pdf ...'
      end
      # verify the required parameter 'confirmation_id' is set
      if @api_client.config.client_side_validation && confirmation_id.nil?
        fail ArgumentError, "Missing the required parameter 'confirmation_id' when calling OrderConfirmationApi.download_confirmation_pdf"
      end
      # resource path
      local_var_path = '/api/v1/order-confirmations/{confirmation_id}/pdf'.sub('{confirmation_id}', CGI.escape(confirmation_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/pdf', 'application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"OrderConfirmationApi.download_confirmation_pdf",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrderConfirmationApi#download_confirmation_pdf\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param confirmation_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [OrderConfirmation]
    def get_confirmation(confirmation_id, opts = {})
      data, _status_code, _headers = get_confirmation_with_http_info(confirmation_id, opts)
      data
    end

    # @param confirmation_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(OrderConfirmation, Integer, Hash)>] OrderConfirmation data, response status code and response headers
    def get_confirmation_with_http_info(confirmation_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrderConfirmationApi.get_confirmation ...'
      end
      # verify the required parameter 'confirmation_id' is set
      if @api_client.config.client_side_validation && confirmation_id.nil?
        fail ArgumentError, "Missing the required parameter 'confirmation_id' when calling OrderConfirmationApi.get_confirmation"
      end
      # resource path
      local_var_path = '/api/v1/order-confirmations/{confirmation_id}'.sub('{confirmation_id}', CGI.escape(confirmation_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OrderConfirmation'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"OrderConfirmationApi.get_confirmation",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrderConfirmationApi#get_confirmation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page 
    # @option opts [Integer] :page_size 
    # @option opts [String] :search 
    # @option opts [Boolean] :include_deleted Soft-delete entities: set true to include rows with &#x60;deleted_at&#x60; set.
    # @return [Array<OrderConfirmation>]
    def list_confirmations(opts = {})
      data, _status_code, _headers = list_confirmations_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page 
    # @option opts [Integer] :page_size 
    # @option opts [String] :search 
    # @option opts [Boolean] :include_deleted Soft-delete entities: set true to include rows with &#x60;deleted_at&#x60; set.
    # @return [Array<(Array<OrderConfirmation>, Integer, Hash)>] Array<OrderConfirmation> data, response status code and response headers
    def list_confirmations_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrderConfirmationApi.list_confirmations ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling OrderConfirmationApi.list_confirmations, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling OrderConfirmationApi.list_confirmations, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/api/v1/order-confirmations/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?
      query_params[:'include_deleted'] = opts[:'include_deleted'] if !opts[:'include_deleted'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<OrderConfirmation>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"OrderConfirmationApi.list_confirmations",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrderConfirmationApi#list_confirmations\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param confirmation_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [OrderConfirmation]
    def orderconfirmation_restore(confirmation_id, opts = {})
      data, _status_code, _headers = orderconfirmation_restore_with_http_info(confirmation_id, opts)
      data
    end

    # @param confirmation_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(OrderConfirmation, Integer, Hash)>] OrderConfirmation data, response status code and response headers
    def orderconfirmation_restore_with_http_info(confirmation_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrderConfirmationApi.orderconfirmation_restore ...'
      end
      # verify the required parameter 'confirmation_id' is set
      if @api_client.config.client_side_validation && confirmation_id.nil?
        fail ArgumentError, "Missing the required parameter 'confirmation_id' when calling OrderConfirmationApi.orderconfirmation_restore"
      end
      # resource path
      local_var_path = '/api/v1/order-confirmations/{confirmation_id}/restore'.sub('{confirmation_id}', CGI.escape(confirmation_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OrderConfirmation'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"OrderConfirmationApi.orderconfirmation_restore",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrderConfirmationApi#orderconfirmation_restore\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param confirmation_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [DeliveryNote]
    def pursue_confirmation(confirmation_id, opts = {})
      data, _status_code, _headers = pursue_confirmation_with_http_info(confirmation_id, opts)
      data
    end

    # @param confirmation_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeliveryNote, Integer, Hash)>] DeliveryNote data, response status code and response headers
    def pursue_confirmation_with_http_info(confirmation_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrderConfirmationApi.pursue_confirmation ...'
      end
      # verify the required parameter 'confirmation_id' is set
      if @api_client.config.client_side_validation && confirmation_id.nil?
        fail ArgumentError, "Missing the required parameter 'confirmation_id' when calling OrderConfirmationApi.pursue_confirmation"
      end
      # resource path
      local_var_path = '/api/v1/order-confirmations/{confirmation_id}/pursue'.sub('{confirmation_id}', CGI.escape(confirmation_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeliveryNote'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"OrderConfirmationApi.pursue_confirmation",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrderConfirmationApi#pursue_confirmation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
