=begin
#SimpleBilly API

#Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.

The version of the OpenAPI document: 0.1.0
Contact: support@simplebilly.com
Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module SimplebillyApi
  class PackingApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Mark packing as complete and transition order to shipped
    # @param order_number [String] 
    # @param packing_complete_request [PackingCompleteRequest] 
    # @param [Hash] opts the optional parameters
    # @return [PackingCompleteResponse]
    def complete_packing(order_number, packing_complete_request, opts = {})
      data, _status_code, _headers = complete_packing_with_http_info(order_number, packing_complete_request, opts)
      data
    end

    # Mark packing as complete and transition order to shipped
    # @param order_number [String] 
    # @param packing_complete_request [PackingCompleteRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PackingCompleteResponse, Integer, Hash)>] PackingCompleteResponse data, response status code and response headers
    def complete_packing_with_http_info(order_number, packing_complete_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PackingApi.complete_packing ...'
      end
      # verify the required parameter 'order_number' is set
      if @api_client.config.client_side_validation && order_number.nil?
        fail ArgumentError, "Missing the required parameter 'order_number' when calling PackingApi.complete_packing"
      end
      # verify the required parameter 'packing_complete_request' is set
      if @api_client.config.client_side_validation && packing_complete_request.nil?
        fail ArgumentError, "Missing the required parameter 'packing_complete_request' when calling PackingApi.complete_packing"
      end
      # resource path
      local_var_path = '/api/v1/packing/{order_number}/complete'.sub('{order_number}', CGI.escape(order_number.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(packing_complete_request)

      # return_type
      return_type = opts[:debug_return_type] || 'PackingCompleteResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"PackingApi.complete_packing",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PackingApi#complete_packing\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the packing queue - orders ready for packing
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page 
    # @option opts [Integer] :page_size 
    # @option opts [String] :search 
    # @return [PackingQueue]
    def get_packing_queue(opts = {})
      data, _status_code, _headers = get_packing_queue_with_http_info(opts)
      data
    end

    # Get the packing queue - orders ready for packing
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page 
    # @option opts [Integer] :page_size 
    # @option opts [String] :search 
    # @return [Array<(PackingQueue, Integer, Hash)>] PackingQueue data, response status code and response headers
    def get_packing_queue_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PackingApi.get_packing_queue ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling PackingApi.get_packing_queue, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling PackingApi.get_packing_queue, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/api/v1/packing/queue'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PackingQueue'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"PackingApi.get_packing_queue",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PackingApi#get_packing_queue\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Print delivery note (Lieferschein) for an order
    # @param order_number [String] 
    # @param [Hash] opts the optional parameters
    # @return [PrintDeliveryNoteResponse]
    def print_delivery_note(order_number, opts = {})
      data, _status_code, _headers = print_delivery_note_with_http_info(order_number, opts)
      data
    end

    # Print delivery note (Lieferschein) for an order
    # @param order_number [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PrintDeliveryNoteResponse, Integer, Hash)>] PrintDeliveryNoteResponse data, response status code and response headers
    def print_delivery_note_with_http_info(order_number, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PackingApi.print_delivery_note ...'
      end
      # verify the required parameter 'order_number' is set
      if @api_client.config.client_side_validation && order_number.nil?
        fail ArgumentError, "Missing the required parameter 'order_number' when calling PackingApi.print_delivery_note"
      end
      # resource path
      local_var_path = '/api/v1/packing/{order_number}/print-delivery-note'.sub('{order_number}', CGI.escape(order_number.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PrintDeliveryNoteResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"PackingApi.print_delivery_note",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PackingApi#print_delivery_note\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Print shipping label for an order
    # @param order_number [String] 
    # @param [Hash] opts the optional parameters
    # @return [PrintLabelResponse]
    def print_label(order_number, opts = {})
      data, _status_code, _headers = print_label_with_http_info(order_number, opts)
      data
    end

    # Print shipping label for an order
    # @param order_number [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PrintLabelResponse, Integer, Hash)>] PrintLabelResponse data, response status code and response headers
    def print_label_with_http_info(order_number, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PackingApi.print_label ...'
      end
      # verify the required parameter 'order_number' is set
      if @api_client.config.client_side_validation && order_number.nil?
        fail ArgumentError, "Missing the required parameter 'order_number' when calling PackingApi.print_label"
      end
      # resource path
      local_var_path = '/api/v1/packing/{order_number}/print-label'.sub('{order_number}', CGI.escape(order_number.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PrintLabelResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"PackingApi.print_label",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PackingApi#print_label\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Record video of packing process
    # @param order_number [String] 
    # @param body [Object] 
    # @param [Hash] opts the optional parameters
    # @return [PackingVideoResponse]
    def record_packing_video(order_number, body, opts = {})
      data, _status_code, _headers = record_packing_video_with_http_info(order_number, body, opts)
      data
    end

    # Record video of packing process
    # @param order_number [String] 
    # @param body [Object] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PackingVideoResponse, Integer, Hash)>] PackingVideoResponse data, response status code and response headers
    def record_packing_video_with_http_info(order_number, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PackingApi.record_packing_video ...'
      end
      # verify the required parameter 'order_number' is set
      if @api_client.config.client_side_validation && order_number.nil?
        fail ArgumentError, "Missing the required parameter 'order_number' when calling PackingApi.record_packing_video"
      end
      # resource path
      local_var_path = '/api/v1/packing/{order_number}/record-video'.sub('{order_number}', CGI.escape(order_number.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'PackingVideoResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"PackingApi.record_packing_video",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PackingApi#record_packing_video\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
