=begin
#SimpleBilly API

#Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.

The version of the OpenAPI document: 0.1.0
Contact: support@simplebilly.com
Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module SimplebillyApi
  class PaygapApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param employee_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [PayGapInfoResponse]
    def paygap_auskunft_api(employee_id, opts = {})
      data, _status_code, _headers = paygap_auskunft_api_with_http_info(employee_id, opts)
      data
    end

    # @param employee_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PayGapInfoResponse, Integer, Hash)>] PayGapInfoResponse data, response status code and response headers
    def paygap_auskunft_api_with_http_info(employee_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PaygapApi.paygap_auskunft_api ...'
      end
      # verify the required parameter 'employee_id' is set
      if @api_client.config.client_side_validation && employee_id.nil?
        fail ArgumentError, "Missing the required parameter 'employee_id' when calling PaygapApi.paygap_auskunft_api"
      end
      # resource path
      local_var_path = '/api/v1/bookkeeping/paygap/auskunft/{employee_id}'.sub('{employee_id}', CGI.escape(employee_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PayGapInfoResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"PaygapApi.paygap_auskunft_api",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PaygapApi#paygap_auskunft_api\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @return [PayGapExportResponse]
    def paygap_export_api(opts = {})
      data, _status_code, _headers = paygap_export_api_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @return [Array<(PayGapExportResponse, Integer, Hash)>] PayGapExportResponse data, response status code and response headers
    def paygap_export_api_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PaygapApi.paygap_export_api ...'
      end
      # resource path
      local_var_path = '/api/v1/bookkeeping/paygap/export'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PayGapExportResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"PaygapApi.paygap_export_api",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PaygapApi#paygap_export_api\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @return [PayGapReport]
    def paygap_report_api(opts = {})
      data, _status_code, _headers = paygap_report_api_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @return [Array<(PayGapReport, Integer, Hash)>] PayGapReport data, response status code and response headers
    def paygap_report_api_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PaygapApi.paygap_report_api ...'
      end
      # resource path
      local_var_path = '/api/v1/bookkeeping/paygap/report'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PayGapReport'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"PaygapApi.paygap_report_api",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PaygapApi#paygap_report_api\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
