=begin
#SimpleBilly API

#Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.

The version of the OpenAPI document: 0.1.0
Contact: support@simplebilly.com
Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module SimplebillyApi
  class PaymentGatewayApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param body [Object] 
    # @param [Hash] opts the optional parameters
    # @return [PaymentGateway]
    def create_payment_gateway_api(body, opts = {})
      data, _status_code, _headers = create_payment_gateway_api_with_http_info(body, opts)
      data
    end

    # @param body [Object] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PaymentGateway, Integer, Hash)>] PaymentGateway data, response status code and response headers
    def create_payment_gateway_api_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PaymentGatewayApi.create_payment_gateway_api ...'
      end
      # resource path
      local_var_path = '/api/v1/payment-gateways'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'PaymentGateway'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"PaymentGatewayApi.create_payment_gateway_api",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PaymentGatewayApi#create_payment_gateway_api\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param gateway_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_payment_gateway_api(gateway_id, opts = {})
      delete_payment_gateway_api_with_http_info(gateway_id, opts)
      nil
    end

    # @param gateway_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_payment_gateway_api_with_http_info(gateway_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PaymentGatewayApi.delete_payment_gateway_api ...'
      end
      # verify the required parameter 'gateway_id' is set
      if @api_client.config.client_side_validation && gateway_id.nil?
        fail ArgumentError, "Missing the required parameter 'gateway_id' when calling PaymentGatewayApi.delete_payment_gateway_api"
      end
      # resource path
      local_var_path = '/api/v1/payment-gateways/{gateway_id}'.sub('{gateway_id}', CGI.escape(gateway_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"PaymentGatewayApi.delete_payment_gateway_api",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PaymentGatewayApi#delete_payment_gateway_api\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @return [Array<PaymentGateway>]
    def list_payment_gateways_api(opts = {})
      data, _status_code, _headers = list_payment_gateways_api_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<PaymentGateway>, Integer, Hash)>] Array<PaymentGateway> data, response status code and response headers
    def list_payment_gateways_api_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PaymentGatewayApi.list_payment_gateways_api ...'
      end
      # resource path
      local_var_path = '/api/v1/payment-gateways/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<PaymentGateway>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"PaymentGatewayApi.list_payment_gateways_api",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PaymentGatewayApi#list_payment_gateways_api\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param gateway_o_auth_authorize_request [GatewayOAuthAuthorizeRequest] 
    # @param [Hash] opts the optional parameters
    # @return [GatewayOAuthAuthorizeResponse]
    def oauth_authorize_api(gateway_o_auth_authorize_request, opts = {})
      data, _status_code, _headers = oauth_authorize_api_with_http_info(gateway_o_auth_authorize_request, opts)
      data
    end

    # @param gateway_o_auth_authorize_request [GatewayOAuthAuthorizeRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GatewayOAuthAuthorizeResponse, Integer, Hash)>] GatewayOAuthAuthorizeResponse data, response status code and response headers
    def oauth_authorize_api_with_http_info(gateway_o_auth_authorize_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PaymentGatewayApi.oauth_authorize_api ...'
      end
      # verify the required parameter 'gateway_o_auth_authorize_request' is set
      if @api_client.config.client_side_validation && gateway_o_auth_authorize_request.nil?
        fail ArgumentError, "Missing the required parameter 'gateway_o_auth_authorize_request' when calling PaymentGatewayApi.oauth_authorize_api"
      end
      # resource path
      local_var_path = '/api/v1/payment-gateways/oauth/authorize'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(gateway_o_auth_authorize_request)

      # return_type
      return_type = opts[:debug_return_type] || 'GatewayOAuthAuthorizeResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"PaymentGatewayApi.oauth_authorize_api",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PaymentGatewayApi#oauth_authorize_api\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param gateway_o_auth_callback_request [GatewayOAuthCallbackRequest] 
    # @param [Hash] opts the optional parameters
    # @return [PaymentGateway]
    def oauth_callback_api(gateway_o_auth_callback_request, opts = {})
      data, _status_code, _headers = oauth_callback_api_with_http_info(gateway_o_auth_callback_request, opts)
      data
    end

    # @param gateway_o_auth_callback_request [GatewayOAuthCallbackRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PaymentGateway, Integer, Hash)>] PaymentGateway data, response status code and response headers
    def oauth_callback_api_with_http_info(gateway_o_auth_callback_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PaymentGatewayApi.oauth_callback_api ...'
      end
      # verify the required parameter 'gateway_o_auth_callback_request' is set
      if @api_client.config.client_side_validation && gateway_o_auth_callback_request.nil?
        fail ArgumentError, "Missing the required parameter 'gateway_o_auth_callback_request' when calling PaymentGatewayApi.oauth_callback_api"
      end
      # resource path
      local_var_path = '/api/v1/payment-gateways/oauth/callback'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(gateway_o_auth_callback_request)

      # return_type
      return_type = opts[:debug_return_type] || 'PaymentGateway'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"PaymentGatewayApi.oauth_callback_api",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PaymentGatewayApi#oauth_callback_api\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param gateway_id [String] 
    # @param body [Object] 
    # @param [Hash] opts the optional parameters
    # @return [PaymentGateway]
    def update_payment_gateway_api(gateway_id, body, opts = {})
      data, _status_code, _headers = update_payment_gateway_api_with_http_info(gateway_id, body, opts)
      data
    end

    # @param gateway_id [String] 
    # @param body [Object] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PaymentGateway, Integer, Hash)>] PaymentGateway data, response status code and response headers
    def update_payment_gateway_api_with_http_info(gateway_id, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PaymentGatewayApi.update_payment_gateway_api ...'
      end
      # verify the required parameter 'gateway_id' is set
      if @api_client.config.client_side_validation && gateway_id.nil?
        fail ArgumentError, "Missing the required parameter 'gateway_id' when calling PaymentGatewayApi.update_payment_gateway_api"
      end
      # resource path
      local_var_path = '/api/v1/payment-gateways/{gateway_id}'.sub('{gateway_id}', CGI.escape(gateway_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'PaymentGateway'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"PaymentGatewayApi.update_payment_gateway_api",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PaymentGatewayApi#update_payment_gateway_api\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
