=begin
#SimpleBilly API

#Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.

The version of the OpenAPI document: 0.1.0
Contact: support@simplebilly.com
Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module SimplebillyApi
  class PriceTierApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param price_tier_create [PriceTierCreate] 
    # @param [Hash] opts the optional parameters
    # @return [PriceTier]
    def create_price_tier(price_tier_create, opts = {})
      data, _status_code, _headers = create_price_tier_with_http_info(price_tier_create, opts)
      data
    end

    # @param price_tier_create [PriceTierCreate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PriceTier, Integer, Hash)>] PriceTier data, response status code and response headers
    def create_price_tier_with_http_info(price_tier_create, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PriceTierApi.create_price_tier ...'
      end
      # verify the required parameter 'price_tier_create' is set
      if @api_client.config.client_side_validation && price_tier_create.nil?
        fail ArgumentError, "Missing the required parameter 'price_tier_create' when calling PriceTierApi.create_price_tier"
      end
      # resource path
      local_var_path = '/api/v1/price-tiers'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(price_tier_create)

      # return_type
      return_type = opts[:debug_return_type] || 'PriceTier'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"PriceTierApi.create_price_tier",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PriceTierApi#create_price_tier\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param price_tier_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_price_tier(price_tier_id, opts = {})
      delete_price_tier_with_http_info(price_tier_id, opts)
      nil
    end

    # @param price_tier_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_price_tier_with_http_info(price_tier_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PriceTierApi.delete_price_tier ...'
      end
      # verify the required parameter 'price_tier_id' is set
      if @api_client.config.client_side_validation && price_tier_id.nil?
        fail ArgumentError, "Missing the required parameter 'price_tier_id' when calling PriceTierApi.delete_price_tier"
      end
      # resource path
      local_var_path = '/api/v1/price-tiers/{price_tier_id}'.sub('{price_tier_id}', CGI.escape(price_tier_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"PriceTierApi.delete_price_tier",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PriceTierApi#delete_price_tier\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param price_tier_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [PriceTier]
    def get_price_tier(price_tier_id, opts = {})
      data, _status_code, _headers = get_price_tier_with_http_info(price_tier_id, opts)
      data
    end

    # @param price_tier_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PriceTier, Integer, Hash)>] PriceTier data, response status code and response headers
    def get_price_tier_with_http_info(price_tier_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PriceTierApi.get_price_tier ...'
      end
      # verify the required parameter 'price_tier_id' is set
      if @api_client.config.client_side_validation && price_tier_id.nil?
        fail ArgumentError, "Missing the required parameter 'price_tier_id' when calling PriceTierApi.get_price_tier"
      end
      # resource path
      local_var_path = '/api/v1/price-tiers/{price_tier_id}'.sub('{price_tier_id}', CGI.escape(price_tier_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PriceTier'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"PriceTierApi.get_price_tier",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PriceTierApi#get_price_tier\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param product_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :quantity 
    # @option opts [String] :contact_id Contact used to match customer-group-scoped tiers.
    # @return [ResolvedPriceResponse]
    def get_resolved_price(product_id, opts = {})
      data, _status_code, _headers = get_resolved_price_with_http_info(product_id, opts)
      data
    end

    # @param product_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :quantity 
    # @option opts [String] :contact_id Contact used to match customer-group-scoped tiers.
    # @return [Array<(ResolvedPriceResponse, Integer, Hash)>] ResolvedPriceResponse data, response status code and response headers
    def get_resolved_price_with_http_info(product_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PriceTierApi.get_resolved_price ...'
      end
      # verify the required parameter 'product_id' is set
      if @api_client.config.client_side_validation && product_id.nil?
        fail ArgumentError, "Missing the required parameter 'product_id' when calling PriceTierApi.get_resolved_price"
      end
      # resource path
      local_var_path = '/api/v1/price-tiers/resolved'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'productId'] = product_id
      query_params[:'quantity'] = opts[:'quantity'] if !opts[:'quantity'].nil?
      query_params[:'contactId'] = opts[:'contact_id'] if !opts[:'contact_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ResolvedPriceResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"PriceTierApi.get_resolved_price",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PriceTierApi#get_resolved_price\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page 
    # @option opts [Integer] :page_size 
    # @option opts [String] :product_id 
    # @option opts [String] :customer_group_id 
    # @return [Array<PriceTier>]
    def list_price_tiers(opts = {})
      data, _status_code, _headers = list_price_tiers_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page 
    # @option opts [Integer] :page_size 
    # @option opts [String] :product_id 
    # @option opts [String] :customer_group_id 
    # @return [Array<(Array<PriceTier>, Integer, Hash)>] Array<PriceTier> data, response status code and response headers
    def list_price_tiers_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PriceTierApi.list_price_tiers ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling PriceTierApi.list_price_tiers, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling PriceTierApi.list_price_tiers, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/api/v1/price-tiers/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'product_id'] = opts[:'product_id'] if !opts[:'product_id'].nil?
      query_params[:'customer_group_id'] = opts[:'customer_group_id'] if !opts[:'customer_group_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<PriceTier>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"PriceTierApi.list_price_tiers",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PriceTierApi#list_price_tiers\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param price_tier_id [String] 
    # @param price_tier_update [PriceTierUpdate] 
    # @param [Hash] opts the optional parameters
    # @return [PriceTier]
    def update_price_tier(price_tier_id, price_tier_update, opts = {})
      data, _status_code, _headers = update_price_tier_with_http_info(price_tier_id, price_tier_update, opts)
      data
    end

    # @param price_tier_id [String] 
    # @param price_tier_update [PriceTierUpdate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PriceTier, Integer, Hash)>] PriceTier data, response status code and response headers
    def update_price_tier_with_http_info(price_tier_id, price_tier_update, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PriceTierApi.update_price_tier ...'
      end
      # verify the required parameter 'price_tier_id' is set
      if @api_client.config.client_side_validation && price_tier_id.nil?
        fail ArgumentError, "Missing the required parameter 'price_tier_id' when calling PriceTierApi.update_price_tier"
      end
      # verify the required parameter 'price_tier_update' is set
      if @api_client.config.client_side_validation && price_tier_update.nil?
        fail ArgumentError, "Missing the required parameter 'price_tier_update' when calling PriceTierApi.update_price_tier"
      end
      # resource path
      local_var_path = '/api/v1/price-tiers/{price_tier_id}'.sub('{price_tier_id}', CGI.escape(price_tier_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(price_tier_update)

      # return_type
      return_type = opts[:debug_return_type] || 'PriceTier'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"PriceTierApi.update_price_tier",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PriceTierApi#update_price_tier\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
