=begin
#SimpleBilly API

#Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.

The version of the OpenAPI document: 0.1.0
Contact: support@simplebilly.com
Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module SimplebillyApi
  class ProductAttributeApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param product_attribute_create [ProductAttributeCreate] 
    # @param [Hash] opts the optional parameters
    # @return [ProductAttribute]
    def create_product_attribute(product_attribute_create, opts = {})
      data, _status_code, _headers = create_product_attribute_with_http_info(product_attribute_create, opts)
      data
    end

    # @param product_attribute_create [ProductAttributeCreate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProductAttribute, Integer, Hash)>] ProductAttribute data, response status code and response headers
    def create_product_attribute_with_http_info(product_attribute_create, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProductAttributeApi.create_product_attribute ...'
      end
      # verify the required parameter 'product_attribute_create' is set
      if @api_client.config.client_side_validation && product_attribute_create.nil?
        fail ArgumentError, "Missing the required parameter 'product_attribute_create' when calling ProductAttributeApi.create_product_attribute"
      end
      # resource path
      local_var_path = '/api/v1/product-attributes'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(product_attribute_create)

      # return_type
      return_type = opts[:debug_return_type] || 'ProductAttribute'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"ProductAttributeApi.create_product_attribute",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductAttributeApi#create_product_attribute\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param attribute_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_product_attribute(attribute_id, opts = {})
      delete_product_attribute_with_http_info(attribute_id, opts)
      nil
    end

    # @param attribute_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_product_attribute_with_http_info(attribute_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProductAttributeApi.delete_product_attribute ...'
      end
      # verify the required parameter 'attribute_id' is set
      if @api_client.config.client_side_validation && attribute_id.nil?
        fail ArgumentError, "Missing the required parameter 'attribute_id' when calling ProductAttributeApi.delete_product_attribute"
      end
      # resource path
      local_var_path = '/api/v1/product-attributes/{attribute_id}'.sub('{attribute_id}', CGI.escape(attribute_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"ProductAttributeApi.delete_product_attribute",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductAttributeApi#delete_product_attribute\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param attribute_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [ProductAttribute]
    def get_product_attribute(attribute_id, opts = {})
      data, _status_code, _headers = get_product_attribute_with_http_info(attribute_id, opts)
      data
    end

    # @param attribute_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProductAttribute, Integer, Hash)>] ProductAttribute data, response status code and response headers
    def get_product_attribute_with_http_info(attribute_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProductAttributeApi.get_product_attribute ...'
      end
      # verify the required parameter 'attribute_id' is set
      if @api_client.config.client_side_validation && attribute_id.nil?
        fail ArgumentError, "Missing the required parameter 'attribute_id' when calling ProductAttributeApi.get_product_attribute"
      end
      # resource path
      local_var_path = '/api/v1/product-attributes/{attribute_id}'.sub('{attribute_id}', CGI.escape(attribute_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProductAttribute'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"ProductAttributeApi.get_product_attribute",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductAttributeApi#get_product_attribute\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page 
    # @option opts [Integer] :page_size 
    # @option opts [String] :product_id 
    # @option opts [Boolean] :is_filterable 
    # @option opts [String] :search 
    # @return [Array<ProductAttribute>]
    def list_product_attributes(opts = {})
      data, _status_code, _headers = list_product_attributes_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page 
    # @option opts [Integer] :page_size 
    # @option opts [String] :product_id 
    # @option opts [Boolean] :is_filterable 
    # @option opts [String] :search 
    # @return [Array<(Array<ProductAttribute>, Integer, Hash)>] Array<ProductAttribute> data, response status code and response headers
    def list_product_attributes_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProductAttributeApi.list_product_attributes ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling ProductAttributeApi.list_product_attributes, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling ProductAttributeApi.list_product_attributes, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/api/v1/product-attributes/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'product_id'] = opts[:'product_id'] if !opts[:'product_id'].nil?
      query_params[:'is_filterable'] = opts[:'is_filterable'] if !opts[:'is_filterable'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<ProductAttribute>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"ProductAttributeApi.list_product_attributes",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductAttributeApi#list_product_attributes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param attribute_id [String] 
    # @param product_attribute_update [ProductAttributeUpdate] 
    # @param [Hash] opts the optional parameters
    # @return [ProductAttribute]
    def update_product_attribute(attribute_id, product_attribute_update, opts = {})
      data, _status_code, _headers = update_product_attribute_with_http_info(attribute_id, product_attribute_update, opts)
      data
    end

    # @param attribute_id [String] 
    # @param product_attribute_update [ProductAttributeUpdate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProductAttribute, Integer, Hash)>] ProductAttribute data, response status code and response headers
    def update_product_attribute_with_http_info(attribute_id, product_attribute_update, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProductAttributeApi.update_product_attribute ...'
      end
      # verify the required parameter 'attribute_id' is set
      if @api_client.config.client_side_validation && attribute_id.nil?
        fail ArgumentError, "Missing the required parameter 'attribute_id' when calling ProductAttributeApi.update_product_attribute"
      end
      # verify the required parameter 'product_attribute_update' is set
      if @api_client.config.client_side_validation && product_attribute_update.nil?
        fail ArgumentError, "Missing the required parameter 'product_attribute_update' when calling ProductAttributeApi.update_product_attribute"
      end
      # resource path
      local_var_path = '/api/v1/product-attributes/{attribute_id}'.sub('{attribute_id}', CGI.escape(attribute_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(product_attribute_update)

      # return_type
      return_type = opts[:debug_return_type] || 'ProductAttribute'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"ProductAttributeApi.update_product_attribute",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductAttributeApi#update_product_attribute\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
