=begin
#SimpleBilly API

#Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.

The version of the OpenAPI document: 0.1.0
Contact: support@simplebilly.com
Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module SimplebillyApi
  class ProductionOrderApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param production_order [ProductionOrder] 
    # @param [Hash] opts the optional parameters
    # @return [ProductionOrder]
    def create_production_order(production_order, opts = {})
      data, _status_code, _headers = create_production_order_with_http_info(production_order, opts)
      data
    end

    # @param production_order [ProductionOrder] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProductionOrder, Integer, Hash)>] ProductionOrder data, response status code and response headers
    def create_production_order_with_http_info(production_order, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProductionOrderApi.create_production_order ...'
      end
      # verify the required parameter 'production_order' is set
      if @api_client.config.client_side_validation && production_order.nil?
        fail ArgumentError, "Missing the required parameter 'production_order' when calling ProductionOrderApi.create_production_order"
      end
      # resource path
      local_var_path = '/api/v1/production-orders'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(production_order)

      # return_type
      return_type = opts[:debug_return_type] || 'ProductionOrder'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"ProductionOrderApi.create_production_order",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductionOrderApi#create_production_order\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param production_order_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_production_order(production_order_id, opts = {})
      delete_production_order_with_http_info(production_order_id, opts)
      nil
    end

    # @param production_order_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_production_order_with_http_info(production_order_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProductionOrderApi.delete_production_order ...'
      end
      # verify the required parameter 'production_order_id' is set
      if @api_client.config.client_side_validation && production_order_id.nil?
        fail ArgumentError, "Missing the required parameter 'production_order_id' when calling ProductionOrderApi.delete_production_order"
      end
      # resource path
      local_var_path = '/api/v1/production-orders/{production_order_id}'.sub('{production_order_id}', CGI.escape(production_order_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"ProductionOrderApi.delete_production_order",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductionOrderApi#delete_production_order\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param production_order_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [ProductionOrder]
    def get_production_order(production_order_id, opts = {})
      data, _status_code, _headers = get_production_order_with_http_info(production_order_id, opts)
      data
    end

    # @param production_order_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProductionOrder, Integer, Hash)>] ProductionOrder data, response status code and response headers
    def get_production_order_with_http_info(production_order_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProductionOrderApi.get_production_order ...'
      end
      # verify the required parameter 'production_order_id' is set
      if @api_client.config.client_side_validation && production_order_id.nil?
        fail ArgumentError, "Missing the required parameter 'production_order_id' when calling ProductionOrderApi.get_production_order"
      end
      # resource path
      local_var_path = '/api/v1/production-orders/{production_order_id}'.sub('{production_order_id}', CGI.escape(production_order_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProductionOrder'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"ProductionOrderApi.get_production_order",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductionOrderApi#get_production_order\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page 
    # @option opts [Integer] :page_size 
    # @option opts [String] :search 
    # @option opts [String] :status Filter by status.
    # @return [Array<ProductionOrder>]
    def list_production_orders(opts = {})
      data, _status_code, _headers = list_production_orders_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page 
    # @option opts [Integer] :page_size 
    # @option opts [String] :search 
    # @option opts [String] :status Filter by status.
    # @return [Array<(Array<ProductionOrder>, Integer, Hash)>] Array<ProductionOrder> data, response status code and response headers
    def list_production_orders_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProductionOrderApi.list_production_orders ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling ProductionOrderApi.list_production_orders, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling ProductionOrderApi.list_production_orders, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/api/v1/production-orders/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<ProductionOrder>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"ProductionOrderApi.list_production_orders",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductionOrderApi#list_production_orders\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Actual-costing report (Nachkalkulation) — material costs from BOM components at their purchase price plus the resulting per-unit cost and margin against the finished product's sale price.
    # @param production_order_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [ProductionOrderCosting]
    def production_order_costing(production_order_id, opts = {})
      data, _status_code, _headers = production_order_costing_with_http_info(production_order_id, opts)
      data
    end

    # Actual-costing report (Nachkalkulation) — material costs from BOM components at their purchase price plus the resulting per-unit cost and margin against the finished product&#39;s sale price.
    # @param production_order_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProductionOrderCosting, Integer, Hash)>] ProductionOrderCosting data, response status code and response headers
    def production_order_costing_with_http_info(production_order_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProductionOrderApi.production_order_costing ...'
      end
      # verify the required parameter 'production_order_id' is set
      if @api_client.config.client_side_validation && production_order_id.nil?
        fail ArgumentError, "Missing the required parameter 'production_order_id' when calling ProductionOrderApi.production_order_costing"
      end
      # resource path
      local_var_path = '/api/v1/production-orders/{production_order_id}/costing'.sub('{production_order_id}', CGI.escape(production_order_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProductionOrderCosting'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"ProductionOrderApi.production_order_costing",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductionOrderApi#production_order_costing\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param production_order_id [String] 
    # @param production_order [ProductionOrder] 
    # @param [Hash] opts the optional parameters
    # @return [ProductionOrder]
    def update_production_order(production_order_id, production_order, opts = {})
      data, _status_code, _headers = update_production_order_with_http_info(production_order_id, production_order, opts)
      data
    end

    # @param production_order_id [String] 
    # @param production_order [ProductionOrder] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProductionOrder, Integer, Hash)>] ProductionOrder data, response status code and response headers
    def update_production_order_with_http_info(production_order_id, production_order, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProductionOrderApi.update_production_order ...'
      end
      # verify the required parameter 'production_order_id' is set
      if @api_client.config.client_side_validation && production_order_id.nil?
        fail ArgumentError, "Missing the required parameter 'production_order_id' when calling ProductionOrderApi.update_production_order"
      end
      # verify the required parameter 'production_order' is set
      if @api_client.config.client_side_validation && production_order.nil?
        fail ArgumentError, "Missing the required parameter 'production_order' when calling ProductionOrderApi.update_production_order"
      end
      # resource path
      local_var_path = '/api/v1/production-orders/{production_order_id}'.sub('{production_order_id}', CGI.escape(production_order_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(production_order)

      # return_type
      return_type = opts[:debug_return_type] || 'ProductionOrder'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"ProductionOrderApi.update_production_order",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductionOrderApi#update_production_order\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param production_order_id [String] 
    # @param production_order_status_update [ProductionOrderStatusUpdate] 
    # @param [Hash] opts the optional parameters
    # @return [ProductionOrder]
    def update_production_order_status(production_order_id, production_order_status_update, opts = {})
      data, _status_code, _headers = update_production_order_status_with_http_info(production_order_id, production_order_status_update, opts)
      data
    end

    # @param production_order_id [String] 
    # @param production_order_status_update [ProductionOrderStatusUpdate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProductionOrder, Integer, Hash)>] ProductionOrder data, response status code and response headers
    def update_production_order_status_with_http_info(production_order_id, production_order_status_update, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProductionOrderApi.update_production_order_status ...'
      end
      # verify the required parameter 'production_order_id' is set
      if @api_client.config.client_side_validation && production_order_id.nil?
        fail ArgumentError, "Missing the required parameter 'production_order_id' when calling ProductionOrderApi.update_production_order_status"
      end
      # verify the required parameter 'production_order_status_update' is set
      if @api_client.config.client_side_validation && production_order_status_update.nil?
        fail ArgumentError, "Missing the required parameter 'production_order_status_update' when calling ProductionOrderApi.update_production_order_status"
      end
      # resource path
      local_var_path = '/api/v1/production-orders/{production_order_id}/status'.sub('{production_order_id}', CGI.escape(production_order_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(production_order_status_update)

      # return_type
      return_type = opts[:debug_return_type] || 'ProductionOrder'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"ProductionOrderApi.update_production_order_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductionOrderApi#update_production_order_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
