=begin
#SimpleBilly API

#Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.

The version of the OpenAPI document: 0.1.0
Contact: support@simplebilly.com
Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module SimplebillyApi
  class ProductVariantApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param product_variant [ProductVariant] 
    # @param [Hash] opts the optional parameters
    # @return [ProductVariant]
    def create_product_variant(product_variant, opts = {})
      data, _status_code, _headers = create_product_variant_with_http_info(product_variant, opts)
      data
    end

    # @param product_variant [ProductVariant] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProductVariant, Integer, Hash)>] ProductVariant data, response status code and response headers
    def create_product_variant_with_http_info(product_variant, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProductVariantApi.create_product_variant ...'
      end
      # verify the required parameter 'product_variant' is set
      if @api_client.config.client_side_validation && product_variant.nil?
        fail ArgumentError, "Missing the required parameter 'product_variant' when calling ProductVariantApi.create_product_variant"
      end
      # resource path
      local_var_path = '/api/v1/product-variants'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(product_variant)

      # return_type
      return_type = opts[:debug_return_type] || 'ProductVariant'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"ProductVariantApi.create_product_variant",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductVariantApi#create_product_variant\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param variant_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_product_variant(variant_id, opts = {})
      delete_product_variant_with_http_info(variant_id, opts)
      nil
    end

    # @param variant_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_product_variant_with_http_info(variant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProductVariantApi.delete_product_variant ...'
      end
      # verify the required parameter 'variant_id' is set
      if @api_client.config.client_side_validation && variant_id.nil?
        fail ArgumentError, "Missing the required parameter 'variant_id' when calling ProductVariantApi.delete_product_variant"
      end
      # resource path
      local_var_path = '/api/v1/product-variants/{variant_id}'.sub('{variant_id}', CGI.escape(variant_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"ProductVariantApi.delete_product_variant",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductVariantApi#delete_product_variant\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param generate_variants_request [GenerateVariantsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<ProductVariant>]
    def generate_product_variants(generate_variants_request, opts = {})
      data, _status_code, _headers = generate_product_variants_with_http_info(generate_variants_request, opts)
      data
    end

    # @param generate_variants_request [GenerateVariantsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<ProductVariant>, Integer, Hash)>] Array<ProductVariant> data, response status code and response headers
    def generate_product_variants_with_http_info(generate_variants_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProductVariantApi.generate_product_variants ...'
      end
      # verify the required parameter 'generate_variants_request' is set
      if @api_client.config.client_side_validation && generate_variants_request.nil?
        fail ArgumentError, "Missing the required parameter 'generate_variants_request' when calling ProductVariantApi.generate_product_variants"
      end
      # resource path
      local_var_path = '/api/v1/product-variants/generate'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(generate_variants_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Array<ProductVariant>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"ProductVariantApi.generate_product_variants",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductVariantApi#generate_product_variants\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param variant_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [ProductVariant]
    def get_product_variant(variant_id, opts = {})
      data, _status_code, _headers = get_product_variant_with_http_info(variant_id, opts)
      data
    end

    # @param variant_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProductVariant, Integer, Hash)>] ProductVariant data, response status code and response headers
    def get_product_variant_with_http_info(variant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProductVariantApi.get_product_variant ...'
      end
      # verify the required parameter 'variant_id' is set
      if @api_client.config.client_side_validation && variant_id.nil?
        fail ArgumentError, "Missing the required parameter 'variant_id' when calling ProductVariantApi.get_product_variant"
      end
      # resource path
      local_var_path = '/api/v1/product-variants/{variant_id}'.sub('{variant_id}', CGI.escape(variant_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProductVariant'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"ProductVariantApi.get_product_variant",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductVariantApi#get_product_variant\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page 
    # @option opts [Integer] :page_size 
    # @option opts [String] :product_id 
    # @option opts [Boolean] :is_active 
    # @return [Array<ProductVariant>]
    def list_product_variants(opts = {})
      data, _status_code, _headers = list_product_variants_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page 
    # @option opts [Integer] :page_size 
    # @option opts [String] :product_id 
    # @option opts [Boolean] :is_active 
    # @return [Array<(Array<ProductVariant>, Integer, Hash)>] Array<ProductVariant> data, response status code and response headers
    def list_product_variants_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProductVariantApi.list_product_variants ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling ProductVariantApi.list_product_variants, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling ProductVariantApi.list_product_variants, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/api/v1/product-variants/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'product_id'] = opts[:'product_id'] if !opts[:'product_id'].nil?
      query_params[:'is_active'] = opts[:'is_active'] if !opts[:'is_active'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<ProductVariant>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"ProductVariantApi.list_product_variants",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductVariantApi#list_product_variants\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param variant_id [String] 
    # @param body [Object] 
    # @param [Hash] opts the optional parameters
    # @return [ProductVariant]
    def update_product_variant(variant_id, body, opts = {})
      data, _status_code, _headers = update_product_variant_with_http_info(variant_id, body, opts)
      data
    end

    # @param variant_id [String] 
    # @param body [Object] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProductVariant, Integer, Hash)>] ProductVariant data, response status code and response headers
    def update_product_variant_with_http_info(variant_id, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProductVariantApi.update_product_variant ...'
      end
      # verify the required parameter 'variant_id' is set
      if @api_client.config.client_side_validation && variant_id.nil?
        fail ArgumentError, "Missing the required parameter 'variant_id' when calling ProductVariantApi.update_product_variant"
      end
      # resource path
      local_var_path = '/api/v1/product-variants/{variant_id}'.sub('{variant_id}', CGI.escape(variant_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'ProductVariant'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"ProductVariantApi.update_product_variant",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductVariantApi#update_product_variant\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
