=begin
#SimpleBilly API

#Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.

The version of the OpenAPI document: 0.1.0
Contact: support@simplebilly.com
Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module SimplebillyApi
  class ProformaInvoiceApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param proforma_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [ConvertResponse]
    def convert_proforma_to_invoice(proforma_id, opts = {})
      data, _status_code, _headers = convert_proforma_to_invoice_with_http_info(proforma_id, opts)
      data
    end

    # @param proforma_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ConvertResponse, Integer, Hash)>] ConvertResponse data, response status code and response headers
    def convert_proforma_to_invoice_with_http_info(proforma_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProformaInvoiceApi.convert_proforma_to_invoice ...'
      end
      # verify the required parameter 'proforma_id' is set
      if @api_client.config.client_side_validation && proforma_id.nil?
        fail ArgumentError, "Missing the required parameter 'proforma_id' when calling ProformaInvoiceApi.convert_proforma_to_invoice"
      end
      # resource path
      local_var_path = '/api/v1/proforma-invoices/{proforma_id}/convert'.sub('{proforma_id}', CGI.escape(proforma_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ConvertResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"ProformaInvoiceApi.convert_proforma_to_invoice",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProformaInvoiceApi#convert_proforma_to_invoice\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param proforma_invoice [ProformaInvoice] 
    # @param [Hash] opts the optional parameters
    # @return [ProformaInvoice]
    def create_proforma_invoice(proforma_invoice, opts = {})
      data, _status_code, _headers = create_proforma_invoice_with_http_info(proforma_invoice, opts)
      data
    end

    # @param proforma_invoice [ProformaInvoice] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProformaInvoice, Integer, Hash)>] ProformaInvoice data, response status code and response headers
    def create_proforma_invoice_with_http_info(proforma_invoice, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProformaInvoiceApi.create_proforma_invoice ...'
      end
      # verify the required parameter 'proforma_invoice' is set
      if @api_client.config.client_side_validation && proforma_invoice.nil?
        fail ArgumentError, "Missing the required parameter 'proforma_invoice' when calling ProformaInvoiceApi.create_proforma_invoice"
      end
      # resource path
      local_var_path = '/api/v1/proforma-invoices'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(proforma_invoice)

      # return_type
      return_type = opts[:debug_return_type] || 'ProformaInvoice'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"ProformaInvoiceApi.create_proforma_invoice",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProformaInvoiceApi#create_proforma_invoice\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param proforma_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_proforma_invoice(proforma_id, opts = {})
      delete_proforma_invoice_with_http_info(proforma_id, opts)
      nil
    end

    # @param proforma_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_proforma_invoice_with_http_info(proforma_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProformaInvoiceApi.delete_proforma_invoice ...'
      end
      # verify the required parameter 'proforma_id' is set
      if @api_client.config.client_side_validation && proforma_id.nil?
        fail ArgumentError, "Missing the required parameter 'proforma_id' when calling ProformaInvoiceApi.delete_proforma_invoice"
      end
      # resource path
      local_var_path = '/api/v1/proforma-invoices/{proforma_id}'.sub('{proforma_id}', CGI.escape(proforma_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"ProformaInvoiceApi.delete_proforma_invoice",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProformaInvoiceApi#delete_proforma_invoice\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param proforma_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [ProformaInvoice]
    def get_proforma_invoice(proforma_id, opts = {})
      data, _status_code, _headers = get_proforma_invoice_with_http_info(proforma_id, opts)
      data
    end

    # @param proforma_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProformaInvoice, Integer, Hash)>] ProformaInvoice data, response status code and response headers
    def get_proforma_invoice_with_http_info(proforma_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProformaInvoiceApi.get_proforma_invoice ...'
      end
      # verify the required parameter 'proforma_id' is set
      if @api_client.config.client_side_validation && proforma_id.nil?
        fail ArgumentError, "Missing the required parameter 'proforma_id' when calling ProformaInvoiceApi.get_proforma_invoice"
      end
      # resource path
      local_var_path = '/api/v1/proforma-invoices/{proforma_id}'.sub('{proforma_id}', CGI.escape(proforma_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProformaInvoice'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"ProformaInvoiceApi.get_proforma_invoice",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProformaInvoiceApi#get_proforma_invoice\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page 
    # @option opts [Integer] :page_size 
    # @option opts [String] :status 
    # @option opts [String] :customer_id 
    # @option opts [String] :order_number 
    # @return [Array<ProformaInvoice>]
    def list_proforma_invoices(opts = {})
      data, _status_code, _headers = list_proforma_invoices_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page 
    # @option opts [Integer] :page_size 
    # @option opts [String] :status 
    # @option opts [String] :customer_id 
    # @option opts [String] :order_number 
    # @return [Array<(Array<ProformaInvoice>, Integer, Hash)>] Array<ProformaInvoice> data, response status code and response headers
    def list_proforma_invoices_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProformaInvoiceApi.list_proforma_invoices ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling ProformaInvoiceApi.list_proforma_invoices, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling ProformaInvoiceApi.list_proforma_invoices, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/api/v1/proforma-invoices/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'customer_id'] = opts[:'customer_id'] if !opts[:'customer_id'].nil?
      query_params[:'order_number'] = opts[:'order_number'] if !opts[:'order_number'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<ProformaInvoice>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"ProformaInvoiceApi.list_proforma_invoices",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProformaInvoiceApi#list_proforma_invoices\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param proforma_id [String] 
    # @param body [Object] 
    # @param [Hash] opts the optional parameters
    # @return [ProformaInvoice]
    def update_proforma_invoice(proforma_id, body, opts = {})
      data, _status_code, _headers = update_proforma_invoice_with_http_info(proforma_id, body, opts)
      data
    end

    # @param proforma_id [String] 
    # @param body [Object] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProformaInvoice, Integer, Hash)>] ProformaInvoice data, response status code and response headers
    def update_proforma_invoice_with_http_info(proforma_id, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProformaInvoiceApi.update_proforma_invoice ...'
      end
      # verify the required parameter 'proforma_id' is set
      if @api_client.config.client_side_validation && proforma_id.nil?
        fail ArgumentError, "Missing the required parameter 'proforma_id' when calling ProformaInvoiceApi.update_proforma_invoice"
      end
      # resource path
      local_var_path = '/api/v1/proforma-invoices/{proforma_id}'.sub('{proforma_id}', CGI.escape(proforma_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'ProformaInvoice'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"ProformaInvoiceApi.update_proforma_invoice",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProformaInvoiceApi#update_proforma_invoice\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
