=begin
#SimpleBilly API

#Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.

The version of the OpenAPI document: 0.1.0
Contact: support@simplebilly.com
Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module SimplebillyApi
  class PublicReturnsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Customer checks the status of a return (public, no auth). The return is only revealed when its linked order's email matches.
    # @param email [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :return_number Either return_number or return_order_id must be provided.
    # @option opts [String] :return_order_id 
    # @option opts [String] :order_number 
    # @return [PublicReturnStatusResponse]
    def get_public_return_status(email, opts = {})
      data, _status_code, _headers = get_public_return_status_with_http_info(email, opts)
      data
    end

    # Customer checks the status of a return (public, no auth). The return is only revealed when its linked order&#39;s email matches.
    # @param email [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :return_number Either return_number or return_order_id must be provided.
    # @option opts [String] :return_order_id 
    # @option opts [String] :order_number 
    # @return [Array<(PublicReturnStatusResponse, Integer, Hash)>] PublicReturnStatusResponse data, response status code and response headers
    def get_public_return_status_with_http_info(email, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PublicReturnsApi.get_public_return_status ...'
      end
      # verify the required parameter 'email' is set
      if @api_client.config.client_side_validation && email.nil?
        fail ArgumentError, "Missing the required parameter 'email' when calling PublicReturnsApi.get_public_return_status"
      end
      # resource path
      local_var_path = '/api/v1/public/returns/status'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'email'] = email
      query_params[:'returnNumber'] = opts[:'return_number'] if !opts[:'return_number'].nil?
      query_params[:'returnOrderId'] = opts[:'return_order_id'] if !opts[:'return_order_id'].nil?
      query_params[:'orderNumber'] = opts[:'order_number'] if !opts[:'order_number'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PublicReturnStatusResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"PublicReturnsApi.get_public_return_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PublicReturnsApi#get_public_return_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List all returns for an order (public, no auth).
    # @param order_number [String] 
    # @param email [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<PublicReturnStatusResponse>]
    def list_public_returns(order_number, email, opts = {})
      data, _status_code, _headers = list_public_returns_with_http_info(order_number, email, opts)
      data
    end

    # List all returns for an order (public, no auth).
    # @param order_number [String] 
    # @param email [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<PublicReturnStatusResponse>, Integer, Hash)>] Array<PublicReturnStatusResponse> data, response status code and response headers
    def list_public_returns_with_http_info(order_number, email, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PublicReturnsApi.list_public_returns ...'
      end
      # verify the required parameter 'order_number' is set
      if @api_client.config.client_side_validation && order_number.nil?
        fail ArgumentError, "Missing the required parameter 'order_number' when calling PublicReturnsApi.list_public_returns"
      end
      # verify the required parameter 'email' is set
      if @api_client.config.client_side_validation && email.nil?
        fail ArgumentError, "Missing the required parameter 'email' when calling PublicReturnsApi.list_public_returns"
      end
      # resource path
      local_var_path = '/api/v1/public/returns/list'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'orderNumber'] = order_number
      query_params[:'email'] = email

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<PublicReturnStatusResponse>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"PublicReturnsApi.list_public_returns",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PublicReturnsApi#list_public_returns\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Customer requests a return for an order (public, no auth).
    # @param public_return_request [PublicReturnRequest] 
    # @param [Hash] opts the optional parameters
    # @return [PublicReturnResponse]
    def request_public_return(public_return_request, opts = {})
      data, _status_code, _headers = request_public_return_with_http_info(public_return_request, opts)
      data
    end

    # Customer requests a return for an order (public, no auth).
    # @param public_return_request [PublicReturnRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PublicReturnResponse, Integer, Hash)>] PublicReturnResponse data, response status code and response headers
    def request_public_return_with_http_info(public_return_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PublicReturnsApi.request_public_return ...'
      end
      # verify the required parameter 'public_return_request' is set
      if @api_client.config.client_side_validation && public_return_request.nil?
        fail ArgumentError, "Missing the required parameter 'public_return_request' when calling PublicReturnsApi.request_public_return"
      end
      # resource path
      local_var_path = '/api/v1/public/returns/request'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(public_return_request)

      # return_type
      return_type = opts[:debug_return_type] || 'PublicReturnResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"PublicReturnsApi.request_public_return",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PublicReturnsApi#request_public_return\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
