=begin
#SimpleBilly API

#Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.

The version of the OpenAPI document: 0.1.0
Contact: support@simplebilly.com
Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module SimplebillyApi
  class PurchaseOrderApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param purchase_order [PurchaseOrder] 
    # @param [Hash] opts the optional parameters
    # @return [PurchaseOrder]
    def create_purchase_order(purchase_order, opts = {})
      data, _status_code, _headers = create_purchase_order_with_http_info(purchase_order, opts)
      data
    end

    # @param purchase_order [PurchaseOrder] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PurchaseOrder, Integer, Hash)>] PurchaseOrder data, response status code and response headers
    def create_purchase_order_with_http_info(purchase_order, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PurchaseOrderApi.create_purchase_order ...'
      end
      # verify the required parameter 'purchase_order' is set
      if @api_client.config.client_side_validation && purchase_order.nil?
        fail ArgumentError, "Missing the required parameter 'purchase_order' when calling PurchaseOrderApi.create_purchase_order"
      end
      # resource path
      local_var_path = '/api/v1/purchase-orders'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(purchase_order)

      # return_type
      return_type = opts[:debug_return_type] || 'PurchaseOrder'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"PurchaseOrderApi.create_purchase_order",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PurchaseOrderApi#create_purchase_order\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param purchase_order_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_purchase_order(purchase_order_id, opts = {})
      delete_purchase_order_with_http_info(purchase_order_id, opts)
      nil
    end

    # @param purchase_order_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_purchase_order_with_http_info(purchase_order_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PurchaseOrderApi.delete_purchase_order ...'
      end
      # verify the required parameter 'purchase_order_id' is set
      if @api_client.config.client_side_validation && purchase_order_id.nil?
        fail ArgumentError, "Missing the required parameter 'purchase_order_id' when calling PurchaseOrderApi.delete_purchase_order"
      end
      # resource path
      local_var_path = '/api/v1/purchase-orders/{purchase_order_id}'.sub('{purchase_order_id}', CGI.escape(purchase_order_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"PurchaseOrderApi.delete_purchase_order",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PurchaseOrderApi#delete_purchase_order\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param purchase_order_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [PurchaseOrder]
    def get_purchase_order(purchase_order_id, opts = {})
      data, _status_code, _headers = get_purchase_order_with_http_info(purchase_order_id, opts)
      data
    end

    # @param purchase_order_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PurchaseOrder, Integer, Hash)>] PurchaseOrder data, response status code and response headers
    def get_purchase_order_with_http_info(purchase_order_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PurchaseOrderApi.get_purchase_order ...'
      end
      # verify the required parameter 'purchase_order_id' is set
      if @api_client.config.client_side_validation && purchase_order_id.nil?
        fail ArgumentError, "Missing the required parameter 'purchase_order_id' when calling PurchaseOrderApi.get_purchase_order"
      end
      # resource path
      local_var_path = '/api/v1/purchase-orders/{purchase_order_id}'.sub('{purchase_order_id}', CGI.escape(purchase_order_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PurchaseOrder'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"PurchaseOrderApi.get_purchase_order",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PurchaseOrderApi#get_purchase_order\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page 
    # @option opts [Integer] :page_size 
    # @option opts [String] :status 
    # @option opts [String] :supplier_name 
    # @option opts [String] :search 
    # @return [Array<PurchaseOrder>]
    def list_purchase_orders(opts = {})
      data, _status_code, _headers = list_purchase_orders_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page 
    # @option opts [Integer] :page_size 
    # @option opts [String] :status 
    # @option opts [String] :supplier_name 
    # @option opts [String] :search 
    # @return [Array<(Array<PurchaseOrder>, Integer, Hash)>] Array<PurchaseOrder> data, response status code and response headers
    def list_purchase_orders_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PurchaseOrderApi.list_purchase_orders ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling PurchaseOrderApi.list_purchase_orders, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling PurchaseOrderApi.list_purchase_orders, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/api/v1/purchase-orders/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'supplier_name'] = opts[:'supplier_name'] if !opts[:'supplier_name'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<PurchaseOrder>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"PurchaseOrderApi.list_purchase_orders",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PurchaseOrderApi#list_purchase_orders\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 3-way invoice check (Rechnungsprüfung): compares the purchase order line items, the quantities received via goods receipts, and the supplier invoice line items, reporting quantity and price variances per product.
    # @param purchase_order_id [String] 
    # @param invoice_match_request [InvoiceMatchRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def match_invoice(purchase_order_id, invoice_match_request, opts = {})
      data, _status_code, _headers = match_invoice_with_http_info(purchase_order_id, invoice_match_request, opts)
      data
    end

    # 3-way invoice check (Rechnungsprüfung): compares the purchase order line items, the quantities received via goods receipts, and the supplier invoice line items, reporting quantity and price variances per product.
    # @param purchase_order_id [String] 
    # @param invoice_match_request [InvoiceMatchRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def match_invoice_with_http_info(purchase_order_id, invoice_match_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PurchaseOrderApi.match_invoice ...'
      end
      # verify the required parameter 'purchase_order_id' is set
      if @api_client.config.client_side_validation && purchase_order_id.nil?
        fail ArgumentError, "Missing the required parameter 'purchase_order_id' when calling PurchaseOrderApi.match_invoice"
      end
      # verify the required parameter 'invoice_match_request' is set
      if @api_client.config.client_side_validation && invoice_match_request.nil?
        fail ArgumentError, "Missing the required parameter 'invoice_match_request' when calling PurchaseOrderApi.match_invoice"
      end
      # resource path
      local_var_path = '/api/v1/purchase-orders/{purchase_order_id}/match-invoice'.sub('{purchase_order_id}', CGI.escape(purchase_order_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(invoice_match_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"PurchaseOrderApi.match_invoice",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PurchaseOrderApi#match_invoice\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param purchase_order_id [String] 
    # @param body [Object] 
    # @param [Hash] opts the optional parameters
    # @return [PurchaseOrder]
    def update_purchase_order(purchase_order_id, body, opts = {})
      data, _status_code, _headers = update_purchase_order_with_http_info(purchase_order_id, body, opts)
      data
    end

    # @param purchase_order_id [String] 
    # @param body [Object] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PurchaseOrder, Integer, Hash)>] PurchaseOrder data, response status code and response headers
    def update_purchase_order_with_http_info(purchase_order_id, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PurchaseOrderApi.update_purchase_order ...'
      end
      # verify the required parameter 'purchase_order_id' is set
      if @api_client.config.client_side_validation && purchase_order_id.nil?
        fail ArgumentError, "Missing the required parameter 'purchase_order_id' when calling PurchaseOrderApi.update_purchase_order"
      end
      # resource path
      local_var_path = '/api/v1/purchase-orders/{purchase_order_id}'.sub('{purchase_order_id}', CGI.escape(purchase_order_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'PurchaseOrder'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"PurchaseOrderApi.update_purchase_order",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PurchaseOrderApi#update_purchase_order\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param purchase_order_id [String] 
    # @param purchase_order_status_update [PurchaseOrderStatusUpdate] 
    # @param [Hash] opts the optional parameters
    # @return [PurchaseOrder]
    def update_purchase_order_status(purchase_order_id, purchase_order_status_update, opts = {})
      data, _status_code, _headers = update_purchase_order_status_with_http_info(purchase_order_id, purchase_order_status_update, opts)
      data
    end

    # @param purchase_order_id [String] 
    # @param purchase_order_status_update [PurchaseOrderStatusUpdate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PurchaseOrder, Integer, Hash)>] PurchaseOrder data, response status code and response headers
    def update_purchase_order_status_with_http_info(purchase_order_id, purchase_order_status_update, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PurchaseOrderApi.update_purchase_order_status ...'
      end
      # verify the required parameter 'purchase_order_id' is set
      if @api_client.config.client_side_validation && purchase_order_id.nil?
        fail ArgumentError, "Missing the required parameter 'purchase_order_id' when calling PurchaseOrderApi.update_purchase_order_status"
      end
      # verify the required parameter 'purchase_order_status_update' is set
      if @api_client.config.client_side_validation && purchase_order_status_update.nil?
        fail ArgumentError, "Missing the required parameter 'purchase_order_status_update' when calling PurchaseOrderApi.update_purchase_order_status"
      end
      # resource path
      local_var_path = '/api/v1/purchase-orders/{purchase_order_id}/status'.sub('{purchase_order_id}', CGI.escape(purchase_order_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(purchase_order_status_update)

      # return_type
      return_type = opts[:debug_return_type] || 'PurchaseOrder'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"PurchaseOrderApi.update_purchase_order_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PurchaseOrderApi#update_purchase_order_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
