=begin
#SimpleBilly API

#Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.

The version of the OpenAPI document: 0.1.0
Contact: support@simplebilly.com
Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module SimplebillyApi
  class QuotationApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param quotation_create [QuotationCreate] 
    # @param [Hash] opts the optional parameters
    # @return [Quotation]
    def create_quotation(quotation_create, opts = {})
      data, _status_code, _headers = create_quotation_with_http_info(quotation_create, opts)
      data
    end

    # @param quotation_create [QuotationCreate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Quotation, Integer, Hash)>] Quotation data, response status code and response headers
    def create_quotation_with_http_info(quotation_create, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QuotationApi.create_quotation ...'
      end
      # verify the required parameter 'quotation_create' is set
      if @api_client.config.client_side_validation && quotation_create.nil?
        fail ArgumentError, "Missing the required parameter 'quotation_create' when calling QuotationApi.create_quotation"
      end
      # resource path
      local_var_path = '/api/v1/quotations'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(quotation_create)

      # return_type
      return_type = opts[:debug_return_type] || 'Quotation'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"QuotationApi.create_quotation",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QuotationApi#create_quotation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param quotation_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_quotation(quotation_id, opts = {})
      delete_quotation_with_http_info(quotation_id, opts)
      nil
    end

    # @param quotation_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_quotation_with_http_info(quotation_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QuotationApi.delete_quotation ...'
      end
      # verify the required parameter 'quotation_id' is set
      if @api_client.config.client_side_validation && quotation_id.nil?
        fail ArgumentError, "Missing the required parameter 'quotation_id' when calling QuotationApi.delete_quotation"
      end
      # resource path
      local_var_path = '/api/v1/quotations/{quotation_id}'.sub('{quotation_id}', CGI.escape(quotation_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"QuotationApi.delete_quotation",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QuotationApi#delete_quotation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param quotation_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def download_quotation_pdf(quotation_id, opts = {})
      download_quotation_pdf_with_http_info(quotation_id, opts)
      nil
    end

    # @param quotation_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def download_quotation_pdf_with_http_info(quotation_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QuotationApi.download_quotation_pdf ...'
      end
      # verify the required parameter 'quotation_id' is set
      if @api_client.config.client_side_validation && quotation_id.nil?
        fail ArgumentError, "Missing the required parameter 'quotation_id' when calling QuotationApi.download_quotation_pdf"
      end
      # resource path
      local_var_path = '/api/v1/quotations/{quotation_id}/pdf'.sub('{quotation_id}', CGI.escape(quotation_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/pdf', 'application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"QuotationApi.download_quotation_pdf",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QuotationApi#download_quotation_pdf\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param quotation_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Quotation]
    def get_quotation(quotation_id, opts = {})
      data, _status_code, _headers = get_quotation_with_http_info(quotation_id, opts)
      data
    end

    # @param quotation_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Quotation, Integer, Hash)>] Quotation data, response status code and response headers
    def get_quotation_with_http_info(quotation_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QuotationApi.get_quotation ...'
      end
      # verify the required parameter 'quotation_id' is set
      if @api_client.config.client_side_validation && quotation_id.nil?
        fail ArgumentError, "Missing the required parameter 'quotation_id' when calling QuotationApi.get_quotation"
      end
      # resource path
      local_var_path = '/api/v1/quotations/{quotation_id}'.sub('{quotation_id}', CGI.escape(quotation_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Quotation'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"QuotationApi.get_quotation",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QuotationApi#get_quotation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page 
    # @option opts [Integer] :page_size 
    # @option opts [String] :search 
    # @option opts [Boolean] :include_deleted Soft-delete entities: set true to include rows with &#x60;deleted_at&#x60; set.
    # @return [Array<Quotation>]
    def list_quotations(opts = {})
      data, _status_code, _headers = list_quotations_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page 
    # @option opts [Integer] :page_size 
    # @option opts [String] :search 
    # @option opts [Boolean] :include_deleted Soft-delete entities: set true to include rows with &#x60;deleted_at&#x60; set.
    # @return [Array<(Array<Quotation>, Integer, Hash)>] Array<Quotation> data, response status code and response headers
    def list_quotations_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QuotationApi.list_quotations ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling QuotationApi.list_quotations, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling QuotationApi.list_quotations, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/api/v1/quotations/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?
      query_params[:'include_deleted'] = opts[:'include_deleted'] if !opts[:'include_deleted'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<Quotation>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"QuotationApi.list_quotations",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QuotationApi#list_quotations\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param quotation_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [OrderConfirmation]
    def pursue_quotation(quotation_id, opts = {})
      data, _status_code, _headers = pursue_quotation_with_http_info(quotation_id, opts)
      data
    end

    # @param quotation_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(OrderConfirmation, Integer, Hash)>] OrderConfirmation data, response status code and response headers
    def pursue_quotation_with_http_info(quotation_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QuotationApi.pursue_quotation ...'
      end
      # verify the required parameter 'quotation_id' is set
      if @api_client.config.client_side_validation && quotation_id.nil?
        fail ArgumentError, "Missing the required parameter 'quotation_id' when calling QuotationApi.pursue_quotation"
      end
      # resource path
      local_var_path = '/api/v1/quotations/{quotation_id}/pursue'.sub('{quotation_id}', CGI.escape(quotation_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OrderConfirmation'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"QuotationApi.pursue_quotation",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QuotationApi#pursue_quotation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param quotation_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Quotation]
    def quotation_restore(quotation_id, opts = {})
      data, _status_code, _headers = quotation_restore_with_http_info(quotation_id, opts)
      data
    end

    # @param quotation_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Quotation, Integer, Hash)>] Quotation data, response status code and response headers
    def quotation_restore_with_http_info(quotation_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QuotationApi.quotation_restore ...'
      end
      # verify the required parameter 'quotation_id' is set
      if @api_client.config.client_side_validation && quotation_id.nil?
        fail ArgumentError, "Missing the required parameter 'quotation_id' when calling QuotationApi.quotation_restore"
      end
      # resource path
      local_var_path = '/api/v1/quotations/{quotation_id}/restore'.sub('{quotation_id}', CGI.escape(quotation_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Quotation'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"QuotationApi.quotation_restore",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QuotationApi#quotation_restore\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param quotation_id [String] 
    # @param body [Object] 
    # @param [Hash] opts the optional parameters
    # @return [Quotation]
    def update_quotation(quotation_id, body, opts = {})
      data, _status_code, _headers = update_quotation_with_http_info(quotation_id, body, opts)
      data
    end

    # @param quotation_id [String] 
    # @param body [Object] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Quotation, Integer, Hash)>] Quotation data, response status code and response headers
    def update_quotation_with_http_info(quotation_id, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QuotationApi.update_quotation ...'
      end
      # verify the required parameter 'quotation_id' is set
      if @api_client.config.client_side_validation && quotation_id.nil?
        fail ArgumentError, "Missing the required parameter 'quotation_id' when calling QuotationApi.update_quotation"
      end
      # resource path
      local_var_path = '/api/v1/quotations/{quotation_id}'.sub('{quotation_id}', CGI.escape(quotation_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'Quotation'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"QuotationApi.update_quotation",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QuotationApi#update_quotation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
