=begin
#SimpleBilly API

#Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.

The version of the OpenAPI document: 0.1.0
Contact: support@simplebilly.com
Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module SimplebillyApi
  class RecurringTemplateApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param body [Object] 
    # @param [Hash] opts the optional parameters
    # @return [RecurringTemplate]
    def create_recurring_template(body, opts = {})
      data, _status_code, _headers = create_recurring_template_with_http_info(body, opts)
      data
    end

    # @param body [Object] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RecurringTemplate, Integer, Hash)>] RecurringTemplate data, response status code and response headers
    def create_recurring_template_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RecurringTemplateApi.create_recurring_template ...'
      end
      # resource path
      local_var_path = '/api/v1/recurring-templates'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'RecurringTemplate'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"RecurringTemplateApi.create_recurring_template",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RecurringTemplateApi#create_recurring_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param template_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_recurring_template(template_id, opts = {})
      delete_recurring_template_with_http_info(template_id, opts)
      nil
    end

    # @param template_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_recurring_template_with_http_info(template_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RecurringTemplateApi.delete_recurring_template ...'
      end
      # verify the required parameter 'template_id' is set
      if @api_client.config.client_side_validation && template_id.nil?
        fail ArgumentError, "Missing the required parameter 'template_id' when calling RecurringTemplateApi.delete_recurring_template"
      end
      # resource path
      local_var_path = '/api/v1/recurring-templates/{template_id}'.sub('{template_id}', CGI.escape(template_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"RecurringTemplateApi.delete_recurring_template",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RecurringTemplateApi#delete_recurring_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param template_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [RecurringTemplate]
    def get_recurring_template(template_id, opts = {})
      data, _status_code, _headers = get_recurring_template_with_http_info(template_id, opts)
      data
    end

    # @param template_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RecurringTemplate, Integer, Hash)>] RecurringTemplate data, response status code and response headers
    def get_recurring_template_with_http_info(template_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RecurringTemplateApi.get_recurring_template ...'
      end
      # verify the required parameter 'template_id' is set
      if @api_client.config.client_side_validation && template_id.nil?
        fail ArgumentError, "Missing the required parameter 'template_id' when calling RecurringTemplateApi.get_recurring_template"
      end
      # resource path
      local_var_path = '/api/v1/recurring-templates/{template_id}'.sub('{template_id}', CGI.escape(template_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RecurringTemplate'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"RecurringTemplateApi.get_recurring_template",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RecurringTemplateApi#get_recurring_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @return [Array<RecurringTemplate>]
    def list_recurring_templates(opts = {})
      data, _status_code, _headers = list_recurring_templates_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<RecurringTemplate>, Integer, Hash)>] Array<RecurringTemplate> data, response status code and response headers
    def list_recurring_templates_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RecurringTemplateApi.list_recurring_templates ...'
      end
      # resource path
      local_var_path = '/api/v1/recurring-templates/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<RecurringTemplate>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"RecurringTemplateApi.list_recurring_templates",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RecurringTemplateApi#list_recurring_templates\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
