=begin
#SimpleBilly API

#Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.

The version of the OpenAPI document: 0.1.0
Contact: support@simplebilly.com
Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module SimplebillyApi
  class ReorderProposalApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Convert a reorder proposal into a draft purchase order.
    # Returns the created purchase order id. Suggested line items are generated with the current reorder quantity per product.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :configured_only Only include products with a reorder point configured (&#x60;min_stock&#x60;).
    # @option opts [String] :warehouse_id Limit to a single warehouse id.
    # @return [Object]
    def apply_reorder_proposal(opts = {})
      data, _status_code, _headers = apply_reorder_proposal_with_http_info(opts)
      data
    end

    # Convert a reorder proposal into a draft purchase order.
    # Returns the created purchase order id. Suggested line items are generated with the current reorder quantity per product.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :configured_only Only include products with a reorder point configured (&#x60;min_stock&#x60;).
    # @option opts [String] :warehouse_id Limit to a single warehouse id.
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def apply_reorder_proposal_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReorderProposalApi.apply_reorder_proposal ...'
      end
      # resource path
      local_var_path = '/api/v1/reorder-proposals/apply'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'configuredOnly'] = opts[:'configured_only'] if !opts[:'configured_only'].nil?
      query_params[:'warehouseId'] = opts[:'warehouse_id'] if !opts[:'warehouse_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"ReorderProposalApi.apply_reorder_proposal",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReorderProposalApi#apply_reorder_proposal\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :configured_only Only include products with a reorder point configured (&#x60;min_stock&#x60;).
    # @option opts [String] :warehouse_id Limit to a single warehouse id.
    # @return [ReorderProposalResponse]
    def get_reorder_proposal(opts = {})
      data, _status_code, _headers = get_reorder_proposal_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :configured_only Only include products with a reorder point configured (&#x60;min_stock&#x60;).
    # @option opts [String] :warehouse_id Limit to a single warehouse id.
    # @return [Array<(ReorderProposalResponse, Integer, Hash)>] ReorderProposalResponse data, response status code and response headers
    def get_reorder_proposal_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReorderProposalApi.get_reorder_proposal ...'
      end
      # resource path
      local_var_path = '/api/v1/reorder-proposals'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'configuredOnly'] = opts[:'configured_only'] if !opts[:'configured_only'].nil?
      query_params[:'warehouseId'] = opts[:'warehouse_id'] if !opts[:'warehouse_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ReorderProposalResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"ReorderProposalApi.get_reorder_proposal",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReorderProposalApi#get_reorder_proposal\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
