=begin
#SimpleBilly API

#Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.

The version of the OpenAPI document: 0.1.0
Contact: support@simplebilly.com
Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module SimplebillyApi
  class ReplenishmentApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create one draft stock transfer per (source → target) pair carrying all suggested product lines for that pair.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :target_warehouse_id Warehouse to be replenished. Defaults to the tenant&#39;s default warehouse.
    # @option opts [String] :source_warehouse_id Restrict source warehouses to this id.
    # @return [Object]
    def apply_replenishments(opts = {})
      data, _status_code, _headers = apply_replenishments_with_http_info(opts)
      data
    end

    # Create one draft stock transfer per (source → target) pair carrying all suggested product lines for that pair.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :target_warehouse_id Warehouse to be replenished. Defaults to the tenant&#39;s default warehouse.
    # @option opts [String] :source_warehouse_id Restrict source warehouses to this id.
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def apply_replenishments_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReplenishmentApi.apply_replenishments ...'
      end
      # resource path
      local_var_path = '/api/v1/replenishments/apply'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'targetWarehouseId'] = opts[:'target_warehouse_id'] if !opts[:'target_warehouse_id'].nil?
      query_params[:'sourceWarehouseId'] = opts[:'source_warehouse_id'] if !opts[:'source_warehouse_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"ReplenishmentApi.apply_replenishments",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReplenishmentApi#apply_replenishments\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :target_warehouse_id Warehouse to be replenished. Defaults to the tenant&#39;s default warehouse.
    # @option opts [String] :source_warehouse_id Restrict source warehouses to this id.
    # @return [ReplenishmentResponse]
    def get_replenishments(opts = {})
      data, _status_code, _headers = get_replenishments_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :target_warehouse_id Warehouse to be replenished. Defaults to the tenant&#39;s default warehouse.
    # @option opts [String] :source_warehouse_id Restrict source warehouses to this id.
    # @return [Array<(ReplenishmentResponse, Integer, Hash)>] ReplenishmentResponse data, response status code and response headers
    def get_replenishments_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReplenishmentApi.get_replenishments ...'
      end
      # resource path
      local_var_path = '/api/v1/replenishments'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'targetWarehouseId'] = opts[:'target_warehouse_id'] if !opts[:'target_warehouse_id'].nil?
      query_params[:'sourceWarehouseId'] = opts[:'source_warehouse_id'] if !opts[:'source_warehouse_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ReplenishmentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"ReplenishmentApi.get_replenishments",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReplenishmentApi#get_replenishments\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
