=begin
#SimpleBilly API

#Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.

The version of the OpenAPI document: 0.1.0
Contact: support@simplebilly.com
Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module SimplebillyApi
  class ReportsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Bilanz (Balance Sheet)
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :year 
    # @option opts [Integer] :month 
    # @option opts [String] :date_from 
    # @option opts [String] :date_to 
    # @option opts [Integer] :page 
    # @option opts [Integer] :page_size 
    # @return [BilanzReport]
    def bilanz_report_api(opts = {})
      data, _status_code, _headers = bilanz_report_api_with_http_info(opts)
      data
    end

    # Bilanz (Balance Sheet)
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :year 
    # @option opts [Integer] :month 
    # @option opts [String] :date_from 
    # @option opts [String] :date_to 
    # @option opts [Integer] :page 
    # @option opts [Integer] :page_size 
    # @return [Array<(BilanzReport, Integer, Hash)>] BilanzReport data, response status code and response headers
    def bilanz_report_api_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportsApi.bilanz_report_api ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling ReportsApi.bilanz_report_api, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling ReportsApi.bilanz_report_api, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/api/v1/bookkeeping/reports/bilanz'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'year'] = opts[:'year'] if !opts[:'year'].nil?
      query_params[:'month'] = opts[:'month'] if !opts[:'month'].nil?
      query_params[:'date_from'] = opts[:'date_from'] if !opts[:'date_from'].nil?
      query_params[:'date_to'] = opts[:'date_to'] if !opts[:'date_to'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BilanzReport'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"ReportsApi.bilanz_report_api",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportsApi#bilanz_report_api\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gewinn- und Verlustrechnung (P&L statement)
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :year 
    # @option opts [Integer] :month 
    # @option opts [String] :date_from 
    # @option opts [String] :date_to 
    # @option opts [Integer] :page 
    # @option opts [Integer] :page_size 
    # @return [GuVReport]
    def guv_report_api(opts = {})
      data, _status_code, _headers = guv_report_api_with_http_info(opts)
      data
    end

    # Gewinn- und Verlustrechnung (P&amp;L statement)
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :year 
    # @option opts [Integer] :month 
    # @option opts [String] :date_from 
    # @option opts [String] :date_to 
    # @option opts [Integer] :page 
    # @option opts [Integer] :page_size 
    # @return [Array<(GuVReport, Integer, Hash)>] GuVReport data, response status code and response headers
    def guv_report_api_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportsApi.guv_report_api ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling ReportsApi.guv_report_api, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling ReportsApi.guv_report_api, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/api/v1/bookkeeping/reports/guv'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'year'] = opts[:'year'] if !opts[:'year'].nil?
      query_params[:'month'] = opts[:'month'] if !opts[:'month'].nil?
      query_params[:'date_from'] = opts[:'date_from'] if !opts[:'date_from'].nil?
      query_params[:'date_to'] = opts[:'date_to'] if !opts[:'date_to'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GuVReport'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"ReportsApi.guv_report_api",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportsApi#guv_report_api\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Kontenansicht (Account Overview)
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :year 
    # @option opts [Integer] :month 
    # @option opts [String] :date_from 
    # @option opts [String] :date_to 
    # @option opts [Integer] :page 
    # @option opts [Integer] :page_size 
    # @return [KontoReport]
    def kontenansicht_report_api(opts = {})
      data, _status_code, _headers = kontenansicht_report_api_with_http_info(opts)
      data
    end

    # Kontenansicht (Account Overview)
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :year 
    # @option opts [Integer] :month 
    # @option opts [String] :date_from 
    # @option opts [String] :date_to 
    # @option opts [Integer] :page 
    # @option opts [Integer] :page_size 
    # @return [Array<(KontoReport, Integer, Hash)>] KontoReport data, response status code and response headers
    def kontenansicht_report_api_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportsApi.kontenansicht_report_api ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling ReportsApi.kontenansicht_report_api, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling ReportsApi.kontenansicht_report_api, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/api/v1/bookkeeping/reports/kontenansicht'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'year'] = opts[:'year'] if !opts[:'year'].nil?
      query_params[:'month'] = opts[:'month'] if !opts[:'month'].nil?
      query_params[:'date_from'] = opts[:'date_from'] if !opts[:'date_from'].nil?
      query_params[:'date_to'] = opts[:'date_to'] if !opts[:'date_to'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'KontoReport'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"ReportsApi.kontenansicht_report_api",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportsApi#kontenansicht_report_api\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Umsatzsteuer-Voranmeldung (VAT report)
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :year 
    # @option opts [Integer] :month 
    # @option opts [String] :date_from 
    # @option opts [String] :date_to 
    # @option opts [Integer] :page 
    # @option opts [Integer] :page_size 
    # @return [UmsatzsteuerReport]
    def umsatzsteuer_report_api(opts = {})
      data, _status_code, _headers = umsatzsteuer_report_api_with_http_info(opts)
      data
    end

    # Umsatzsteuer-Voranmeldung (VAT report)
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :year 
    # @option opts [Integer] :month 
    # @option opts [String] :date_from 
    # @option opts [String] :date_to 
    # @option opts [Integer] :page 
    # @option opts [Integer] :page_size 
    # @return [Array<(UmsatzsteuerReport, Integer, Hash)>] UmsatzsteuerReport data, response status code and response headers
    def umsatzsteuer_report_api_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportsApi.umsatzsteuer_report_api ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling ReportsApi.umsatzsteuer_report_api, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling ReportsApi.umsatzsteuer_report_api, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/api/v1/bookkeeping/reports/umsatzsteuer'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'year'] = opts[:'year'] if !opts[:'year'].nil?
      query_params[:'month'] = opts[:'month'] if !opts[:'month'].nil?
      query_params[:'date_from'] = opts[:'date_from'] if !opts[:'date_from'].nil?
      query_params[:'date_to'] = opts[:'date_to'] if !opts[:'date_to'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UmsatzsteuerReport'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"ReportsApi.umsatzsteuer_report_api",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportsApi#umsatzsteuer_report_api\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
