=begin
#SimpleBilly API

#Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.

The version of the OpenAPI document: 0.1.0
Contact: support@simplebilly.com
Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module SimplebillyApi
  class ReturnOrderApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param return_order [ReturnOrder] 
    # @param [Hash] opts the optional parameters
    # @return [ReturnOrder]
    def create_return_order(return_order, opts = {})
      data, _status_code, _headers = create_return_order_with_http_info(return_order, opts)
      data
    end

    # @param return_order [ReturnOrder] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReturnOrder, Integer, Hash)>] ReturnOrder data, response status code and response headers
    def create_return_order_with_http_info(return_order, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReturnOrderApi.create_return_order ...'
      end
      # verify the required parameter 'return_order' is set
      if @api_client.config.client_side_validation && return_order.nil?
        fail ArgumentError, "Missing the required parameter 'return_order' when calling ReturnOrderApi.create_return_order"
      end
      # resource path
      local_var_path = '/api/v1/returns'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(return_order)

      # return_type
      return_type = opts[:debug_return_type] || 'ReturnOrder'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"ReturnOrderApi.create_return_order",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReturnOrderApi#create_return_order\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param return_order_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_return_order(return_order_id, opts = {})
      delete_return_order_with_http_info(return_order_id, opts)
      nil
    end

    # @param return_order_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_return_order_with_http_info(return_order_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReturnOrderApi.delete_return_order ...'
      end
      # verify the required parameter 'return_order_id' is set
      if @api_client.config.client_side_validation && return_order_id.nil?
        fail ArgumentError, "Missing the required parameter 'return_order_id' when calling ReturnOrderApi.delete_return_order"
      end
      # resource path
      local_var_path = '/api/v1/returns/{return_order_id}'.sub('{return_order_id}', CGI.escape(return_order_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"ReturnOrderApi.delete_return_order",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReturnOrderApi#delete_return_order\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param return_order_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [ReturnOrder]
    def get_return_order(return_order_id, opts = {})
      data, _status_code, _headers = get_return_order_with_http_info(return_order_id, opts)
      data
    end

    # @param return_order_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReturnOrder, Integer, Hash)>] ReturnOrder data, response status code and response headers
    def get_return_order_with_http_info(return_order_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReturnOrderApi.get_return_order ...'
      end
      # verify the required parameter 'return_order_id' is set
      if @api_client.config.client_side_validation && return_order_id.nil?
        fail ArgumentError, "Missing the required parameter 'return_order_id' when calling ReturnOrderApi.get_return_order"
      end
      # resource path
      local_var_path = '/api/v1/returns/{return_order_id}'.sub('{return_order_id}', CGI.escape(return_order_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ReturnOrder'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"ReturnOrderApi.get_return_order",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReturnOrderApi#get_return_order\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page 
    # @option opts [Integer] :page_size 
    # @option opts [String] :status 
    # @option opts [String] :customer_name 
    # @option opts [String] :order_number 
    # @return [Array<ReturnOrder>]
    def list_return_orders(opts = {})
      data, _status_code, _headers = list_return_orders_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page 
    # @option opts [Integer] :page_size 
    # @option opts [String] :status 
    # @option opts [String] :customer_name 
    # @option opts [String] :order_number 
    # @return [Array<(Array<ReturnOrder>, Integer, Hash)>] Array<ReturnOrder> data, response status code and response headers
    def list_return_orders_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReturnOrderApi.list_return_orders ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling ReturnOrderApi.list_return_orders, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling ReturnOrderApi.list_return_orders, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/api/v1/returns/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'customer_name'] = opts[:'customer_name'] if !opts[:'customer_name'].nil?
      query_params[:'order_number'] = opts[:'order_number'] if !opts[:'order_number'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<ReturnOrder>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"ReturnOrderApi.list_return_orders",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReturnOrderApi#list_return_orders\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @return [Array<ReturnLogisticsQueueItem>]
    def return_logistics_queue(opts = {})
      data, _status_code, _headers = return_logistics_queue_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<ReturnLogisticsQueueItem>, Integer, Hash)>] Array<ReturnLogisticsQueueItem> data, response status code and response headers
    def return_logistics_queue_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReturnOrderApi.return_logistics_queue ...'
      end
      # resource path
      local_var_path = '/api/v1/returns/logistics-queue'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<ReturnLogisticsQueueItem>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"ReturnOrderApi.return_logistics_queue",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReturnOrderApi#return_logistics_queue\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns-logistics aggregation for the dashboard: quantities received, restocked and scrapped per warehouse.
    # @param [Hash] opts the optional parameters
    # @return [ReturnLogisticsSummary]
    def return_logistics_summary(opts = {})
      data, _status_code, _headers = return_logistics_summary_with_http_info(opts)
      data
    end

    # Returns-logistics aggregation for the dashboard: quantities received, restocked and scrapped per warehouse.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReturnLogisticsSummary, Integer, Hash)>] ReturnLogisticsSummary data, response status code and response headers
    def return_logistics_summary_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReturnOrderApi.return_logistics_summary ...'
      end
      # resource path
      local_var_path = '/api/v1/returns/logistics-summary'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ReturnLogisticsSummary'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"ReturnOrderApi.return_logistics_summary",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReturnOrderApi#return_logistics_summary\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param return_order_id [String] 
    # @param body [Object] 
    # @param [Hash] opts the optional parameters
    # @return [ReturnOrder]
    def update_return_order(return_order_id, body, opts = {})
      data, _status_code, _headers = update_return_order_with_http_info(return_order_id, body, opts)
      data
    end

    # @param return_order_id [String] 
    # @param body [Object] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReturnOrder, Integer, Hash)>] ReturnOrder data, response status code and response headers
    def update_return_order_with_http_info(return_order_id, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReturnOrderApi.update_return_order ...'
      end
      # verify the required parameter 'return_order_id' is set
      if @api_client.config.client_side_validation && return_order_id.nil?
        fail ArgumentError, "Missing the required parameter 'return_order_id' when calling ReturnOrderApi.update_return_order"
      end
      # resource path
      local_var_path = '/api/v1/returns/{return_order_id}'.sub('{return_order_id}', CGI.escape(return_order_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'ReturnOrder'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"ReturnOrderApi.update_return_order",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReturnOrderApi#update_return_order\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param return_order_id [String] 
    # @param return_order_status_update [ReturnOrderStatusUpdate] 
    # @param [Hash] opts the optional parameters
    # @return [ReturnOrder]
    def update_return_order_status(return_order_id, return_order_status_update, opts = {})
      data, _status_code, _headers = update_return_order_status_with_http_info(return_order_id, return_order_status_update, opts)
      data
    end

    # @param return_order_id [String] 
    # @param return_order_status_update [ReturnOrderStatusUpdate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReturnOrder, Integer, Hash)>] ReturnOrder data, response status code and response headers
    def update_return_order_status_with_http_info(return_order_id, return_order_status_update, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReturnOrderApi.update_return_order_status ...'
      end
      # verify the required parameter 'return_order_id' is set
      if @api_client.config.client_side_validation && return_order_id.nil?
        fail ArgumentError, "Missing the required parameter 'return_order_id' when calling ReturnOrderApi.update_return_order_status"
      end
      # verify the required parameter 'return_order_status_update' is set
      if @api_client.config.client_side_validation && return_order_status_update.nil?
        fail ArgumentError, "Missing the required parameter 'return_order_status_update' when calling ReturnOrderApi.update_return_order_status"
      end
      # resource path
      local_var_path = '/api/v1/returns/{return_order_id}/status'.sub('{return_order_id}', CGI.escape(return_order_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(return_order_status_update)

      # return_type
      return_type = opts[:debug_return_type] || 'ReturnOrder'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"ReturnOrderApi.update_return_order_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReturnOrderApi#update_return_order_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
