=begin
#SimpleBilly API

#Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.

The version of the OpenAPI document: 0.1.0
Contact: support@simplebilly.com
Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module SimplebillyApi
  class RfqApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Convert an RFQ into a draft purchase order using the quoted unit prices (falling back to the requested prices, then leaving them blank). Marks the RFQ as `converted`.
    # @param rfq_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def convert_rfq(rfq_id, opts = {})
      data, _status_code, _headers = convert_rfq_with_http_info(rfq_id, opts)
      data
    end

    # Convert an RFQ into a draft purchase order using the quoted unit prices (falling back to the requested prices, then leaving them blank). Marks the RFQ as &#x60;converted&#x60;.
    # @param rfq_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def convert_rfq_with_http_info(rfq_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RfqApi.convert_rfq ...'
      end
      # verify the required parameter 'rfq_id' is set
      if @api_client.config.client_side_validation && rfq_id.nil?
        fail ArgumentError, "Missing the required parameter 'rfq_id' when calling RfqApi.convert_rfq"
      end
      # resource path
      local_var_path = '/api/v1/rfqs/{rfq_id}/convert'.sub('{rfq_id}', CGI.escape(rfq_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"RfqApi.convert_rfq",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RfqApi#convert_rfq\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param rfq [Rfq] 
    # @param [Hash] opts the optional parameters
    # @return [Rfq]
    def create_rfq(rfq, opts = {})
      data, _status_code, _headers = create_rfq_with_http_info(rfq, opts)
      data
    end

    # @param rfq [Rfq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Rfq, Integer, Hash)>] Rfq data, response status code and response headers
    def create_rfq_with_http_info(rfq, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RfqApi.create_rfq ...'
      end
      # verify the required parameter 'rfq' is set
      if @api_client.config.client_side_validation && rfq.nil?
        fail ArgumentError, "Missing the required parameter 'rfq' when calling RfqApi.create_rfq"
      end
      # resource path
      local_var_path = '/api/v1/rfqs'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(rfq)

      # return_type
      return_type = opts[:debug_return_type] || 'Rfq'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"RfqApi.create_rfq",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RfqApi#create_rfq\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param rfq_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_rfq(rfq_id, opts = {})
      delete_rfq_with_http_info(rfq_id, opts)
      nil
    end

    # @param rfq_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_rfq_with_http_info(rfq_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RfqApi.delete_rfq ...'
      end
      # verify the required parameter 'rfq_id' is set
      if @api_client.config.client_side_validation && rfq_id.nil?
        fail ArgumentError, "Missing the required parameter 'rfq_id' when calling RfqApi.delete_rfq"
      end
      # resource path
      local_var_path = '/api/v1/rfqs/{rfq_id}'.sub('{rfq_id}', CGI.escape(rfq_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"RfqApi.delete_rfq",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RfqApi#delete_rfq\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param rfq_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Rfq]
    def get_rfq(rfq_id, opts = {})
      data, _status_code, _headers = get_rfq_with_http_info(rfq_id, opts)
      data
    end

    # @param rfq_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Rfq, Integer, Hash)>] Rfq data, response status code and response headers
    def get_rfq_with_http_info(rfq_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RfqApi.get_rfq ...'
      end
      # verify the required parameter 'rfq_id' is set
      if @api_client.config.client_side_validation && rfq_id.nil?
        fail ArgumentError, "Missing the required parameter 'rfq_id' when calling RfqApi.get_rfq"
      end
      # resource path
      local_var_path = '/api/v1/rfqs/{rfq_id}'.sub('{rfq_id}', CGI.escape(rfq_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Rfq'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"RfqApi.get_rfq",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RfqApi#get_rfq\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page 
    # @option opts [Integer] :page_size 
    # @option opts [String] :status 
    # @option opts [String] :supplier_name 
    # @return [Array<Rfq>]
    def list_rfqs(opts = {})
      data, _status_code, _headers = list_rfqs_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page 
    # @option opts [Integer] :page_size 
    # @option opts [String] :status 
    # @option opts [String] :supplier_name 
    # @return [Array<(Array<Rfq>, Integer, Hash)>] Array<Rfq> data, response status code and response headers
    def list_rfqs_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RfqApi.list_rfqs ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling RfqApi.list_rfqs, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling RfqApi.list_rfqs, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/api/v1/rfqs/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'supplier_name'] = opts[:'supplier_name'] if !opts[:'supplier_name'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<Rfq>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"RfqApi.list_rfqs",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RfqApi#list_rfqs\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param rfq_id [String] 
    # @param body [Object] 
    # @param [Hash] opts the optional parameters
    # @return [Rfq]
    def update_rfq(rfq_id, body, opts = {})
      data, _status_code, _headers = update_rfq_with_http_info(rfq_id, body, opts)
      data
    end

    # @param rfq_id [String] 
    # @param body [Object] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Rfq, Integer, Hash)>] Rfq data, response status code and response headers
    def update_rfq_with_http_info(rfq_id, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RfqApi.update_rfq ...'
      end
      # verify the required parameter 'rfq_id' is set
      if @api_client.config.client_side_validation && rfq_id.nil?
        fail ArgumentError, "Missing the required parameter 'rfq_id' when calling RfqApi.update_rfq"
      end
      # resource path
      local_var_path = '/api/v1/rfqs/{rfq_id}'.sub('{rfq_id}', CGI.escape(rfq_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'Rfq'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"RfqApi.update_rfq",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RfqApi#update_rfq\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param rfq_id [String] 
    # @param rfq_status_update [RfqStatusUpdate] 
    # @param [Hash] opts the optional parameters
    # @return [Rfq]
    def update_rfq_status(rfq_id, rfq_status_update, opts = {})
      data, _status_code, _headers = update_rfq_status_with_http_info(rfq_id, rfq_status_update, opts)
      data
    end

    # @param rfq_id [String] 
    # @param rfq_status_update [RfqStatusUpdate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Rfq, Integer, Hash)>] Rfq data, response status code and response headers
    def update_rfq_status_with_http_info(rfq_id, rfq_status_update, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RfqApi.update_rfq_status ...'
      end
      # verify the required parameter 'rfq_id' is set
      if @api_client.config.client_side_validation && rfq_id.nil?
        fail ArgumentError, "Missing the required parameter 'rfq_id' when calling RfqApi.update_rfq_status"
      end
      # verify the required parameter 'rfq_status_update' is set
      if @api_client.config.client_side_validation && rfq_status_update.nil?
        fail ArgumentError, "Missing the required parameter 'rfq_status_update' when calling RfqApi.update_rfq_status"
      end
      # resource path
      local_var_path = '/api/v1/rfqs/{rfq_id}/status'.sub('{rfq_id}', CGI.escape(rfq_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(rfq_status_update)

      # return_type
      return_type = opts[:debug_return_type] || 'Rfq'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"RfqApi.update_rfq_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RfqApi#update_rfq_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
