=begin
#SimpleBilly API

#Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.

The version of the OpenAPI document: 0.1.0
Contact: support@simplebilly.com
Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module SimplebillyApi
  class ShippingThresholdApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param shipping_threshold_create [ShippingThresholdCreate] 
    # @param [Hash] opts the optional parameters
    # @return [ShippingThreshold]
    def create_shipping_threshold(shipping_threshold_create, opts = {})
      data, _status_code, _headers = create_shipping_threshold_with_http_info(shipping_threshold_create, opts)
      data
    end

    # @param shipping_threshold_create [ShippingThresholdCreate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ShippingThreshold, Integer, Hash)>] ShippingThreshold data, response status code and response headers
    def create_shipping_threshold_with_http_info(shipping_threshold_create, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ShippingThresholdApi.create_shipping_threshold ...'
      end
      # verify the required parameter 'shipping_threshold_create' is set
      if @api_client.config.client_side_validation && shipping_threshold_create.nil?
        fail ArgumentError, "Missing the required parameter 'shipping_threshold_create' when calling ShippingThresholdApi.create_shipping_threshold"
      end
      # resource path
      local_var_path = '/api/v1/shipping-thresholds'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(shipping_threshold_create)

      # return_type
      return_type = opts[:debug_return_type] || 'ShippingThreshold'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"ShippingThresholdApi.create_shipping_threshold",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ShippingThresholdApi#create_shipping_threshold\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param threshold_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_shipping_threshold(threshold_id, opts = {})
      delete_shipping_threshold_with_http_info(threshold_id, opts)
      nil
    end

    # @param threshold_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_shipping_threshold_with_http_info(threshold_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ShippingThresholdApi.delete_shipping_threshold ...'
      end
      # verify the required parameter 'threshold_id' is set
      if @api_client.config.client_side_validation && threshold_id.nil?
        fail ArgumentError, "Missing the required parameter 'threshold_id' when calling ShippingThresholdApi.delete_shipping_threshold"
      end
      # resource path
      local_var_path = '/api/v1/shipping-thresholds/{threshold_id}'.sub('{threshold_id}', CGI.escape(threshold_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"ShippingThresholdApi.delete_shipping_threshold",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ShippingThresholdApi#delete_shipping_threshold\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param product_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :warehouse_id 
    # @return [DeliverableResponse]
    def get_deliverable(product_id, opts = {})
      data, _status_code, _headers = get_deliverable_with_http_info(product_id, opts)
      data
    end

    # @param product_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :warehouse_id 
    # @return [Array<(DeliverableResponse, Integer, Hash)>] DeliverableResponse data, response status code and response headers
    def get_deliverable_with_http_info(product_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ShippingThresholdApi.get_deliverable ...'
      end
      # verify the required parameter 'product_id' is set
      if @api_client.config.client_side_validation && product_id.nil?
        fail ArgumentError, "Missing the required parameter 'product_id' when calling ShippingThresholdApi.get_deliverable"
      end
      # resource path
      local_var_path = '/api/v1/shipping-thresholds/deliverable'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'productId'] = product_id
      query_params[:'warehouseId'] = opts[:'warehouse_id'] if !opts[:'warehouse_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeliverableResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"ShippingThresholdApi.get_deliverable",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ShippingThresholdApi#get_deliverable\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param threshold_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [ShippingThreshold]
    def get_shipping_threshold(threshold_id, opts = {})
      data, _status_code, _headers = get_shipping_threshold_with_http_info(threshold_id, opts)
      data
    end

    # @param threshold_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ShippingThreshold, Integer, Hash)>] ShippingThreshold data, response status code and response headers
    def get_shipping_threshold_with_http_info(threshold_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ShippingThresholdApi.get_shipping_threshold ...'
      end
      # verify the required parameter 'threshold_id' is set
      if @api_client.config.client_side_validation && threshold_id.nil?
        fail ArgumentError, "Missing the required parameter 'threshold_id' when calling ShippingThresholdApi.get_shipping_threshold"
      end
      # resource path
      local_var_path = '/api/v1/shipping-thresholds/{threshold_id}'.sub('{threshold_id}', CGI.escape(threshold_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ShippingThreshold'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"ShippingThresholdApi.get_shipping_threshold",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ShippingThresholdApi#get_shipping_threshold\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page 
    # @option opts [Integer] :page_size 
    # @option opts [String] :product_id 
    # @option opts [String] :warehouse_id 
    # @option opts [Boolean] :is_active 
    # @return [Array<ShippingThreshold>]
    def list_shipping_thresholds(opts = {})
      data, _status_code, _headers = list_shipping_thresholds_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page 
    # @option opts [Integer] :page_size 
    # @option opts [String] :product_id 
    # @option opts [String] :warehouse_id 
    # @option opts [Boolean] :is_active 
    # @return [Array<(Array<ShippingThreshold>, Integer, Hash)>] Array<ShippingThreshold> data, response status code and response headers
    def list_shipping_thresholds_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ShippingThresholdApi.list_shipping_thresholds ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling ShippingThresholdApi.list_shipping_thresholds, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling ShippingThresholdApi.list_shipping_thresholds, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/api/v1/shipping-thresholds/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'product_id'] = opts[:'product_id'] if !opts[:'product_id'].nil?
      query_params[:'warehouse_id'] = opts[:'warehouse_id'] if !opts[:'warehouse_id'].nil?
      query_params[:'is_active'] = opts[:'is_active'] if !opts[:'is_active'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<ShippingThreshold>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"ShippingThresholdApi.list_shipping_thresholds",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ShippingThresholdApi#list_shipping_thresholds\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param threshold_id [String] 
    # @param shipping_threshold_update [ShippingThresholdUpdate] 
    # @param [Hash] opts the optional parameters
    # @return [ShippingThreshold]
    def update_shipping_threshold(threshold_id, shipping_threshold_update, opts = {})
      data, _status_code, _headers = update_shipping_threshold_with_http_info(threshold_id, shipping_threshold_update, opts)
      data
    end

    # @param threshold_id [String] 
    # @param shipping_threshold_update [ShippingThresholdUpdate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ShippingThreshold, Integer, Hash)>] ShippingThreshold data, response status code and response headers
    def update_shipping_threshold_with_http_info(threshold_id, shipping_threshold_update, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ShippingThresholdApi.update_shipping_threshold ...'
      end
      # verify the required parameter 'threshold_id' is set
      if @api_client.config.client_side_validation && threshold_id.nil?
        fail ArgumentError, "Missing the required parameter 'threshold_id' when calling ShippingThresholdApi.update_shipping_threshold"
      end
      # verify the required parameter 'shipping_threshold_update' is set
      if @api_client.config.client_side_validation && shipping_threshold_update.nil?
        fail ArgumentError, "Missing the required parameter 'shipping_threshold_update' when calling ShippingThresholdApi.update_shipping_threshold"
      end
      # resource path
      local_var_path = '/api/v1/shipping-thresholds/{threshold_id}'.sub('{threshold_id}', CGI.escape(threshold_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(shipping_threshold_update)

      # return_type
      return_type = opts[:debug_return_type] || 'ShippingThreshold'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"ShippingThresholdApi.update_shipping_threshold",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ShippingThresholdApi#update_shipping_threshold\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
