=begin
#SimpleBilly API

#Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.

The version of the OpenAPI document: 0.1.0
Contact: support@simplebilly.com
Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module SimplebillyApi
  class ShippingRuleApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param shipping_rule_create [ShippingRuleCreate] 
    # @param [Hash] opts the optional parameters
    # @return [ShippingRule]
    def create_shipping_rule(shipping_rule_create, opts = {})
      data, _status_code, _headers = create_shipping_rule_with_http_info(shipping_rule_create, opts)
      data
    end

    # @param shipping_rule_create [ShippingRuleCreate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ShippingRule, Integer, Hash)>] ShippingRule data, response status code and response headers
    def create_shipping_rule_with_http_info(shipping_rule_create, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ShippingRuleApi.create_shipping_rule ...'
      end
      # verify the required parameter 'shipping_rule_create' is set
      if @api_client.config.client_side_validation && shipping_rule_create.nil?
        fail ArgumentError, "Missing the required parameter 'shipping_rule_create' when calling ShippingRuleApi.create_shipping_rule"
      end
      # resource path
      local_var_path = '/api/v1/shipping-rules'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(shipping_rule_create)

      # return_type
      return_type = opts[:debug_return_type] || 'ShippingRule'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"ShippingRuleApi.create_shipping_rule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ShippingRuleApi#create_shipping_rule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param rule_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_shipping_rule(rule_id, opts = {})
      delete_shipping_rule_with_http_info(rule_id, opts)
      nil
    end

    # @param rule_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_shipping_rule_with_http_info(rule_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ShippingRuleApi.delete_shipping_rule ...'
      end
      # verify the required parameter 'rule_id' is set
      if @api_client.config.client_side_validation && rule_id.nil?
        fail ArgumentError, "Missing the required parameter 'rule_id' when calling ShippingRuleApi.delete_shipping_rule"
      end
      # resource path
      local_var_path = '/api/v1/shipping-rules/{rule_id}'.sub('{rule_id}', CGI.escape(rule_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"ShippingRuleApi.delete_shipping_rule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ShippingRuleApi#delete_shipping_rule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param rule_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [ShippingRule]
    def get_shipping_rule(rule_id, opts = {})
      data, _status_code, _headers = get_shipping_rule_with_http_info(rule_id, opts)
      data
    end

    # @param rule_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ShippingRule, Integer, Hash)>] ShippingRule data, response status code and response headers
    def get_shipping_rule_with_http_info(rule_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ShippingRuleApi.get_shipping_rule ...'
      end
      # verify the required parameter 'rule_id' is set
      if @api_client.config.client_side_validation && rule_id.nil?
        fail ArgumentError, "Missing the required parameter 'rule_id' when calling ShippingRuleApi.get_shipping_rule"
      end
      # resource path
      local_var_path = '/api/v1/shipping-rules/{rule_id}'.sub('{rule_id}', CGI.escape(rule_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ShippingRule'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"ShippingRuleApi.get_shipping_rule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ShippingRuleApi#get_shipping_rule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page 
    # @option opts [Integer] :page_size 
    # @option opts [String] :country 
    # @return [Array<ShippingRule>]
    def list_shipping_rules(opts = {})
      data, _status_code, _headers = list_shipping_rules_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page 
    # @option opts [Integer] :page_size 
    # @option opts [String] :country 
    # @return [Array<(Array<ShippingRule>, Integer, Hash)>] Array<ShippingRule> data, response status code and response headers
    def list_shipping_rules_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ShippingRuleApi.list_shipping_rules ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling ShippingRuleApi.list_shipping_rules, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling ShippingRuleApi.list_shipping_rules, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/api/v1/shipping-rules/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'country'] = opts[:'country'] if !opts[:'country'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<ShippingRule>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"ShippingRuleApi.list_shipping_rules",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ShippingRuleApi#list_shipping_rules\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param rule_id [String] 
    # @param shipping_rule_update [ShippingRuleUpdate] 
    # @param [Hash] opts the optional parameters
    # @return [ShippingRule]
    def update_shipping_rule(rule_id, shipping_rule_update, opts = {})
      data, _status_code, _headers = update_shipping_rule_with_http_info(rule_id, shipping_rule_update, opts)
      data
    end

    # @param rule_id [String] 
    # @param shipping_rule_update [ShippingRuleUpdate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ShippingRule, Integer, Hash)>] ShippingRule data, response status code and response headers
    def update_shipping_rule_with_http_info(rule_id, shipping_rule_update, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ShippingRuleApi.update_shipping_rule ...'
      end
      # verify the required parameter 'rule_id' is set
      if @api_client.config.client_side_validation && rule_id.nil?
        fail ArgumentError, "Missing the required parameter 'rule_id' when calling ShippingRuleApi.update_shipping_rule"
      end
      # verify the required parameter 'shipping_rule_update' is set
      if @api_client.config.client_side_validation && shipping_rule_update.nil?
        fail ArgumentError, "Missing the required parameter 'shipping_rule_update' when calling ShippingRuleApi.update_shipping_rule"
      end
      # resource path
      local_var_path = '/api/v1/shipping-rules/{rule_id}'.sub('{rule_id}', CGI.escape(rule_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(shipping_rule_update)

      # return_type
      return_type = opts[:debug_return_type] || 'ShippingRule'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"ShippingRuleApi.update_shipping_rule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ShippingRuleApi#update_shipping_rule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
