=begin
#SimpleBilly API

#Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.

The version of the OpenAPI document: 0.1.0
Contact: support@simplebilly.com
Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module SimplebillyApi
  class StockMovementApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param movement_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [StockMovement]
    def get_stock_movement(movement_id, opts = {})
      data, _status_code, _headers = get_stock_movement_with_http_info(movement_id, opts)
      data
    end

    # @param movement_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(StockMovement, Integer, Hash)>] StockMovement data, response status code and response headers
    def get_stock_movement_with_http_info(movement_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StockMovementApi.get_stock_movement ...'
      end
      # verify the required parameter 'movement_id' is set
      if @api_client.config.client_side_validation && movement_id.nil?
        fail ArgumentError, "Missing the required parameter 'movement_id' when calling StockMovementApi.get_stock_movement"
      end
      # resource path
      local_var_path = '/api/v1/stock-movements/{movement_id}'.sub('{movement_id}', CGI.escape(movement_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'StockMovement'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"StockMovementApi.get_stock_movement",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StockMovementApi#get_stock_movement\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page 
    # @option opts [Integer] :page_size 
    # @option opts [String] :product_id 
    # @option opts [String] :warehouse_id 
    # @option opts [String] :movement_type 
    # @option opts [Date] :from Only movements on or after this date (inclusive).
    # @option opts [Date] :to Only movements on or before this date (inclusive).
    # @return [Array<StockMovement>]
    def list_stock_movements(opts = {})
      data, _status_code, _headers = list_stock_movements_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page 
    # @option opts [Integer] :page_size 
    # @option opts [String] :product_id 
    # @option opts [String] :warehouse_id 
    # @option opts [String] :movement_type 
    # @option opts [Date] :from Only movements on or after this date (inclusive).
    # @option opts [Date] :to Only movements on or before this date (inclusive).
    # @return [Array<(Array<StockMovement>, Integer, Hash)>] Array<StockMovement> data, response status code and response headers
    def list_stock_movements_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StockMovementApi.list_stock_movements ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling StockMovementApi.list_stock_movements, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling StockMovementApi.list_stock_movements, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/api/v1/stock-movements/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'productId'] = opts[:'product_id'] if !opts[:'product_id'].nil?
      query_params[:'warehouseId'] = opts[:'warehouse_id'] if !opts[:'warehouse_id'].nil?
      query_params[:'movementType'] = opts[:'movement_type'] if !opts[:'movement_type'].nil?
      query_params[:'from'] = opts[:'from'] if !opts[:'from'].nil?
      query_params[:'to'] = opts[:'to'] if !opts[:'to'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<StockMovement>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"StockMovementApi.list_stock_movements",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StockMovementApi#list_stock_movements\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
