=begin
#SimpleBilly API

#Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.

The version of the OpenAPI document: 0.1.0
Contact: support@simplebilly.com
Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module SimplebillyApi
  class StockTransferApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param stock_transfer [StockTransfer] 
    # @param [Hash] opts the optional parameters
    # @return [StockTransfer]
    def create_stock_transfer(stock_transfer, opts = {})
      data, _status_code, _headers = create_stock_transfer_with_http_info(stock_transfer, opts)
      data
    end

    # @param stock_transfer [StockTransfer] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(StockTransfer, Integer, Hash)>] StockTransfer data, response status code and response headers
    def create_stock_transfer_with_http_info(stock_transfer, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StockTransferApi.create_stock_transfer ...'
      end
      # verify the required parameter 'stock_transfer' is set
      if @api_client.config.client_side_validation && stock_transfer.nil?
        fail ArgumentError, "Missing the required parameter 'stock_transfer' when calling StockTransferApi.create_stock_transfer"
      end
      # resource path
      local_var_path = '/api/v1/stock-transfers'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(stock_transfer)

      # return_type
      return_type = opts[:debug_return_type] || 'StockTransfer'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"StockTransferApi.create_stock_transfer",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StockTransferApi#create_stock_transfer\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param stock_transfer_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_stock_transfer(stock_transfer_id, opts = {})
      delete_stock_transfer_with_http_info(stock_transfer_id, opts)
      nil
    end

    # @param stock_transfer_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_stock_transfer_with_http_info(stock_transfer_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StockTransferApi.delete_stock_transfer ...'
      end
      # verify the required parameter 'stock_transfer_id' is set
      if @api_client.config.client_side_validation && stock_transfer_id.nil?
        fail ArgumentError, "Missing the required parameter 'stock_transfer_id' when calling StockTransferApi.delete_stock_transfer"
      end
      # resource path
      local_var_path = '/api/v1/stock-transfers/{stock_transfer_id}'.sub('{stock_transfer_id}', CGI.escape(stock_transfer_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"StockTransferApi.delete_stock_transfer",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StockTransferApi#delete_stock_transfer\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param stock_transfer_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [StockTransfer]
    def get_stock_transfer(stock_transfer_id, opts = {})
      data, _status_code, _headers = get_stock_transfer_with_http_info(stock_transfer_id, opts)
      data
    end

    # @param stock_transfer_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(StockTransfer, Integer, Hash)>] StockTransfer data, response status code and response headers
    def get_stock_transfer_with_http_info(stock_transfer_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StockTransferApi.get_stock_transfer ...'
      end
      # verify the required parameter 'stock_transfer_id' is set
      if @api_client.config.client_side_validation && stock_transfer_id.nil?
        fail ArgumentError, "Missing the required parameter 'stock_transfer_id' when calling StockTransferApi.get_stock_transfer"
      end
      # resource path
      local_var_path = '/api/v1/stock-transfers/{stock_transfer_id}'.sub('{stock_transfer_id}', CGI.escape(stock_transfer_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'StockTransfer'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"StockTransferApi.get_stock_transfer",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StockTransferApi#get_stock_transfer\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page 
    # @option opts [Integer] :page_size 
    # @option opts [String] :status 
    # @option opts [String] :warehouse_id 
    # @return [Array<StockTransfer>]
    def list_stock_transfers(opts = {})
      data, _status_code, _headers = list_stock_transfers_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page 
    # @option opts [Integer] :page_size 
    # @option opts [String] :status 
    # @option opts [String] :warehouse_id 
    # @return [Array<(Array<StockTransfer>, Integer, Hash)>] Array<StockTransfer> data, response status code and response headers
    def list_stock_transfers_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StockTransferApi.list_stock_transfers ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling StockTransferApi.list_stock_transfers, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling StockTransferApi.list_stock_transfers, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/api/v1/stock-transfers/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'warehouse_id'] = opts[:'warehouse_id'] if !opts[:'warehouse_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<StockTransfer>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"StockTransferApi.list_stock_transfers",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StockTransferApi#list_stock_transfers\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param stock_transfer_id [String] 
    # @param stock_transfer_status_update [StockTransferStatusUpdate] 
    # @param [Hash] opts the optional parameters
    # @return [StockTransfer]
    def update_stock_transfer_status(stock_transfer_id, stock_transfer_status_update, opts = {})
      data, _status_code, _headers = update_stock_transfer_status_with_http_info(stock_transfer_id, stock_transfer_status_update, opts)
      data
    end

    # @param stock_transfer_id [String] 
    # @param stock_transfer_status_update [StockTransferStatusUpdate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(StockTransfer, Integer, Hash)>] StockTransfer data, response status code and response headers
    def update_stock_transfer_status_with_http_info(stock_transfer_id, stock_transfer_status_update, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StockTransferApi.update_stock_transfer_status ...'
      end
      # verify the required parameter 'stock_transfer_id' is set
      if @api_client.config.client_side_validation && stock_transfer_id.nil?
        fail ArgumentError, "Missing the required parameter 'stock_transfer_id' when calling StockTransferApi.update_stock_transfer_status"
      end
      # verify the required parameter 'stock_transfer_status_update' is set
      if @api_client.config.client_side_validation && stock_transfer_status_update.nil?
        fail ArgumentError, "Missing the required parameter 'stock_transfer_status_update' when calling StockTransferApi.update_stock_transfer_status"
      end
      # resource path
      local_var_path = '/api/v1/stock-transfers/{stock_transfer_id}/status'.sub('{stock_transfer_id}', CGI.escape(stock_transfer_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(stock_transfer_status_update)

      # return_type
      return_type = opts[:debug_return_type] || 'StockTransfer'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"StockTransferApi.update_stock_transfer_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StockTransferApi#update_stock_transfer_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
