=begin
#SimpleBilly API

#Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.

The version of the OpenAPI document: 0.1.0
Contact: support@simplebilly.com
Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module SimplebillyApi
  class SupportChannelApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param create_channel_dto [CreateChannelDto] 
    # @param [Hash] opts the optional parameters
    # @return [SupportChannel]
    def create_channel_api(create_channel_dto, opts = {})
      data, _status_code, _headers = create_channel_api_with_http_info(create_channel_dto, opts)
      data
    end

    # @param create_channel_dto [CreateChannelDto] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SupportChannel, Integer, Hash)>] SupportChannel data, response status code and response headers
    def create_channel_api_with_http_info(create_channel_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SupportChannelApi.create_channel_api ...'
      end
      # verify the required parameter 'create_channel_dto' is set
      if @api_client.config.client_side_validation && create_channel_dto.nil?
        fail ArgumentError, "Missing the required parameter 'create_channel_dto' when calling SupportChannelApi.create_channel_api"
      end
      # resource path
      local_var_path = '/api/v1/support/channels'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_channel_dto)

      # return_type
      return_type = opts[:debug_return_type] || 'SupportChannel'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"SupportChannelApi.create_channel_api",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SupportChannelApi#create_channel_api\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param channel_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_channel_api(channel_id, opts = {})
      delete_channel_api_with_http_info(channel_id, opts)
      nil
    end

    # @param channel_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_channel_api_with_http_info(channel_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SupportChannelApi.delete_channel_api ...'
      end
      # verify the required parameter 'channel_id' is set
      if @api_client.config.client_side_validation && channel_id.nil?
        fail ArgumentError, "Missing the required parameter 'channel_id' when calling SupportChannelApi.delete_channel_api"
      end
      # resource path
      local_var_path = '/api/v1/support/channels/{channel_id}'.sub('{channel_id}', CGI.escape(channel_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"SupportChannelApi.delete_channel_api",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SupportChannelApi#delete_channel_api\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @return [Array<SupportChannel>]
    def list_channels_api(opts = {})
      data, _status_code, _headers = list_channels_api_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<SupportChannel>, Integer, Hash)>] Array<SupportChannel> data, response status code and response headers
    def list_channels_api_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SupportChannelApi.list_channels_api ...'
      end
      # resource path
      local_var_path = '/api/v1/support/channels'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<SupportChannel>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"SupportChannelApi.list_channels_api",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SupportChannelApi#list_channels_api\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param channel_id [String] 
    # @param update_channel_dto [UpdateChannelDto] 
    # @param [Hash] opts the optional parameters
    # @return [SupportChannel]
    def update_channel_api(channel_id, update_channel_dto, opts = {})
      data, _status_code, _headers = update_channel_api_with_http_info(channel_id, update_channel_dto, opts)
      data
    end

    # @param channel_id [String] 
    # @param update_channel_dto [UpdateChannelDto] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SupportChannel, Integer, Hash)>] SupportChannel data, response status code and response headers
    def update_channel_api_with_http_info(channel_id, update_channel_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SupportChannelApi.update_channel_api ...'
      end
      # verify the required parameter 'channel_id' is set
      if @api_client.config.client_side_validation && channel_id.nil?
        fail ArgumentError, "Missing the required parameter 'channel_id' when calling SupportChannelApi.update_channel_api"
      end
      # verify the required parameter 'update_channel_dto' is set
      if @api_client.config.client_side_validation && update_channel_dto.nil?
        fail ArgumentError, "Missing the required parameter 'update_channel_dto' when calling SupportChannelApi.update_channel_api"
      end
      # resource path
      local_var_path = '/api/v1/support/channels/{channel_id}'.sub('{channel_id}', CGI.escape(channel_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_channel_dto)

      # return_type
      return_type = opts[:debug_return_type] || 'SupportChannel'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"SupportChannelApi.update_channel_api",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SupportChannelApi#update_channel_api\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
