=begin
#SimpleBilly API

#Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.

The version of the OpenAPI document: 0.1.0
Contact: support@simplebilly.com
Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module SimplebillyApi
  class SupplierInvoiceApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param supplier_invoice [SupplierInvoice] 
    # @param [Hash] opts the optional parameters
    # @return [SupplierInvoice]
    def create_supplier_invoice(supplier_invoice, opts = {})
      data, _status_code, _headers = create_supplier_invoice_with_http_info(supplier_invoice, opts)
      data
    end

    # @param supplier_invoice [SupplierInvoice] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SupplierInvoice, Integer, Hash)>] SupplierInvoice data, response status code and response headers
    def create_supplier_invoice_with_http_info(supplier_invoice, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SupplierInvoiceApi.create_supplier_invoice ...'
      end
      # verify the required parameter 'supplier_invoice' is set
      if @api_client.config.client_side_validation && supplier_invoice.nil?
        fail ArgumentError, "Missing the required parameter 'supplier_invoice' when calling SupplierInvoiceApi.create_supplier_invoice"
      end
      # resource path
      local_var_path = '/api/v1/supplier-invoices'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(supplier_invoice)

      # return_type
      return_type = opts[:debug_return_type] || 'SupplierInvoice'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"SupplierInvoiceApi.create_supplier_invoice",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SupplierInvoiceApi#create_supplier_invoice\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param supplier_invoice_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_supplier_invoice(supplier_invoice_id, opts = {})
      delete_supplier_invoice_with_http_info(supplier_invoice_id, opts)
      nil
    end

    # @param supplier_invoice_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_supplier_invoice_with_http_info(supplier_invoice_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SupplierInvoiceApi.delete_supplier_invoice ...'
      end
      # verify the required parameter 'supplier_invoice_id' is set
      if @api_client.config.client_side_validation && supplier_invoice_id.nil?
        fail ArgumentError, "Missing the required parameter 'supplier_invoice_id' when calling SupplierInvoiceApi.delete_supplier_invoice"
      end
      # resource path
      local_var_path = '/api/v1/supplier-invoices/{supplier_invoice_id}'.sub('{supplier_invoice_id}', CGI.escape(supplier_invoice_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"SupplierInvoiceApi.delete_supplier_invoice",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SupplierInvoiceApi#delete_supplier_invoice\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param supplier_invoice_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [SupplierInvoice]
    def get_supplier_invoice(supplier_invoice_id, opts = {})
      data, _status_code, _headers = get_supplier_invoice_with_http_info(supplier_invoice_id, opts)
      data
    end

    # @param supplier_invoice_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SupplierInvoice, Integer, Hash)>] SupplierInvoice data, response status code and response headers
    def get_supplier_invoice_with_http_info(supplier_invoice_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SupplierInvoiceApi.get_supplier_invoice ...'
      end
      # verify the required parameter 'supplier_invoice_id' is set
      if @api_client.config.client_side_validation && supplier_invoice_id.nil?
        fail ArgumentError, "Missing the required parameter 'supplier_invoice_id' when calling SupplierInvoiceApi.get_supplier_invoice"
      end
      # resource path
      local_var_path = '/api/v1/supplier-invoices/{supplier_invoice_id}'.sub('{supplier_invoice_id}', CGI.escape(supplier_invoice_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SupplierInvoice'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"SupplierInvoiceApi.get_supplier_invoice",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SupplierInvoiceApi#get_supplier_invoice\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page 
    # @option opts [Integer] :page_size 
    # @option opts [String] :status 
    # @option opts [String] :purchase_order_id 
    # @option opts [String] :supplier_name 
    # @return [Array<SupplierInvoice>]
    def list_supplier_invoices(opts = {})
      data, _status_code, _headers = list_supplier_invoices_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page 
    # @option opts [Integer] :page_size 
    # @option opts [String] :status 
    # @option opts [String] :purchase_order_id 
    # @option opts [String] :supplier_name 
    # @return [Array<(Array<SupplierInvoice>, Integer, Hash)>] Array<SupplierInvoice> data, response status code and response headers
    def list_supplier_invoices_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SupplierInvoiceApi.list_supplier_invoices ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling SupplierInvoiceApi.list_supplier_invoices, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling SupplierInvoiceApi.list_supplier_invoices, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/api/v1/supplier-invoices/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'purchase_order_id'] = opts[:'purchase_order_id'] if !opts[:'purchase_order_id'].nil?
      query_params[:'supplier_name'] = opts[:'supplier_name'] if !opts[:'supplier_name'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<SupplierInvoice>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"SupplierInvoiceApi.list_supplier_invoices",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SupplierInvoiceApi#list_supplier_invoices\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param supplier_invoice_id [String] 
    # @param body [Object] 
    # @param [Hash] opts the optional parameters
    # @return [SupplierInvoice]
    def update_supplier_invoice(supplier_invoice_id, body, opts = {})
      data, _status_code, _headers = update_supplier_invoice_with_http_info(supplier_invoice_id, body, opts)
      data
    end

    # @param supplier_invoice_id [String] 
    # @param body [Object] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SupplierInvoice, Integer, Hash)>] SupplierInvoice data, response status code and response headers
    def update_supplier_invoice_with_http_info(supplier_invoice_id, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SupplierInvoiceApi.update_supplier_invoice ...'
      end
      # verify the required parameter 'supplier_invoice_id' is set
      if @api_client.config.client_side_validation && supplier_invoice_id.nil?
        fail ArgumentError, "Missing the required parameter 'supplier_invoice_id' when calling SupplierInvoiceApi.update_supplier_invoice"
      end
      # resource path
      local_var_path = '/api/v1/supplier-invoices/{supplier_invoice_id}'.sub('{supplier_invoice_id}', CGI.escape(supplier_invoice_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'SupplierInvoice'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"SupplierInvoiceApi.update_supplier_invoice",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SupplierInvoiceApi#update_supplier_invoice\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param supplier_invoice_id [String] 
    # @param supplier_invoice_status_update [SupplierInvoiceStatusUpdate] 
    # @param [Hash] opts the optional parameters
    # @return [SupplierInvoice]
    def update_supplier_invoice_status(supplier_invoice_id, supplier_invoice_status_update, opts = {})
      data, _status_code, _headers = update_supplier_invoice_status_with_http_info(supplier_invoice_id, supplier_invoice_status_update, opts)
      data
    end

    # @param supplier_invoice_id [String] 
    # @param supplier_invoice_status_update [SupplierInvoiceStatusUpdate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SupplierInvoice, Integer, Hash)>] SupplierInvoice data, response status code and response headers
    def update_supplier_invoice_status_with_http_info(supplier_invoice_id, supplier_invoice_status_update, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SupplierInvoiceApi.update_supplier_invoice_status ...'
      end
      # verify the required parameter 'supplier_invoice_id' is set
      if @api_client.config.client_side_validation && supplier_invoice_id.nil?
        fail ArgumentError, "Missing the required parameter 'supplier_invoice_id' when calling SupplierInvoiceApi.update_supplier_invoice_status"
      end
      # verify the required parameter 'supplier_invoice_status_update' is set
      if @api_client.config.client_side_validation && supplier_invoice_status_update.nil?
        fail ArgumentError, "Missing the required parameter 'supplier_invoice_status_update' when calling SupplierInvoiceApi.update_supplier_invoice_status"
      end
      # resource path
      local_var_path = '/api/v1/supplier-invoices/{supplier_invoice_id}/status'.sub('{supplier_invoice_id}', CGI.escape(supplier_invoice_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(supplier_invoice_status_update)

      # return_type
      return_type = opts[:debug_return_type] || 'SupplierInvoice'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"SupplierInvoiceApi.update_supplier_invoice_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SupplierInvoiceApi#update_supplier_invoice_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
