=begin
#SimpleBilly API

#Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.

The version of the OpenAPI document: 0.1.0
Contact: support@simplebilly.com
Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module SimplebillyApi
  class SupportTicketApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param create_ticket_request [CreateTicketRequest] 
    # @param [Hash] opts the optional parameters
    # @return [SupportTicket]
    def create_ticket_api(create_ticket_request, opts = {})
      data, _status_code, _headers = create_ticket_api_with_http_info(create_ticket_request, opts)
      data
    end

    # @param create_ticket_request [CreateTicketRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SupportTicket, Integer, Hash)>] SupportTicket data, response status code and response headers
    def create_ticket_api_with_http_info(create_ticket_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SupportTicketApi.create_ticket_api ...'
      end
      # verify the required parameter 'create_ticket_request' is set
      if @api_client.config.client_side_validation && create_ticket_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_ticket_request' when calling SupportTicketApi.create_ticket_api"
      end
      # resource path
      local_var_path = '/api/v1/support/tickets'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_ticket_request)

      # return_type
      return_type = opts[:debug_return_type] || 'SupportTicket'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"SupportTicketApi.create_ticket_api",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SupportTicketApi#create_ticket_api\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param ticket_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_ticket_api(ticket_id, opts = {})
      delete_ticket_api_with_http_info(ticket_id, opts)
      nil
    end

    # @param ticket_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_ticket_api_with_http_info(ticket_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SupportTicketApi.delete_ticket_api ...'
      end
      # verify the required parameter 'ticket_id' is set
      if @api_client.config.client_side_validation && ticket_id.nil?
        fail ArgumentError, "Missing the required parameter 'ticket_id' when calling SupportTicketApi.delete_ticket_api"
      end
      # resource path
      local_var_path = '/api/v1/support/tickets/{ticket_id}'.sub('{ticket_id}', CGI.escape(ticket_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"SupportTicketApi.delete_ticket_api",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SupportTicketApi#delete_ticket_api\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param ticket_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [SupportTicket]
    def get_ticket_api(ticket_id, opts = {})
      data, _status_code, _headers = get_ticket_api_with_http_info(ticket_id, opts)
      data
    end

    # @param ticket_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SupportTicket, Integer, Hash)>] SupportTicket data, response status code and response headers
    def get_ticket_api_with_http_info(ticket_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SupportTicketApi.get_ticket_api ...'
      end
      # verify the required parameter 'ticket_id' is set
      if @api_client.config.client_side_validation && ticket_id.nil?
        fail ArgumentError, "Missing the required parameter 'ticket_id' when calling SupportTicketApi.get_ticket_api"
      end
      # resource path
      local_var_path = '/api/v1/support/tickets/{ticket_id}'.sub('{ticket_id}', CGI.escape(ticket_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SupportTicket'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"SupportTicketApi.get_ticket_api",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SupportTicketApi#get_ticket_api\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :status 
    # @option opts [String] :priority 
    # @option opts [String] :assigned_to 
    # @option opts [String] :channel_type 
    # @option opts [String] :customer_id 
    # @option opts [String] :search 
    # @option opts [Integer] :page 
    # @option opts [Integer] :page_size 
    # @return [Array<SupportTicket>]
    def list_tickets_api(opts = {})
      data, _status_code, _headers = list_tickets_api_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :status 
    # @option opts [String] :priority 
    # @option opts [String] :assigned_to 
    # @option opts [String] :channel_type 
    # @option opts [String] :customer_id 
    # @option opts [String] :search 
    # @option opts [Integer] :page 
    # @option opts [Integer] :page_size 
    # @return [Array<(Array<SupportTicket>, Integer, Hash)>] Array<SupportTicket> data, response status code and response headers
    def list_tickets_api_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SupportTicketApi.list_tickets_api ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling SupportTicketApi.list_tickets_api, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling SupportTicketApi.list_tickets_api, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/api/v1/support/tickets'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'priority'] = opts[:'priority'] if !opts[:'priority'].nil?
      query_params[:'assigned_to'] = opts[:'assigned_to'] if !opts[:'assigned_to'].nil?
      query_params[:'channel_type'] = opts[:'channel_type'] if !opts[:'channel_type'].nil?
      query_params[:'customer_id'] = opts[:'customer_id'] if !opts[:'customer_id'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<SupportTicket>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"SupportTicketApi.list_tickets_api",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SupportTicketApi#list_tickets_api\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param ticket_id [String] 
    # @param support_ticket_update [SupportTicketUpdate] 
    # @param [Hash] opts the optional parameters
    # @return [SupportTicket]
    def update_ticket_api(ticket_id, support_ticket_update, opts = {})
      data, _status_code, _headers = update_ticket_api_with_http_info(ticket_id, support_ticket_update, opts)
      data
    end

    # @param ticket_id [String] 
    # @param support_ticket_update [SupportTicketUpdate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SupportTicket, Integer, Hash)>] SupportTicket data, response status code and response headers
    def update_ticket_api_with_http_info(ticket_id, support_ticket_update, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SupportTicketApi.update_ticket_api ...'
      end
      # verify the required parameter 'ticket_id' is set
      if @api_client.config.client_side_validation && ticket_id.nil?
        fail ArgumentError, "Missing the required parameter 'ticket_id' when calling SupportTicketApi.update_ticket_api"
      end
      # verify the required parameter 'support_ticket_update' is set
      if @api_client.config.client_side_validation && support_ticket_update.nil?
        fail ArgumentError, "Missing the required parameter 'support_ticket_update' when calling SupportTicketApi.update_ticket_api"
      end
      # resource path
      local_var_path = '/api/v1/support/tickets/{ticket_id}'.sub('{ticket_id}', CGI.escape(ticket_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(support_ticket_update)

      # return_type
      return_type = opts[:debug_return_type] || 'SupportTicket'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"SupportTicketApi.update_ticket_api",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SupportTicketApi#update_ticket_api\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
