=begin
#SimpleBilly API

#Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.

The version of the OpenAPI document: 0.1.0
Contact: support@simplebilly.com
Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module SimplebillyApi
  class SupplierConditionApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param supplier_condition_create [SupplierConditionCreate] 
    # @param [Hash] opts the optional parameters
    # @return [SupplierCondition]
    def create_supplier_condition(supplier_condition_create, opts = {})
      data, _status_code, _headers = create_supplier_condition_with_http_info(supplier_condition_create, opts)
      data
    end

    # @param supplier_condition_create [SupplierConditionCreate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SupplierCondition, Integer, Hash)>] SupplierCondition data, response status code and response headers
    def create_supplier_condition_with_http_info(supplier_condition_create, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SupplierConditionApi.create_supplier_condition ...'
      end
      # verify the required parameter 'supplier_condition_create' is set
      if @api_client.config.client_side_validation && supplier_condition_create.nil?
        fail ArgumentError, "Missing the required parameter 'supplier_condition_create' when calling SupplierConditionApi.create_supplier_condition"
      end
      # resource path
      local_var_path = '/api/v1/supplier-conditions'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(supplier_condition_create)

      # return_type
      return_type = opts[:debug_return_type] || 'SupplierCondition'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"SupplierConditionApi.create_supplier_condition",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SupplierConditionApi#create_supplier_condition\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param supplier_condition_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_supplier_condition(supplier_condition_id, opts = {})
      delete_supplier_condition_with_http_info(supplier_condition_id, opts)
      nil
    end

    # @param supplier_condition_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_supplier_condition_with_http_info(supplier_condition_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SupplierConditionApi.delete_supplier_condition ...'
      end
      # verify the required parameter 'supplier_condition_id' is set
      if @api_client.config.client_side_validation && supplier_condition_id.nil?
        fail ArgumentError, "Missing the required parameter 'supplier_condition_id' when calling SupplierConditionApi.delete_supplier_condition"
      end
      # resource path
      local_var_path = '/api/v1/supplier-conditions/{supplier_condition_id}'.sub('{supplier_condition_id}', CGI.escape(supplier_condition_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"SupplierConditionApi.delete_supplier_condition",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SupplierConditionApi#delete_supplier_condition\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param supplier_condition_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [SupplierCondition]
    def get_supplier_condition(supplier_condition_id, opts = {})
      data, _status_code, _headers = get_supplier_condition_with_http_info(supplier_condition_id, opts)
      data
    end

    # @param supplier_condition_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SupplierCondition, Integer, Hash)>] SupplierCondition data, response status code and response headers
    def get_supplier_condition_with_http_info(supplier_condition_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SupplierConditionApi.get_supplier_condition ...'
      end
      # verify the required parameter 'supplier_condition_id' is set
      if @api_client.config.client_side_validation && supplier_condition_id.nil?
        fail ArgumentError, "Missing the required parameter 'supplier_condition_id' when calling SupplierConditionApi.get_supplier_condition"
      end
      # resource path
      local_var_path = '/api/v1/supplier-conditions/{supplier_condition_id}'.sub('{supplier_condition_id}', CGI.escape(supplier_condition_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SupplierCondition'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"SupplierConditionApi.get_supplier_condition",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SupplierConditionApi#get_supplier_condition\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page 
    # @option opts [Integer] :page_size 
    # @option opts [String] :supplier_contact_id 
    # @option opts [String] :search 
    # @return [Array<SupplierCondition>]
    def list_supplier_conditions(opts = {})
      data, _status_code, _headers = list_supplier_conditions_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page 
    # @option opts [Integer] :page_size 
    # @option opts [String] :supplier_contact_id 
    # @option opts [String] :search 
    # @return [Array<(Array<SupplierCondition>, Integer, Hash)>] Array<SupplierCondition> data, response status code and response headers
    def list_supplier_conditions_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SupplierConditionApi.list_supplier_conditions ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling SupplierConditionApi.list_supplier_conditions, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling SupplierConditionApi.list_supplier_conditions, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/api/v1/supplier-conditions/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'supplier_contact_id'] = opts[:'supplier_contact_id'] if !opts[:'supplier_contact_id'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<SupplierCondition>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"SupplierConditionApi.list_supplier_conditions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SupplierConditionApi#list_supplier_conditions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param supplier_condition_id [String] 
    # @param supplier_condition_update [SupplierConditionUpdate] 
    # @param [Hash] opts the optional parameters
    # @return [SupplierCondition]
    def update_supplier_condition(supplier_condition_id, supplier_condition_update, opts = {})
      data, _status_code, _headers = update_supplier_condition_with_http_info(supplier_condition_id, supplier_condition_update, opts)
      data
    end

    # @param supplier_condition_id [String] 
    # @param supplier_condition_update [SupplierConditionUpdate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SupplierCondition, Integer, Hash)>] SupplierCondition data, response status code and response headers
    def update_supplier_condition_with_http_info(supplier_condition_id, supplier_condition_update, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SupplierConditionApi.update_supplier_condition ...'
      end
      # verify the required parameter 'supplier_condition_id' is set
      if @api_client.config.client_side_validation && supplier_condition_id.nil?
        fail ArgumentError, "Missing the required parameter 'supplier_condition_id' when calling SupplierConditionApi.update_supplier_condition"
      end
      # verify the required parameter 'supplier_condition_update' is set
      if @api_client.config.client_side_validation && supplier_condition_update.nil?
        fail ArgumentError, "Missing the required parameter 'supplier_condition_update' when calling SupplierConditionApi.update_supplier_condition"
      end
      # resource path
      local_var_path = '/api/v1/supplier-conditions/{supplier_condition_id}'.sub('{supplier_condition_id}', CGI.escape(supplier_condition_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(supplier_condition_update)

      # return_type
      return_type = opts[:debug_return_type] || 'SupplierCondition'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"SupplierConditionApi.update_supplier_condition",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SupplierConditionApi#update_supplier_condition\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
