=begin
#SimpleBilly API

#Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.

The version of the OpenAPI document: 0.1.0
Contact: support@simplebilly.com
Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module SimplebillyApi
  class TaxApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a tax rate (`admin:settings`).
    # @param tax_rate_create [TaxRateCreate] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def create_tax_rate(tax_rate_create, opts = {})
      create_tax_rate_with_http_info(tax_rate_create, opts)
      nil
    end

    # Create a tax rate (&#x60;admin:settings&#x60;).
    # @param tax_rate_create [TaxRateCreate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def create_tax_rate_with_http_info(tax_rate_create, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TaxApi.create_tax_rate ...'
      end
      # verify the required parameter 'tax_rate_create' is set
      if @api_client.config.client_side_validation && tax_rate_create.nil?
        fail ArgumentError, "Missing the required parameter 'tax_rate_create' when calling TaxApi.create_tax_rate"
      end
      # resource path
      local_var_path = '/api/v1/tax-rates'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(tax_rate_create)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"TaxApi.create_tax_rate",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TaxApi#create_tax_rate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a tax rate by id (`admin:settings`).
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_tax_rate(id, opts = {})
      delete_tax_rate_with_http_info(id, opts)
      nil
    end

    # Delete a tax rate by id (&#x60;admin:settings&#x60;).
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_tax_rate_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TaxApi.delete_tax_rate ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TaxApi.delete_tax_rate"
      end
      # resource path
      local_var_path = '/api/v1/tax-rates/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"TaxApi.delete_tax_rate",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TaxApi#delete_tax_rate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List the calling tenant's tax rates.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def list_tax_rates(opts = {})
      list_tax_rates_with_http_info(opts)
      nil
    end

    # List the calling tenant&#39;s tax rates.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def list_tax_rates_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TaxApi.list_tax_rates ...'
      end
      # resource path
      local_var_path = '/api/v1/tax-rates'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"TaxApi.list_tax_rates",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TaxApi#list_tax_rates\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a tax rate by id (`admin:settings`). Replaces all body fields.
    # @param id [String] 
    # @param tax_rate_create [TaxRateCreate] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def update_tax_rate(id, tax_rate_create, opts = {})
      update_tax_rate_with_http_info(id, tax_rate_create, opts)
      nil
    end

    # Update a tax rate by id (&#x60;admin:settings&#x60;). Replaces all body fields.
    # @param id [String] 
    # @param tax_rate_create [TaxRateCreate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def update_tax_rate_with_http_info(id, tax_rate_create, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TaxApi.update_tax_rate ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TaxApi.update_tax_rate"
      end
      # verify the required parameter 'tax_rate_create' is set
      if @api_client.config.client_side_validation && tax_rate_create.nil?
        fail ArgumentError, "Missing the required parameter 'tax_rate_create' when calling TaxApi.update_tax_rate"
      end
      # resource path
      local_var_path = '/api/v1/tax-rates/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(tax_rate_create)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"TaxApi.update_tax_rate",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TaxApi#update_tax_rate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
