=begin
#SimpleBilly API

#Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.

The version of the OpenAPI document: 0.1.0
Contact: support@simplebilly.com
Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module SimplebillyApi
  class TenantSettingsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param [Hash] opts the optional parameters
    # @return [TenantSettings]
    def get_tenant_settings(opts = {})
      data, _status_code, _headers = get_tenant_settings_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @return [Array<(TenantSettings, Integer, Hash)>] TenantSettings data, response status code and response headers
    def get_tenant_settings_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TenantSettingsApi.get_tenant_settings ...'
      end
      # resource path
      local_var_path = '/api/v1/settings/tenant'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TenantSettings'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"TenantSettingsApi.get_tenant_settings",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TenantSettingsApi#get_tenant_settings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param update_tenant_settings [UpdateTenantSettings] 
    # @param [Hash] opts the optional parameters
    # @return [TenantSettings]
    def update_tenant_settings(update_tenant_settings, opts = {})
      data, _status_code, _headers = update_tenant_settings_with_http_info(update_tenant_settings, opts)
      data
    end

    # @param update_tenant_settings [UpdateTenantSettings] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(TenantSettings, Integer, Hash)>] TenantSettings data, response status code and response headers
    def update_tenant_settings_with_http_info(update_tenant_settings, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TenantSettingsApi.update_tenant_settings ...'
      end
      # verify the required parameter 'update_tenant_settings' is set
      if @api_client.config.client_side_validation && update_tenant_settings.nil?
        fail ArgumentError, "Missing the required parameter 'update_tenant_settings' when calling TenantSettingsApi.update_tenant_settings"
      end
      # resource path
      local_var_path = '/api/v1/settings/tenant'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_tenant_settings)

      # return_type
      return_type = opts[:debug_return_type] || 'TenantSettings'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"TenantSettingsApi.update_tenant_settings",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TenantSettingsApi#update_tenant_settings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
