=begin
#SimpleBilly API

#Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.

The version of the OpenAPI document: 0.1.0
Contact: support@simplebilly.com
Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module SimplebillyApi
  class TicketMessageApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param ticket_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<TicketMessage>]
    def list_messages_api(ticket_id, opts = {})
      data, _status_code, _headers = list_messages_api_with_http_info(ticket_id, opts)
      data
    end

    # @param ticket_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<TicketMessage>, Integer, Hash)>] Array<TicketMessage> data, response status code and response headers
    def list_messages_api_with_http_info(ticket_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TicketMessageApi.list_messages_api ...'
      end
      # verify the required parameter 'ticket_id' is set
      if @api_client.config.client_side_validation && ticket_id.nil?
        fail ArgumentError, "Missing the required parameter 'ticket_id' when calling TicketMessageApi.list_messages_api"
      end
      # resource path
      local_var_path = '/api/v1/support/tickets/{ticket_id}/messages'.sub('{ticket_id}', CGI.escape(ticket_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<TicketMessage>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"TicketMessageApi.list_messages_api",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TicketMessageApi#list_messages_api\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param ticket_id [String] 
    # @param send_message_dto [SendMessageDto] 
    # @param [Hash] opts the optional parameters
    # @return [TicketMessage]
    def send_message_api(ticket_id, send_message_dto, opts = {})
      data, _status_code, _headers = send_message_api_with_http_info(ticket_id, send_message_dto, opts)
      data
    end

    # @param ticket_id [String] 
    # @param send_message_dto [SendMessageDto] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(TicketMessage, Integer, Hash)>] TicketMessage data, response status code and response headers
    def send_message_api_with_http_info(ticket_id, send_message_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TicketMessageApi.send_message_api ...'
      end
      # verify the required parameter 'ticket_id' is set
      if @api_client.config.client_side_validation && ticket_id.nil?
        fail ArgumentError, "Missing the required parameter 'ticket_id' when calling TicketMessageApi.send_message_api"
      end
      # verify the required parameter 'send_message_dto' is set
      if @api_client.config.client_side_validation && send_message_dto.nil?
        fail ArgumentError, "Missing the required parameter 'send_message_dto' when calling TicketMessageApi.send_message_api"
      end
      # resource path
      local_var_path = '/api/v1/support/tickets/{ticket_id}/messages'.sub('{ticket_id}', CGI.escape(ticket_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(send_message_dto)

      # return_type
      return_type = opts[:debug_return_type] || 'TicketMessage'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"TicketMessageApi.send_message_api",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TicketMessageApi#send_message_api\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
