=begin
#SimpleBilly API

#Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.

The version of the OpenAPI document: 0.1.0
Contact: support@simplebilly.com
Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module SimplebillyApi
  class TimeEntriesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Clock in for the authenticated user (resolved via their employee profile).
    # @param time_entry_clock_in [TimeEntryClockIn] 
    # @param [Hash] opts the optional parameters
    # @return [TimeEntryDto]
    def clock_in_time_entry(time_entry_clock_in, opts = {})
      data, _status_code, _headers = clock_in_time_entry_with_http_info(time_entry_clock_in, opts)
      data
    end

    # Clock in for the authenticated user (resolved via their employee profile).
    # @param time_entry_clock_in [TimeEntryClockIn] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(TimeEntryDto, Integer, Hash)>] TimeEntryDto data, response status code and response headers
    def clock_in_time_entry_with_http_info(time_entry_clock_in, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TimeEntriesApi.clock_in_time_entry ...'
      end
      # verify the required parameter 'time_entry_clock_in' is set
      if @api_client.config.client_side_validation && time_entry_clock_in.nil?
        fail ArgumentError, "Missing the required parameter 'time_entry_clock_in' when calling TimeEntriesApi.clock_in_time_entry"
      end
      # resource path
      local_var_path = '/api/v1/time-entries'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(time_entry_clock_in)

      # return_type
      return_type = opts[:debug_return_type] || 'TimeEntryDto'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"TimeEntriesApi.clock_in_time_entry",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TimeEntriesApi#clock_in_time_entry\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Clock out an entry: the entry's owner, or anyone with `time_entries:write`.
    # @param id [String] 
    # @param time_entry_clock_out [TimeEntryClockOut] 
    # @param [Hash] opts the optional parameters
    # @return [TimeEntryDto]
    def clock_out_time_entry(id, time_entry_clock_out, opts = {})
      data, _status_code, _headers = clock_out_time_entry_with_http_info(id, time_entry_clock_out, opts)
      data
    end

    # Clock out an entry: the entry&#39;s owner, or anyone with &#x60;time_entries:write&#x60;.
    # @param id [String] 
    # @param time_entry_clock_out [TimeEntryClockOut] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(TimeEntryDto, Integer, Hash)>] TimeEntryDto data, response status code and response headers
    def clock_out_time_entry_with_http_info(id, time_entry_clock_out, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TimeEntriesApi.clock_out_time_entry ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TimeEntriesApi.clock_out_time_entry"
      end
      # verify the required parameter 'time_entry_clock_out' is set
      if @api_client.config.client_side_validation && time_entry_clock_out.nil?
        fail ArgumentError, "Missing the required parameter 'time_entry_clock_out' when calling TimeEntriesApi.clock_out_time_entry"
      end
      # resource path
      local_var_path = '/api/v1/time-entries/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(time_entry_clock_out)

      # return_type
      return_type = opts[:debug_return_type] || 'TimeEntryDto'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"TimeEntriesApi.clock_out_time_entry",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TimeEntriesApi#clock_out_time_entry\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Labor-cost report: worked hours aggregated per employee / order / day, valued at the employee's hourly cost rate.
    # @param from [Date] 
    # @param to [Date] 
    # @param group_by [String] One of \&quot;employee\&quot;, \&quot;order\&quot; or \&quot;day\&quot;.
    # @param [Hash] opts the optional parameters
    # @return [Array<LaborCostRow>]
    def get_labor_costs(from, to, group_by, opts = {})
      data, _status_code, _headers = get_labor_costs_with_http_info(from, to, group_by, opts)
      data
    end

    # Labor-cost report: worked hours aggregated per employee / order / day, valued at the employee&#39;s hourly cost rate.
    # @param from [Date] 
    # @param to [Date] 
    # @param group_by [String] One of \&quot;employee\&quot;, \&quot;order\&quot; or \&quot;day\&quot;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<LaborCostRow>, Integer, Hash)>] Array<LaborCostRow> data, response status code and response headers
    def get_labor_costs_with_http_info(from, to, group_by, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TimeEntriesApi.get_labor_costs ...'
      end
      # verify the required parameter 'from' is set
      if @api_client.config.client_side_validation && from.nil?
        fail ArgumentError, "Missing the required parameter 'from' when calling TimeEntriesApi.get_labor_costs"
      end
      # verify the required parameter 'to' is set
      if @api_client.config.client_side_validation && to.nil?
        fail ArgumentError, "Missing the required parameter 'to' when calling TimeEntriesApi.get_labor_costs"
      end
      # verify the required parameter 'group_by' is set
      if @api_client.config.client_side_validation && group_by.nil?
        fail ArgumentError, "Missing the required parameter 'group_by' when calling TimeEntriesApi.get_labor_costs"
      end
      # resource path
      local_var_path = '/api/v1/labor-costs'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'from'] = from
      query_params[:'to'] = to
      query_params[:'group_by'] = group_by

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<LaborCostRow>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"TimeEntriesApi.get_labor_costs",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TimeEntriesApi#get_labor_costs\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List time entries with optional date-range / active / employee filters.
    # @param [Hash] opts the optional parameters
    # @option opts [Date] :from 
    # @option opts [Date] :to 
    # @option opts [Boolean] :active Only currently running shifts (clock_in set, clock_out null).
    # @option opts [String] :employee_id 
    # @return [Array<TimeEntryDto>]
    def list_time_entries(opts = {})
      data, _status_code, _headers = list_time_entries_with_http_info(opts)
      data
    end

    # List time entries with optional date-range / active / employee filters.
    # @param [Hash] opts the optional parameters
    # @option opts [Date] :from 
    # @option opts [Date] :to 
    # @option opts [Boolean] :active Only currently running shifts (clock_in set, clock_out null).
    # @option opts [String] :employee_id 
    # @return [Array<(Array<TimeEntryDto>, Integer, Hash)>] Array<TimeEntryDto> data, response status code and response headers
    def list_time_entries_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TimeEntriesApi.list_time_entries ...'
      end
      # resource path
      local_var_path = '/api/v1/time-entries'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'from'] = opts[:'from'] if !opts[:'from'].nil?
      query_params[:'to'] = opts[:'to'] if !opts[:'to'].nil?
      query_params[:'active'] = opts[:'active'] if !opts[:'active'].nil?
      query_params[:'employee_id'] = opts[:'employee_id'] if !opts[:'employee_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<TimeEntryDto>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"TimeEntriesApi.list_time_entries",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TimeEntriesApi#list_time_entries\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
