=begin
#SimpleBilly API

#Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.

The version of the OpenAPI document: 0.1.0
Contact: support@simplebilly.com
Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module SimplebillyApi
  class VoucherApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param voucher_create [VoucherCreate] 
    # @param [Hash] opts the optional parameters
    # @return [Voucher]
    def create_voucher(voucher_create, opts = {})
      data, _status_code, _headers = create_voucher_with_http_info(voucher_create, opts)
      data
    end

    # @param voucher_create [VoucherCreate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Voucher, Integer, Hash)>] Voucher data, response status code and response headers
    def create_voucher_with_http_info(voucher_create, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VoucherApi.create_voucher ...'
      end
      # verify the required parameter 'voucher_create' is set
      if @api_client.config.client_side_validation && voucher_create.nil?
        fail ArgumentError, "Missing the required parameter 'voucher_create' when calling VoucherApi.create_voucher"
      end
      # resource path
      local_var_path = '/api/v1/vouchers'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(voucher_create)

      # return_type
      return_type = opts[:debug_return_type] || 'Voucher'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"VoucherApi.create_voucher",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VoucherApi#create_voucher\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param voucher_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_voucher(voucher_id, opts = {})
      delete_voucher_with_http_info(voucher_id, opts)
      nil
    end

    # @param voucher_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_voucher_with_http_info(voucher_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VoucherApi.delete_voucher ...'
      end
      # verify the required parameter 'voucher_id' is set
      if @api_client.config.client_side_validation && voucher_id.nil?
        fail ArgumentError, "Missing the required parameter 'voucher_id' when calling VoucherApi.delete_voucher"
      end
      # resource path
      local_var_path = '/api/v1/vouchers/{voucher_id}'.sub('{voucher_id}', CGI.escape(voucher_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"VoucherApi.delete_voucher",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VoucherApi#delete_voucher\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param voucher_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Voucher]
    def get_voucher(voucher_id, opts = {})
      data, _status_code, _headers = get_voucher_with_http_info(voucher_id, opts)
      data
    end

    # @param voucher_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Voucher, Integer, Hash)>] Voucher data, response status code and response headers
    def get_voucher_with_http_info(voucher_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VoucherApi.get_voucher ...'
      end
      # verify the required parameter 'voucher_id' is set
      if @api_client.config.client_side_validation && voucher_id.nil?
        fail ArgumentError, "Missing the required parameter 'voucher_id' when calling VoucherApi.get_voucher"
      end
      # resource path
      local_var_path = '/api/v1/vouchers/{voucher_id}'.sub('{voucher_id}', CGI.escape(voucher_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Voucher'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"VoucherApi.get_voucher",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VoucherApi#get_voucher\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page 
    # @option opts [Integer] :page_size 
    # @option opts [String] :voucher_type 
    # @option opts [String] :voucher_status 
    # @option opts [String] :contact_name 
    # @option opts [Date] :date_from 
    # @option opts [Date] :date_to 
    # @return [Array<Voucher>]
    def list_vouchers(opts = {})
      data, _status_code, _headers = list_vouchers_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page 
    # @option opts [Integer] :page_size 
    # @option opts [String] :voucher_type 
    # @option opts [String] :voucher_status 
    # @option opts [String] :contact_name 
    # @option opts [Date] :date_from 
    # @option opts [Date] :date_to 
    # @return [Array<(Array<Voucher>, Integer, Hash)>] Array<Voucher> data, response status code and response headers
    def list_vouchers_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VoucherApi.list_vouchers ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling VoucherApi.list_vouchers, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling VoucherApi.list_vouchers, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/api/v1/vouchers/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'voucher_type'] = opts[:'voucher_type'] if !opts[:'voucher_type'].nil?
      query_params[:'voucher_status'] = opts[:'voucher_status'] if !opts[:'voucher_status'].nil?
      query_params[:'contact_name'] = opts[:'contact_name'] if !opts[:'contact_name'].nil?
      query_params[:'date_from'] = opts[:'date_from'] if !opts[:'date_from'].nil?
      query_params[:'date_to'] = opts[:'date_to'] if !opts[:'date_to'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<Voucher>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"VoucherApi.list_vouchers",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VoucherApi#list_vouchers\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param voucher_id [String] 
    # @param body [Object] 
    # @param [Hash] opts the optional parameters
    # @return [Voucher]
    def update_voucher(voucher_id, body, opts = {})
      data, _status_code, _headers = update_voucher_with_http_info(voucher_id, body, opts)
      data
    end

    # @param voucher_id [String] 
    # @param body [Object] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Voucher, Integer, Hash)>] Voucher data, response status code and response headers
    def update_voucher_with_http_info(voucher_id, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VoucherApi.update_voucher ...'
      end
      # verify the required parameter 'voucher_id' is set
      if @api_client.config.client_side_validation && voucher_id.nil?
        fail ArgumentError, "Missing the required parameter 'voucher_id' when calling VoucherApi.update_voucher"
      end
      # resource path
      local_var_path = '/api/v1/vouchers/{voucher_id}'.sub('{voucher_id}', CGI.escape(voucher_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'Voucher'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"VoucherApi.update_voucher",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VoucherApi#update_voucher\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param voucher_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Voucher]
    def voucher_restore(voucher_id, opts = {})
      data, _status_code, _headers = voucher_restore_with_http_info(voucher_id, opts)
      data
    end

    # @param voucher_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Voucher, Integer, Hash)>] Voucher data, response status code and response headers
    def voucher_restore_with_http_info(voucher_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VoucherApi.voucher_restore ...'
      end
      # verify the required parameter 'voucher_id' is set
      if @api_client.config.client_side_validation && voucher_id.nil?
        fail ArgumentError, "Missing the required parameter 'voucher_id' when calling VoucherApi.voucher_restore"
      end
      # resource path
      local_var_path = '/api/v1/vouchers/{voucher_id}/restore'.sub('{voucher_id}', CGI.escape(voucher_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Voucher'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"VoucherApi.voucher_restore",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VoucherApi#voucher_restore\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
