=begin
#SimpleBilly API

#Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.

The version of the OpenAPI document: 0.1.0
Contact: support@simplebilly.com
Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module SimplebillyApi
  class WarehouseStockApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param warehouse_id [String] 
    # @param stock_adjustment [StockAdjustment] 
    # @param [Hash] opts the optional parameters
    # @return [WarehouseStock]
    def create_warehouse_stock(warehouse_id, stock_adjustment, opts = {})
      data, _status_code, _headers = create_warehouse_stock_with_http_info(warehouse_id, stock_adjustment, opts)
      data
    end

    # @param warehouse_id [String] 
    # @param stock_adjustment [StockAdjustment] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(WarehouseStock, Integer, Hash)>] WarehouseStock data, response status code and response headers
    def create_warehouse_stock_with_http_info(warehouse_id, stock_adjustment, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WarehouseStockApi.create_warehouse_stock ...'
      end
      # verify the required parameter 'warehouse_id' is set
      if @api_client.config.client_side_validation && warehouse_id.nil?
        fail ArgumentError, "Missing the required parameter 'warehouse_id' when calling WarehouseStockApi.create_warehouse_stock"
      end
      # verify the required parameter 'stock_adjustment' is set
      if @api_client.config.client_side_validation && stock_adjustment.nil?
        fail ArgumentError, "Missing the required parameter 'stock_adjustment' when calling WarehouseStockApi.create_warehouse_stock"
      end
      # resource path
      local_var_path = '/api/v1/warehouses/{warehouse_id}/stock'.sub('{warehouse_id}', CGI.escape(warehouse_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(stock_adjustment)

      # return_type
      return_type = opts[:debug_return_type] || 'WarehouseStock'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"WarehouseStockApi.create_warehouse_stock",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WarehouseStockApi#create_warehouse_stock\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param warehouse_id [String] 
    # @param product_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_warehouse_stock(warehouse_id, product_id, opts = {})
      delete_warehouse_stock_with_http_info(warehouse_id, product_id, opts)
      nil
    end

    # @param warehouse_id [String] 
    # @param product_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_warehouse_stock_with_http_info(warehouse_id, product_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WarehouseStockApi.delete_warehouse_stock ...'
      end
      # verify the required parameter 'warehouse_id' is set
      if @api_client.config.client_side_validation && warehouse_id.nil?
        fail ArgumentError, "Missing the required parameter 'warehouse_id' when calling WarehouseStockApi.delete_warehouse_stock"
      end
      # verify the required parameter 'product_id' is set
      if @api_client.config.client_side_validation && product_id.nil?
        fail ArgumentError, "Missing the required parameter 'product_id' when calling WarehouseStockApi.delete_warehouse_stock"
      end
      # resource path
      local_var_path = '/api/v1/warehouses/{warehouse_id}/stock/{product_id}'.sub('{warehouse_id}', CGI.escape(warehouse_id.to_s)).sub('{product_id}', CGI.escape(product_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"WarehouseStockApi.delete_warehouse_stock",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WarehouseStockApi#delete_warehouse_stock\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param warehouse_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<WarehouseStock>]
    def list_warehouse_stock(warehouse_id, opts = {})
      data, _status_code, _headers = list_warehouse_stock_with_http_info(warehouse_id, opts)
      data
    end

    # @param warehouse_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<WarehouseStock>, Integer, Hash)>] Array<WarehouseStock> data, response status code and response headers
    def list_warehouse_stock_with_http_info(warehouse_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WarehouseStockApi.list_warehouse_stock ...'
      end
      # verify the required parameter 'warehouse_id' is set
      if @api_client.config.client_side_validation && warehouse_id.nil?
        fail ArgumentError, "Missing the required parameter 'warehouse_id' when calling WarehouseStockApi.list_warehouse_stock"
      end
      # resource path
      local_var_path = '/api/v1/warehouses/{warehouse_id}/stock'.sub('{warehouse_id}', CGI.escape(warehouse_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<WarehouseStock>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"WarehouseStockApi.list_warehouse_stock",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WarehouseStockApi#list_warehouse_stock\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param warehouse_id [String] 
    # @param product_id [String] 
    # @param stock_adjustment [StockAdjustment] 
    # @param [Hash] opts the optional parameters
    # @return [WarehouseStock]
    def update_warehouse_stock(warehouse_id, product_id, stock_adjustment, opts = {})
      data, _status_code, _headers = update_warehouse_stock_with_http_info(warehouse_id, product_id, stock_adjustment, opts)
      data
    end

    # @param warehouse_id [String] 
    # @param product_id [String] 
    # @param stock_adjustment [StockAdjustment] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(WarehouseStock, Integer, Hash)>] WarehouseStock data, response status code and response headers
    def update_warehouse_stock_with_http_info(warehouse_id, product_id, stock_adjustment, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WarehouseStockApi.update_warehouse_stock ...'
      end
      # verify the required parameter 'warehouse_id' is set
      if @api_client.config.client_side_validation && warehouse_id.nil?
        fail ArgumentError, "Missing the required parameter 'warehouse_id' when calling WarehouseStockApi.update_warehouse_stock"
      end
      # verify the required parameter 'product_id' is set
      if @api_client.config.client_side_validation && product_id.nil?
        fail ArgumentError, "Missing the required parameter 'product_id' when calling WarehouseStockApi.update_warehouse_stock"
      end
      # verify the required parameter 'stock_adjustment' is set
      if @api_client.config.client_side_validation && stock_adjustment.nil?
        fail ArgumentError, "Missing the required parameter 'stock_adjustment' when calling WarehouseStockApi.update_warehouse_stock"
      end
      # resource path
      local_var_path = '/api/v1/warehouses/{warehouse_id}/stock/{product_id}'.sub('{warehouse_id}', CGI.escape(warehouse_id.to_s)).sub('{product_id}', CGI.escape(product_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(stock_adjustment)

      # return_type
      return_type = opts[:debug_return_type] || 'WarehouseStock'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_token']

      new_options = opts.merge(
        :operation => :"WarehouseStockApi.update_warehouse_stock",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WarehouseStockApi#update_warehouse_stock\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
